/* create sticky menu bar */
.fixed { position: fixed; left: 0px; top: 0px; right: 0px; z-index: 1; }

.mainTitle {
	color:#6C0000;
	font-family: 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;	 
	font-weight: 700;
}

.imgButtonNav {
	width:80%; 
	height:80%;
}

.headerTitle {
	color:#6C0000;
	font-family: 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;	 
	font-weight: 700;
}

.tableTitle {
	background-color:#058689;
	border:2px solid #058689;
	color:white;
}

.jumbotronOverride {
	background:white;
	border:2px solid #055659;
}

.panelOverride {
	background:white;
	border:2px solid #055659;
}

.panelTitleOverride {
	background-color:#058689;
	border:2px solid #055659;
	color:white;
	text-align:center;
}


.iconImage {
	height: 50px;
}

.loginLink {
	float:right;
	color: #F5F38E;
	font-size: 16px;
	padding-top:10px;
	padding-right:15%;
	cursor: pointer;
}

.loginLink a {
	color: #F5F38E;
	font-size: 16px;
	cursor: pointer;
}

.emailLink {
	color:NavajoWhite;
	font-size:15px;
	cursor: pointer;
}

.center-column-text {
	text-align: center; 
	vertical-align: middle;
}

.left-column-text {
	text-align: left; 
	vertical-align: middle;
}

.right-column-text {
	text-align: right; 
	vertical-align: middle;
}

.pickGameTable  {
	width: 100%; 
}

.scrollClass {
	overflow: auto;
	height: 480px;
}

.MemberWeeklyTable {
	padding-top:20px;
	padding: 3px;  
	width:100%;
}

.MemberWeeklyTable img {
	padding:3px;
}

.MemberWeeklyTable th {
	text-align: center; 
}

.leaderBoardTable  {
	width: 100%; 
}

.leaderBoardTable img {
	padding:3px;
}

.leaderBoardTable th {
	text-align: center; 
}

.teamSelected  {
	background-color: maroon;
	color:white; 
	border:1px solid white;
}

.teamWon  {
	background-color: #006600;
	color:white; 	
	border:1px solid white;
}

.teamLost  {
	color:black; 
}

.teamNotSelected  {
	background-color: white;
	color:black; 
}

.pickGameTable  th {
	text-align: center; 
	vertical-align: middle;
	/*color: #6C0000;*/
	font-size: 16px;
	font-style: bold;
	/*border-top: 1px solid red;*/
	/*border-bottom: 2px solid #6C0000;*/
}

.pickGameTable td  {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.pickGameTable tr  {
	line-height: 35px;
}

.menuItems {
	padding-top:10px;
	padding-right:20px;
	font-size: 17px;
}

.tableItems tr {
	border-bottom: 1px solid lightgrey;
}

.tableItems tr td {
	padding:3px;
	font-size: 13px;
}

.tableItems tr th {
	padding:3px;
	font-size: 14px;
	color:white;
	text-align: center;
}

.afctitle  {
	background:maroon;
}

.nfctitle  {
	background:#000066;
}

/* teaminfoGrid grid */
.teaminfoGrid {
    width: 100%;
    height: 640px;
}

/* gameinfoGrid grid */
.gameinfoGrid {
    width: 100%;
    height: 550px;
}

.teamdetailTableFirstRow {
	width:20%;
}


/*banner stuff*/
.bannerText  {
	font-size: 24px;
	font-family: "Balthazar", Arial, Helvetica, sans-serif;
}

.bannerTextSmall {
	font-size: 13px;
	font-family: "Balthazar", Arial, Helvetica, sans-serif;
}

/*imgae css*/
.centeredImage {
	text-align: center;
	/*clear: left;*/
    margin-right: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	width:'100%';
}

/* all page css */
.topPagePosition {
	padding-top:85px; 
}

.pageCaption {
	padding-left:35px;
	padding-bottom:25px;
	/*height: 35px;*/
/*	padding-top:50px;*/
	color:maroon;
	font-weight:600; 
}

.panelCaption {
	color:teal;
	font-weight:700; 
}

.panelTable {
	/*color:teal;*/
	/*font-weight:700; */
	line-height: 35px;
	border-color: white;
}

.subpanelCaption {	
	color:red;
	font-weight:600; 
}

.pageStandardOffset {
	padding-left:35px;
	padding-right:15px;
}

.horizontalFieldOffset {
	padding-left:15px;
	padding-right:15px;
}

.objectOffset {
	padding-top:15px;
	padding-bottom:15px;
}

.inboxTableFirstRow {
	width:20%;
}

.keyrequestsTableFirstRow {
	width:20%;
}

.keyrequestDetailTableFirstRow {
	width:35%;
}

/* inbox grid */
.inboxGrid {
    width: 100%;
    height: 250px;
}

/* keyRequestsGrid grid */
.keyRequestsGrid {
    width: 100%;
    height: 250px;
}

.header-filtered {
  color: blue;
}

/*panel images */
.panel-img {
    margin-left:auto;
    margin-right:auto;
    width:"100%" !important;
    /*height:350px !important;*/
}

/*drop down boostrap menus */
.dropdown :hover {
    cursor: pointer;
}

/*boostrap collabsable*/
.panel-title :hover {
    cursor: pointer;
}

.showPointer :hover {
    cursor: pointer;
}

/*ddd footer*/
.ddd-footer {
	background:LightSeaGreen;
	height:475px;
	color:Snow;
	font-size:15px;
	text-decoration: none;
	font-family:"Lusitana", Arial, Helvetica, sans-serif;
}

/* ddd paragraph text large */
.ddd-paragraph {
	color:grey;
	font-size:18px;
	font-weight:300;
	/*font-family:"Lusitana", Arial, Helvetica, sans-serif;*/
	padding:15px;
}

.ddd-paragraph-header-large {
	color:black;
	font-size:18px;
	font-weight:600;
	/*font-family:"Lusitana", Arial, Helvetica, sans-serif;*/
}

.ddd-paragraph-large {
	color:black;
	font-size:20px;
	font-weight:300;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
}

.ddd-paragraph-large li {
	padding-top:10px;
}