<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption">
  <h2 class="headerTitle">Hall Of Memory</h2>
</div> <!-- end of row -->

<div style="padding-left:25px;" class="pageStandardOffset row">

<div ng-repeat="hallofmemory in hallofmemorys">
    <div ng-mouseover="homimage = hallofmemory.photoB;
                         homtitle = hallofmemory.titleB;
                         homdetail = hallofmemory.detailB" 
          ng-mouseout="homimage = hallofmemory.photoA;
                       homtitle = hallofmemory.titleA;
                       homdetail = hallofmemory.detailA" 
          ng-init="homimage = hallofmemory.photoA;
                   homtitle = hallofmemory.titleA;
                   homdetail = hallofmemory.detailA">
        <div class="thumbnail">
            <img 
            id ="{{hallofmemory.memberid}}" 
            ng-src="../img/hallofmemory/{{homimage}}">
        </div> <!-- end of thumbnail -->
            
        <div class="caption">
            <h3 ng-bind-html="homtitle" class="hallFameParagraphCaptionHeader">
              
            </h3> 

            <p ng-bind-html="homdetail" class="hallFameParagraph">
             
            </p>
        </div>  <!-- end of caption -->
  </div> <!-- end of repeat and cols -->
</div> <!-- end of row -->

<div style="padding-bottom:70px;">&nbsp;</div>