<div class="container">

	<div class="pageNavbarOffset">&nbsp;</div>

	<div style="padding-top:10px;">&nbsp;</div>

	<div id="navbarButtons">
		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="membergamessheading">
			<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#membergames" class="collapsed" aria-expanded="false">
			<img style="vertical-align:middle;height:40px;display:inline;" class="" src="../img/buttons/games-mobile.png"><span style="padding-left:15px;">Games&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
			</a>
		</div> <!-- end of button -->

		<div id="membergames" class="collapse" aria-expanded="false" style="height:0px;">
			<a href="#/pickgames" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Pick Games</a>
			<a href="#/viewselectpickgames" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Member Picks for Week</a>
			<a href="#/viewtotalpickgames" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Total Member Team Picks for week</a>
		</div> <!-- end of panel collapse -->

		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="memberstatsheading">
				<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#memberstats" class="" aria-expanded="false">
				<img style="vertical-align:middle;height:40px;display:inline;" class="" src="../img/buttons/memberstats-mobile.png"><span style="padding-left:15px;">Member Stats&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</a>
		</div> <!-- end of button -->

		<div id="memberstats" class="collapse">
			<a href="#/playerstatstotalwins" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Total Wins Leader</a>
			<a href="#/playerstatstotalpercentage" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Total Percentage Leader</a>
			<a href="#/playerstatsmemberweekly" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Weekly Totals</a>
		</div> <!-- end of panel collapse -->

		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="teamsheading">
				<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#teams" class="collapsed" aria-expanded="false">
				<img style="vertical-align:middle;height:40px;display:inline;" class="" src="../img/buttons/team-mobile.png"><span style="padding-left:15px;">Teams&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</a>
		</div> <!-- end of button -->

		<div id="teams" class="collapse" aria-expanded="false">
			<a href="#/teamstandings" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Standings</a>
			<a href="#/teamweeklyranking" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Weekly Ranking</a>
			<a href="#/teamstatscharts" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Stats Charts</a>
			<a href="#/playoffstandings" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Playoff Bracket</a>
			<a href="http://www.nfl.com/scores" target="_blank" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Current Scores</a>			
			<a href="#/nflnews" class="btn btn-info btn-lg active btn-block left-column-text" role="button left-column-text">NFL News</a>
			<a href="#/teamdiscovery" class="btn btn-info btn-lg active btn-block left-column-text" role="button left-column-text">Team Discovery</a>
		</div> <!-- end of panel collapse -->

		<div style="background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="halloffameheading">
				<a style="text-decoration:none;" data-parent="#navbarButtons" href="#halloffame" class="" aria-expanded="false">
				<img style="vertical-align:middle;height:40px;display:inline;" class="" src="../img/buttons/halloffame-mobile.png"><span style="padding-left:15px;">Hall of Fame&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</a>
		</div> <!-- end of button -->

		<div style="background-color:#F6F59B;text-align:left;margin-top:0" class="btn btn-info btn-lg active btn-block" id="newsopinion">
				<a style="text-decoration:none;" data-parent="#navbarButtons" href="#newsopinion" class="" aria-expanded="false">
				<img style="vertical-align:middle;height:40px;display:inline;" class="" src="../img/buttons/newsandopinion-mobile.png"><span style="padding-left:15px;">League News & Opinion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</a>
		</div> <!-- end of button -->

		<div style="margin-top:0px;background-color:#F6F59B;text-align:left;" class="btn btn-info btn-lg active btn-block" id="adminselect">
				<a style="text-decoration:none;" data-toggle="collapse" data-parent="#navbarButtons" data-target="#admin" class="collapsed" aria-expanded="false">
				<img style="vertical-align:middle;height:40px;display:inline;" class="" src="../img/buttons/admin-mobile.png"><span style="padding-left:15px;">Administration&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</a>
		</div> <!-- end of button -->

		<div id="admin" class="collapse" aria-expanded="false">
			<a href="#/teaminfo" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Team Information</a>
			<a href="#/teamseasoninfo" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Team Season Information</a>
			<a href="#/gameinfo" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Game Day Informtion</a>
			<a href="#/gamenetworkinfo" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Set Game Networks</a>
			<a href="#/gameteamscoresinfo" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Set Game Scores</a>
			<a href="#/gameteamdatetimeinfo" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Set Game Date Time</a>
			<a href="#/gameranking" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Game Week Ranking</a>
			<a href="#/addmember" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Member Add</a>
			<a href="#/updatemember" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Member Manage</a>
			<a href="#/addavatar" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Member Avatar</a>
			<a href="#/sendplayeremail" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Member eMail</a>
            <a href="#/addmembergroup" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Group Add</a>
			<a href="#/updatemembergroup" class="btn btn-info btn-lg active btn-block left-column-text" role="button">Group Manage</a>
			<a href="#/weeklyscripts" class="btn btn-info btn-lg active btn-block left-column-text" role="button">System Scripts</a>
		</div> <!-- end of panel collapse -->

		<div style="padding-top:50px;"></div>

		<a href="" id="menubarlogin" name="menubarlogin" ng-click="loginlogoff()" class="btn btn-danger btn-lg active btn-block" role="button">Login</a>

		<div style="padding-top:20px;">&nbsp;</div>
	</div>
</div> <!-- end of container -->


<!-- dialogs -->
<div class="modal fade" id="homePicShowModal" tabindex="-1" role="dialog" aria-labelledby="homePicShowModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" style="text-align:center" id="homePicModalTitle">May the Christmas Spirit shine on you and your Family!</h4>
      </div>
      <div class="modal-body">
        <p id="homePicModalBody">
        	<img src="../img/ChristmasHomeScrn2018.png" style="width:100%;text-align:center;" alt="Thank you Lord for all that we have!">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
    