<div class="container">
  
<a href="#/pickgames" class="btn btn-primary btn-lg active btn-block" role="button">Pick Games</a>
<a href="#/viewtotalpickgames" class="btn btn-primary btn-lg active btn-block" role="button">Player Picks for week by Team</a>
<a href="#/leaderboard" class="btn btn-info btn-lg active btn-block" role="button">Leader Board</a>

<div style="padding-top:50px;"></div>

<a href="#/leaderboard" id="menubarlogin" name="menubarlogin" ng-click="loginlogoff()" class="btn btn-danger btn-lg active btn-block" role="button">Login</a>

<div style="padding-top:20px;">&nbsp;</div>

</div> <!-- end of container -->
    