<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption">
  <h3 class="headerTitle2">League Tidings & Opinions</h3>
</div> <!-- end of row -->

<div style="padding-left:25px;" class="pageStandardOffset">

  <div id="newsopinion" class="newsOpinion" ng-include="'../app/partials/inewsopinion.html'" >
  </div> <!-- end of newsopinion -->

  <div id="memberresults" class="newsOpinion" ng-include="'../app/partials/imemberresultssummary.html'">
  </div> <!-- end of memberresults -->

  <div id="weeksgameinfo" class="newsOpinion" ng-include="'../app/partials/iweeksgameinfo.html'" >
  </div> <!-- end of weeksgameinfo -->

  <div style="padding-top:30px;" id="didyouknow" class="newsOpinion" ng-include="'../app/partials/ididyouknow.html'" >
  </div> 
  <!-- end of didyouknow -->

  <div style="padding-top: 0px;padding-bottom: 15px;" id="inflobservations" class="newsOpinion" ng-include="'../app/partials/inflobservationsdynamic.html'">
  </div> <!-- end of inflobservations --> 


  <div style="padding-top: 30px;" id="helpnews" class="newsOpinion" ng-include="'../app/partials/ihelpnews.html'">
  </div> <!-- end of ihelpnews -->

  <div style="padding-top: 30px;" id="didyouknowBody" class="onemorething" ng-include="'../app/partials/idddupdates.html'">
  </div> <!-- end of onemorething --> 

</div> <!-- end of pageoffset -->

<div style="padding-bottom:70px;">&nbsp;</div>