<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption">
  <h3 class="headerTitle2">League News & Opinion</h3>
</div> <!-- end of row -->

<div style="padding-left:25px;" class="pageStandardOffset">

  <div id="newsopinion" class="newsOpinion" ng-include="'../app/partials/inewsopinion.html'" >
  </div> <!-- end of newsopinion -->

  <div id="weeksgameinfo" class="newsOpinion" ng-include="'../app/partials/iweeksgameinfo.html'" >
  </div> <!-- end of weeksgameinfo -->

  <div style="padding-top:30px;" id="didyouknow" class="newsOpinion" ng-include="'../app/partials/ididyouknow.html'" >
  </div> <!-- end of didyouknow -->
          
</div> <!-- end of pageoffset -->

<div style="padding-bottom:70px;">&nbsp;</div>