<div class="pageNavbarOffset">&nbsp;</div>

<form id="pickweekForm" name="pickweekForm">
<div class="pageCaption">
		<h2 style="display:inline;" class="headerTitle">Pick Your Teams</h2>
</div> <!-- end of row -->	

<div class="row">
	<div class="col-md-12 form-inline">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">
					<div class="form-group horizontalFieldOffset">
						<label for="memberid" class="control-label">Player</label>
				        <select class="customSelect form-control" ng-change="getMemberWeekPicks('member')" ng-model="current.memberid" id="memberid" name="memberid" ng-disabled="checkRole()">
				            <option ng-selected="current.memberid == member.id"  ng-repeat="member in members" value="{{member.id}}">{{member.screenname}}</option>
				        </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="season" class="control-label">Season</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks('season')" ng-model="current.season" id="season" name="season">
			                <option ng-repeat="season in seasons" ng-selected="current.season == season.season" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="week" class="control-label">Week</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks('week')" ng-model="current.week" id="week" name="week">
			                <option ng-repeat="week in weeks" ng-selected="current.week == week.week" value="{{week.week}}"> {{week.week}} = {{week.weekstart}} - {{week.weekend}}</option>
			            </select>
					</div> <!-- end of form-group --> 

					<div class="form-group horizontalFieldOffset">
		                <button type="button" class="btn btn-danger btn-lg btn-block center-block" ng-click="saveGames()" id="saveGamesBottom" name="saveGamesBottom">Save Picks</button>
					</div> <!-- end of form-group --> 

				</div> <!-- end of panel body -->		
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div style="padding-left:25px;" class="pageStandardOffset">
	<div class="pickTeamsList" ng-repeat="game in games">
		<div class="pickTeamsPair" >
			<div style="padding-top:3px;padding-bottom:2px;padding-right:3px;" class="row" >
				<div style="display:inline-block;line-height:50px;"  class="col-xs-3 col-sm-3 col-md-3 col-lg-3" id='pickh_{{game.gamenbr}}_icon'>
				    <input ng-model="game.teamselected" ng-disabled="{{game.awayteamid == game.teamselected || game.teamselected == null}}" name='pick_{{game.gamenbr}}' id='pickh_{{game.gamenbr}}' value='{{game.hometeamid}}' type='hidden'/>
				
					<img style="display:inline-block;float:right;" ng-click="getTeamStats(game.hometeamid,game.awayteamid,game.gamenbr)" height="50" ng-src='../img/nflicons/{{game.hometeamiconname}}'>
				</div>

				<div style="display:inline-block;line-height:50px;" class="left-column-text col-xs-7 col-sm-7 col-md-7 col-lg-7" name='pickh_div' id='pickh_{{game.gamenbr}}_teamname' ng-class="{{game.hometeamid == game.teamselected}} ? 'teamSelected' : 'teamNotSelected'" ng-click="setSelectTeam('home',game.gamenbr,game.awayteamid,game.hometeamid,game.gamestatus)">
					<span class="left-column-text">{{game.hometeamlocation}} &nbsp; {{game.hometeamname}} (H)</span>
				</div>
				
				<div style="display:inline-block;line-height:50px;"  class="center-column-text col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-class="compareScores( 'home', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost'">
					<span class="center-column-text">{{game.hometeamscore}}</span>
				</div>
			</div> <!-- end of row -->

			<div style="padding-left:3px;padding-top:3px;padding-bottom:2px;padding-right:3px;" class="row">
				<div style="display:inline-block;line-height:50px;" class="left-column-text col-xs-3 col-sm-3 col-md-3 col-lg-3" id='picka_{{game.gamenbr}}_icon' >
				    <input ng-model="game.teamselected" ng-disabled="{{game.hometeamid == game.teamselected || game.teamselected == null}}" name='pick_{{game.gamenbr}}' id='picka_{{game.gamenbr}}' value='{{game.awayteamid}}' type='hidden' />
				
					<img style="display:inline;line-height:50px;float:right;" ng-click="getTeamStats(game.hometeamid,game.awayteamid,game.gamenbr)" height="50" ng-src='../img/nflicons/{{game.awayteamiconname}}'>
				</div>

				<div style="display:inline-block;line-height:50px;"  class="left-column-text col-xs-7 col-sm-7 col-md-7 col-lg-7" name='picka_div' id='picka_{{game.gamenbr}}_teamname' ng-click="setSelectTeam('away',game.gamenbr,game.awayteamid,game.hometeamid,game.gamestatus)" ng-class="{{game.awayteamid == game.teamselected}} ? 'teamSelected' : 'teamNotSelected'">
					<span class="left-column-text">{{game.awayteamlocation}} &nbsp; {{game.awayteamname}} (A)</span>
				</div>

				<div style="display:inline-block;line-height:50px;" class="center-column-text col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-class="compareScores( 'away', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost'">
					<span class="center-column-text">{{game.awayteamscore}}</span>
				</div>
			</div> <!-- end of row -->

		</div>	<!-- end of pickTeamsPair -->

		<hr>

	</div> <!-- end of pickTeamsList -->

	<div ng-if="byegames.length" class="pageStandardOffset">
		<div>
			<img style="width:100%;padding:5px;" class="center-block img-rounded" ng-src="../img/pickteamsbye.png">
		</div> <!-- end of div img -->

		<div>
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body table-responsive">
					<table class="table pickGameTable" >
						<tr class="tableTitle">
							<th colspan=5>Bye Teams for Week</th>
						</tr>

						<tr ng-repeat="byegame in byegames">
							<td class="left-column-text">
								<a ng-href="{{byegame.teamurl}}" target="_blank">
								<img height="50" ng-src='../img/nflicons/{{byegame.teamiconname}}'>
								</a>
							</td>

							<td class="left-column-text">
								{{byegame.teamlocation}} &nbsp; {{byegame.teamname}}
							</td>
						</tr>
					</table>
				</div> <!-- end of panel body -->
			</div> 	<!-- end of panel -->
		</div> <!-- end of col 6 -->
	</div> <!-- end of row -->

</div> <!-- end of pageStandardOffset -->

<div style="padding-top:15px; padding-bottom:20px;" class="row">
	<div class="col-md-offset-1  col-md-11">
		<button style="width:80%;font-weight:bold;font-variant:small-caps;letter-spacing:5px;" type="button" class="btn btn-danger btn-lg btn-block center-block" ng-click="saveGames()" id="saveGamesBottom" name="saveGamesBottom">Save Picks</button>
	</div><!-- end of col 12 -->
</div> <!-- end of row -->
</form>

<!-- dialogs -->
<div class="modal fade" id="gamesSavedDialogModal" tabindex="-1" role="dialog" aria-labelledby="gamesSavedDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="gamesSavedDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="gamesSavedDialogModalLabelBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  

<div class="modal fade" id="teamStatsDialogModal" tabindex="-1" role="dialog" aria-labelledby="teamStatsDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="teamStatsDialogModalTitle"></h4>
      </div>
      <div class="modal-body" id="teamStatsDialogModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
