<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">Team Discovery</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="container">

	<div class="row">
		<div class="thumbnail">
		  <img src="../img/nfl-badge.png" alt="booooo">
		  <div class="caption">
		    <h3>The NFL</h3>
		    <p>A website where you can gather information about players, games and other NFL memorabilia.</p>
		    <hr>
		  </div>
		</div>
	</div> <!-- end of row -->

	<div class="row">
		<div class="thumbnail">
		  <img src="../img/espn-logo.png" alt="booooo">
		  <div class="caption">
		    <h3>ESPN NFL</h3>
		    <p>A website where you can gather information about players, games and other NFL memorabilia.</p>
		    <hr>
		  </div>
		</div>
	</div> <!-- end of row -->

	<div class="row">
		<div class="thumbnail">
		  <img src="../img/cbs-logo.png" alt="yeah">
		  <div class="caption">
		    <h3>CBS Sports NFL</h3>
		    <p>A website where you can gather information about players, games and other NFL memorabilia.</p>
		    <hr>
		  </div>
		</div>
	</div> <!-- end of row -->

	<div class="row">
		<div ng-repeat="team in teams">
			<div class="thumbnail">
				<a ng-href="{{team.teamurl}}" target="_blank">
				<img id="game{{$index}}" ng-src="../img/nflicons/{{team.teamiconname}}">
				</a>
				<div class="caption">
				<h3>{{team.location}} {{team.name}}</h3>
				<hr>
				</div> <!-- end of caption -->
			</div> <!-- end of thumbnail -->
		</div> <!-- end of repeat  -->
	</div> <!-- end of row -->

</div> <!-- end of container 	 -->
