<div class="pageNavbarOffset">&nbsp;</div>

<form id="teamsbracketForm" name="teamsbracketForm">
<div class="pageCaption row">
     <div class="col-md-12">
     	<h3 class="headerTitle4">Manage Team Bracket</h3>
 	</div> <!-- end of column -->
</div> <!-- end of row -->

<div class="row">
	<div class="col-md-12 form-inline">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">

					<div class="form-group horizontalFieldOffset">
				    	<label for="season" class="control-label">Season</label>
			            <select class="customSelect form-control" ng-change="getTeamBracketsInfo('season')" ng-model="current.season" id="selectseason" name="selectseason">
			                <option ng-repeat="season in seasons" ng-selected="current.season == season.season" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->

				<!-- 	<div class="form-group horizontalFieldOffset">
				    	<label for="week" class="control-label">Week</label>
			            <select class="customSelect form-control" ng-change="getTeamBracketsInfo('week')" ng-model="current.week" id="week" name="week">
			                <option ng-repeat="week in weeks" ng-selected="current.week == week.week" value="{{week.week}}"> {{week.week}}</option>
			            </select>
					</div>  -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="bracket" class="control-label">Team Bracket</label>
			            <select class="customSelect form-control" ng-change="getTeamBracketInfo('bracket')" ng-model="current.bracket" id="selectbracket" name="selectbracket">
			                <option ng-repeat="teambracket in teambrackets" ng-selected="current.bracket == teambracket.bracket" value="{{teambracket.bracket}}"> {{teambracket.bracket}}</option>
			            </select>
					</div> <!-- end of form-group -->  
				
					<!-- <div style="padding-left:15px;"class="form-group horizontalFieldOffset">
		                <button  style="font-weight:bold;" class="btn btn-danger btn-sm" ng-click="saveTeamBracketInfo()" id="saveTeamBracket" name="saveTeamBracket" >Save Bracket</button>
					</div>  --><!-- end of form-group --> 

				</div> <!-- end of panel body -->		
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div class="row">
	<div class="col-md-12">
      <div style="padding-left:5%;padding-right:5%;" style="width:90%;">
        <div class="panel panel-default">
			<div class="subpanelCaption panel-heading">Team Bracket Information</div>
			<div style="padding:10px;" class="form-horizontal">
				<div class="form-group" >
					<label for="newseason" class="col-md-3 control-label">Season</label>
					<div class="col-md-2">
						<input tabindex="1" readonly type="text" class="form-control" id="season" name="season" ng-model="current.season" >
					</div>
				</div> <!-- end of form-group -->

				<div class="form-group">
					<label for="newweek" class="col-md-3 control-label">Week</label>
					<div class="col-md-2">
						<input tabindex="2" type="text" class="form-control" id="week" name="week" ng-model="current.week" >
					</div>
				</div> <!-- end of form-group -->

				<div class="form-group">
					<label for="newbracket" class="col-md-3 control-label">Bracket</label>
					<div class="col-md-6">
						<input tabindex="3" type="text" class="form-control" id="bracket" name="bracket" ng-model="current.bracket" >
					</div>
				</div> <!-- end of form-group -->

				<div class="form-group">
					<label for="newbracket" class="col-md-3 control-label">Final</label>
					<div class="col-md-1">
					<input tabindex="4" type="text" class="form-control" id="final" name="final" ng-model="current.final" >
				</div> <!-- end of form-group -->

			</div> <!-- end of form-horizontal -->
        </div> <!-- end of panel panel -->
    </div> <!-- end of div col md 12 -->
</div> <!-- end of row -->

<div style="padding-top:15px; padding-bottom:35px;" class="row">
	<div class="col-md-offset-2  col-md-6">
		<button style="font-weight:bold;font-variant:small-caps;letter-spacing:5px;" type="button" class="btn btn-danger btn-lg btn-block" ng-click="saveTeamBracketInfo()" id="saveTeamBracketBottom" name="saveTeamBracketBottom">Save Team Barcket</button>
	</div><!-- end of col 6 -->
</div> <!-- end of row -->
</form>

<div ng-if="current.bracket.length" class="row">
	<div class="col-md-offset-1 col-md-10">
		<img style="width:100%;padding:5px;" class="center-block img-rounded" ng-src="../img/{{current.bracket}}">
  	</div> <!-- end of col -->
</div> <!-- end of row -->

<div style="padding-top:50px;text-align:center;" ng-if="!current.bracket.length" class="row">
	<div class="col-md-offset-1 col-md-10">
		<span style="color:red;font-size:x-large; font-weight:bold;">Not yet!</span>
  	</div> <!-- end of col -->
</div> <!-- end of row -->

<!-- dialogs -->
<div class="modal fade" id="teamBracketInfoSavedDialogModal" tabindex="-1" role="dialog" aria-labelledby="teamBracketInfoSavedDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="teamBracketInfoSavedDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="teamBracketInfoSavedDialogModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->