<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
	<div class="col-md-12">
		<h2 class="headerTitle">Team Stats Charts</h2>
	</div> <!-- end of column -->
</div> <!-- end of row -->


<div class="row pageStandardOffset">
<form id="teamstatschartsForm" name="teamstatschartsForm" class="">
	<div class="col-md-12 col-xs-12 form-inline">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">

					<div class="form-group verticalFieldOffset">
						<label for="season" class="control-label">Season </label>
			            <select class="customSelect form-control" ng-model="current.season" id="season" name="season">
			                <option ng-repeat="season in seasons" ng-selected="current.season == season.season" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->

					<div class="form-group verticalFieldOffset">
						<label for="teamstatschart" class="control-label">Chart</label>
				        <select class="customSelect form-control" ng-change="getTeamStatsCharts()" ng-model="current.chartid" id="teamstatschart" name="teamstatschart">
				            <option ng-repeat="teamstatschart in teamstatscharts" ng-selected="current.chartid == teamstatschart.id" value="{{teamstatschart.id}}">{{teamstatschart.title}}</option>
				        </select>
					</div> <!-- end of form-group -->

					<div ng-if="current.showteama" class="form-group verticalFieldOffset">
						<label for="teamidA" class="control-label">Team {{current.teama}}</label>
				        <select class="customSelect form-control" ng-model="current.teamidA" id="teamidA" name="teamidA">
				            <option ng-repeat="team in teams" ng-selected="current.teamidA == team.id" value="{{team.id}}">{{team.location}} {{team.name}}</option>
				        </select>
					</div> <!-- end of form-group --> 

					<div ng-if="current.showteamb" class="form-group verticalFieldOffset">
						<label for="teamidB" class="control-label">Team {{current.teamb}}</label>
				        <select class="customSelect form-control" ng-model="current.teamidB" id="teamidB" name="teamidB">
				            <option ng-repeat="team in teams" ng-selected="current.teamidB == team.id" value="{{team.id}}">{{team.location}} {{team.name}}</option>
				        </select>
					</div> <!-- end of form-group -->

					<div style="padding-left:30px;" class="form-group verticalFieldOffset">
		                <button  style="font-weight:bold;" class="btn btn-danger btn-sm" ng-click="displayChart()" id="displayChart" name="displayChart" >Draw Chart</button>
					</div> <!-- end of form-group --> 

				</div> <!-- end of panel body -->		
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->
	</div> <!-- end of col 12 -->
</form>		
</div> <!-- end of row -->

<div style="padding-bottom:50px;" class="pageStandardOffset row">
	<div ng-if="current.showlinechart" class="chart-container col-offset-md-1 col-md-8">
		<canvas 
			id="line" 
			height="250"
			class="chart chart-line" 
			chart-data="chart.data"
			chart-labels="chart.labels" 
			chart-series="chart.series" 
			chart-options="chart.options"
			chart-dataset-override="chart.datasetOverride" 
			chart-click="onClick">
		</canvas> 
	</div> <!-- end of teamStatsChart -->

	<div ng-if="current.showbarchart"class="chart-container col-offset-md-1 col-md-8">
		<canvas 
			id="bar" 
			height="250"
			class="chart chart-bar"
			chart-data="chart.data" 
			chart-labels="chart.labels" 
			chart-series="chart.series" 
			chart-options="chart.options"
			chart-dataset-override="chart.datasetOverride" >
		</canvas>
	</div> <!-- end of teamStatsChart -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div style="padding-left:30px;" class="col-md-4 col-xs-12">
		<div class="panel panel-primary">
			<div class="panel-body">
				<div id="chartMessage"></div>
			</div> <!-- end of panel body -->
    </div> <!-- end of panel -->  
</div> <!-- end of row -->


<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->
