<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption">
	<h2 class="headerTitle">Player's Picks for Week</h2>
</div> <!-- end of caption -->

<div class="row">
	<form id="pickweekForm" name="pickweekForm" class="form-inline">
	<div class="col-md-12">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">

					<div class="form-group horizontalFieldOffset">
						<label for="memberid" class="control-label">Player</label>
				        <select class="customSelect form-control" ng-change="getMemberWeekPicks()" ng-model="current.memberid" id="memberid" name="memberid">
				            <option ng-repeat="member in members" value="{{member.id}}">{{member.screenname}}</option>
				        </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="season" class="control-label">Season</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks()" ng-model="current.season"  id="season" name="season">
			                <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="gametypeid" class="control-label">Week</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks()" ng-model="current.week" id="week" name="week">
				            <option ng-repeat="week in weeks" value="{{week.week}}">{{week.week}} = {{week.weekstart}} - {{week.weekend}}</option>
			            </select>
					</div> <!-- end of form-group -->     
				</div> <!-- end of panel body -->				
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->	
	</div> <!-- end of col 7 -->
</div> <!-- end of row -->

<div class="pageStandardOffset">
	<div class="pickTeamsList" ng-repeat="game in games">			
		<div class="pickTeamsPair" >
			<div style="padding-left:3px;padding-top:3px;padding-bottom:2px;padding-right:3px;" class="row" >
				<div style="display:inline-block;line-height:50px;"  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<a ng-href="{{game.hometeamurl}}" target="_blank">
					<img style="display:inline-block;float:right;" height="50" ng-src='../img/nflicons/{{game.hometeamiconname}}'>
					</a>
				</div>

				<div style="display:inline-block;line-height:50px;" class="left-column-text col-xs-7 col-sm-7 col-md-7 col-lg-7" ng-class="{{game.hometeamid == game.teamselected}} ? 'teamSelected' : 'teamNotSelected'">
					<span class="left-column-text">{{game.hometeamlocation}} &nbsp; {{game.hometeamname}} (H)</span>
				</div>
				
				<div style="display:inline-block;line-height:50px;"  class="center-column-text col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-class="compareScores( 'home', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost'">
					<span class="center-column-text">{{game.hometeamscore}}</span>
				</div>
			</div> <!-- end of row -->

			<div style="padding-left:3px;padding-top:3px;padding-bottom:2px;padding-right:3px;" class="row">
				<div style="display:inline-block;line-height:50px;" class="left-column-text col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<a ng-href="{{game.awayteamurl}}" target="_blank">
					<img style="display:inline;line-height:50px;float:right;" height="50" ng-src='../img/nflicons/{{game.awayteamiconname}}'>
					</a>
				</div>

				<div style="display:inline-block;line-height:50px;"  class="left-column-text col-xs-7 col-sm-7 col-md-7 col-lg-7" ng-class="{{game.awayteamid == game.teamselected}} ? 'teamSelected' : 'teamNotSelected'">
					<span class="left-column-text">{{game.awayteamlocation}} &nbsp; {{game.awayteamname}} (A)</span>
				</div>

				<div style="display:inline-block;line-height:50px;" class="center-column-text col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-class="compareScores( 'away', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost'">
					<span class="center-column-text">{{game.awayteamscore}}</span>
				</div>
			</div> <!-- end of row -->

		</div>	<!-- end of pickTeamsPair -->

		<hr>

	</div> <!-- end of pickTeamsList -->
		
	<div ng-if="byegames.length" class="pageStandardOffset">
		<div>
			<img style="width:100%;padding:5px;" class="center-block img-rounded" ng-src="../img/pickteamsbye.png">
		</div> <!-- end of div img -->

		<div>
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body table-responsive">
					<table class="table pickGameTable" >
						<tr class="tableTitle">
							<th colspan=5>Bye Teams for Week</th>
						</tr>

						<tr ng-repeat="byegame in byegames">
							<td class="left-column-text">
								<a ng-href="{{byegame.teamurl}}" target="_blank">
								<img height="50" ng-src='../img/nflicons/{{byegame.teamiconname}}'>
								</a>
							</td>

							<td class="left-column-text">
								{{byegame.teamlocation}} &nbsp; {{byegame.teamname}}
							</td>
						</tr>
					</table>
				</div> <!-- end of panel body -->
			</div> 	<!-- end of panel -->
		</div> <!-- end of col 6 -->
	</div> <!-- end of row -->
	
	<div style="display:inline;">
		<div style="padding-top:5px;">
			<div style="width:100%;" class="form-group">
	            <img style="height:100px;" class="center-block"  ng-show="current.memberavatar != ''" ng-src="../img/avatars/{{current.memberavatar}}">
			</div>  

			<div style="padding-top:10px;width:100%;width:100%;text-align:center;font-weight:bold;padding:10px;" class="form-group teamSelected">
		        Selected
		    </div>  

			<div style="padding-top:10px;width:100%;width:100%;text-align:center;padding:10px;font-weight:bold;" class="form-group teamWon">    
		        Winner
	        </div> 
        </div>
		
	</div> <!-- end of column -->
</div> <!-- end of row -->

<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->