<div class="pageNavbarOffset">&nbsp;</div>

<form id="pickweekForm" name="pickweekForm">
<div class="pageCaption">
	<h2 class="headerTitle">Players Picks for Week by Team</h2>
</div> <!-- end of row -->	

<div class="row">
	<div class="col-md-12">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">
					<div class="form-group horizontalFieldOffset">
				    	<label for="season" class="control-label">Season</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks()" ng-model="current.season"  id="season" name="season">
			                <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="gametypeid" class="control-label">Week</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks()" ng-model="current.week" id="week" name="week">
				            <option ng-repeat="week in weeks" value="{{week.week}}">{{week.week}} = {{week.weekstart}} - {{week.weekend}}</option>
			            </select>
					</div> <!-- end of form-group -->   

				</div> <!-- end of panel body -->				
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div class="pageStandardOffset">
		<div class="pickTeamsList" ng-repeat="game in games">
			<div class="pickTeamsPair" >
				<div style="padding-left:3px;padding-top:3px;padding-bottom:2px;padding-right:3px;" class="row" >
					<div style="display:inline-block;line-height:50px;"  class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<a ng-href="{{game.hometeamurl}}" target="_blank">
							<img style="display:inline-block;float:right;" height="50" ng-src='../img/nflicons/{{game.hometeamiconname}}'>
						</a>
					</div>

					<div style="display:inline-block;line-height:50px;" class="left-column-text  col-xs-7 col-sm-7 col-md-7 col-lg-7">
						{{game.hometeamlocation}} &nbsp; {{game.hometeamname}} (H)
					</div>
					
					<div style="display:inline-block;line-height:50px;"  class="center-column-text col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-class="compareScores( 'home', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost' ">{{game.teamcounthome}}
					</div>
				</div> <!-- end of row -->

			<div style="padding-left:3px;padding-top:3px;padding-bottom:2px;padding-right:3px;" class="row">
				<div style="display:inline-block;line-height:50px;" class="left-column-text  col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<a ng-href="{{game.awayteamurl}}" target="_blank">
						<img style="display:inline-block;float:right;" height="50" ng-src='../img/nflicons/{{game.awayteamiconname}}'>
					</a>
				</div>

				<div style="display:inline-block;line-height:50px;"  class="left-column-text  col-xs-7 col-sm-7 col-md-7 col-lg-7">
					{{game.awayteamlocation}} &nbsp; {{game.awayteamname}} (A)
				</div>

				<div style="display:inline-block;line-height:50px;" class="center-column-text  col-xs-2 col-sm-2 col-md-2 col-lg-2" ng-class="compareScores( 'away', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost' ">{{game.teamcountaway}}
				</div>
			</div> <!-- end of row -->

		</div>	<!-- end of pickTeamsPair -->

		<hr>
		
	</div> <!-- end of pickTeamsList -->		

</div> <!-- end of pageStandardOffset -->
</form>