<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
	<div class="col-md-12">
		<h2 class="headerTitle">System Scripts</h2>
	</div> <!-- end of column -->
</div> <!-- end of row -->

<div style="padding-left:10px;" class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">System Scripts</h3>
			</div>

			<div style="padding:5px;" class="panel-body">
				<div id="rungamescripts" class="panel-group">
					<div id="scriptButtons" class="panel panel-default">
					<form id="rungamescriptsForm" name="rungamescriptsForm" class="form-horizontal">
						<div style="background-color:#DBF0EF;" class="panel-heading" id="rungamescriptsheading">
							<h3 class="panel-title">
								<a style="text-decoration:none;" data-toggle="collapse" data-parent="#scriptButtons" data-target="#rungamescript">
								Run Game Scripts
								</a>
							</h3>
						</div> <!-- end of panel header -->

						<div id="rungamescript" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-4 control-label" for="systemscriptsseason">Season</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.season" class="form-control" id="systemscriptsseason" name="systemscriptsseason" placeholder="">
									</div>
								</div> <!-- end of form group -->

								<div class="form-group">
									<label class="col-md-4 control-label" for="systemscriptsweeksinregularseason">Regular Season Weeks</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.weeksinregularseason" class="form-control" id="systemscriptsweeksinregularseason" name="systemscriptsweeksinregularseason" placeholder="">
									</div>
								</div> <!-- end of form group -->

								<div class="form-group">
									<label class="col-md-4 control-label" for="systemscriptsweeksinplayoffseason">Playoff Season Weeks</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.weeksinplayoffseason" class="form-control" id="systemscriptsweeksinplayoffseason" name="systemscriptsweeksinplayoffseason" placeholder="">
									</div>
								</div> <!-- end of form group -->

								<div class="form-group">
									<div class="col-md-offset-4 col-md-5">
										<button type="button" ng-click="runGameScripts()" id="systemscriptsbutton" name="systemscriptsbutton"  class="btn btn-primary">Run Game Scripts</button>
									</div>
								</div> <!-- end of form group -->
							</div> <!-- end of panel body -->
						</div> <!-- end of panel collapse -->
					</form> <!-- end of form horizontal -->
					</div> <!-- end of panel default -->

					<div class="panel panel-default">
					<form id="getmemberpicklistscriptsForm" name="getmemberpicklistscriptsForm" class="form-horizontal">
						<div style="background-color:#e8a096;" class="panel-heading" id="getmemberpicklistscriptsheading">
							<h3 class="panel-title">
								<a style="text-decoration:none;" data-toggle="collapse" data-parent="#scriptButtons" data-target="#getmemberpicklistscript">
								Get Member Pick List
								</a>
							</h3>
						</div> <!-- end of panel header -->

						<div id="getmemberpicklistscript" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-4 control-label" for="getmemberpicklistscriptseason">Season</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.season" class="form-control" id="getmemberpicklistscriptseason" name="getmemberpicklistscriptseason" placeholder="">
									</div>
								</div> <!-- end of form group -->

								<div class="form-group">
									<label class="col-md-4 control-label" for="getmemberpicklistscriptweek">Week</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.week" class="form-control" id="getmemberpicklistscriptweek" name="getmemberpicklistscriptweek" placeholder="">
									</div>
								</div> <!-- end of form group -->

								<div class="form-group">
									<div class="col-md-offset-4 col-md-5">
										<button type="button" ng-click="getmemberpicklistscripts()" id="getmemberpicklistscriptbutton" name="getmemberpicklistscriptbutton"  class="btn btn-primary">Get Member Picks List</button>
									</div>
								</div> <!-- end of form group -->
							</div> <!-- end of panel body -->
						</div> <!-- end of panel collapse -->
					</form> <!-- end of form horizontal -->
					</div> <!-- end of panel default -->

					<div class="panel panel-default">
					<form id="getbadmemberpicksForm" name="getbadmemberpicksForm" class="form-horizontal">
						<div style="background-color:#8AF1A3;" class="panel-heading" id="getbadmemberpicksheading">
							<h3 class="panel-title">
								<a style="text-decoration:none;" data-toggle="collapse" data-parent="#scriptButtons" data-target="#getbadmemberpicks">
								Bad Member Picks for Week
								</a>
							</h3>
						</div> <!-- end of panel header -->

						<div id="getbadmemberpicks" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-4 control-label" for="getbadmemberpicksseason">Season</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.season" class="form-control" id="getbadmemberpicksseason" name="getbadmemberpicksseason" placeholder="">
									</div>
								</div> <!-- end of form group -->

								<div class="form-group">
									<label class="col-md-4 control-label" for="getbadmemberpicksweek">Week</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.week" class="form-control" id="getbadmemberpicksweek" name="getbadmemberpicksweek" placeholder="">
									</div>
								</div> <!-- end of form group -->

								<div class="form-group">
									<div class="col-md-offset-4 col-md-5">
										<button type="button" ng-click="getbadmemberpicks()" id="getbadmemberpicksbutton" name="getbadmemberpicksbutton"  class="btn btn-primary">Get Bad Member Picks</button>
									</div>
								</div> <!-- end of form group -->
							</div> <!-- end of panel body -->
						</div> <!-- end of panel collapse -->
					</form> <!-- end of form horizontal -->
					</div> <!-- end of panel default -->

					<div class="panel panel-default">
					<form id="importteamweeklyrankForm" name="importteamweeklyrankForm" class="form-horizontal">
						<div style="background-color:#FCE4DF;" class="panel-heading" id="importteamweeklyrankheading">
							<h3 class="panel-title">
								<a style="text-decoration:none;" data-toggle="collapse" data-parent="#scriptButtons" data-target="#importteamweeklyrank">
								Import Team Weekly Ranking
								</a>
							</h3>
						</div> <!-- end of panel header -->

						<div id="importteamweeklyrank" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-4 control-label" for="importteamweeklyrankfile">Import File Name</label>
									<div class="col-md-7">
										<input type="text" ng-model="current.importteamweeklyrankfile" class="form-control" id="importteamweeklyrankfile" placeholder="">
									</div>
								</div> <!-- end of form group -->						
								
								<div class="form-group">
									<div class="col-md-offset-4 col-md-5">
										<button type="button" ng-click="importTeamWeeklyRank()" id="importteamweeklyrankbutton" class="btn btn-primary">Import File Name</button>
									</div>
								</div> <!-- end of form group -->
							</div> <!-- end of panel body -->
						</div> <!-- end of panel collapse -->	
					</form> <!-- end of form default -->
					</div> <!-- end of panel default -->

					<div class="panel panel-default">
					<form id="importsurveyquestiondataForm" name="importsurveyquestiondataForm" class="form-horizontal">
						<div style="background-color:#B0E0E6;" class="panel-heading" id="importsurveyquestiondataheading">
							<h3 class="panel-title">
								<a style="text-decoration:none;" data-toggle="collapse" data-parent="#scriptButtons" data-target="#importsurveyquestiondata">
								Import Survey Question Data
								</a>
							</h3>
						</div> <!-- end of panel header -->

						<div id="importsurveyquestiondata" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-4 control-label" for="importsurveyquestiondatafile">Import File Name</label>
									<div class="col-md-7">
										<input type="text" ng-model="current.importsurveyquestiondatafile" class="form-control" id="importsurveyquestiondatafile" placeholder="">
									</div>
								</div> <!-- end of form group -->

								<div class="form-group">
									<div class="col-md-offset-4 col-md-5">
										<button type="button" ng-click="importSurveyQuestionData()" id="importsurveyquestiondatabutton" class="btn btn-primary">Import File Name</button>
									</div>
								</div> <!-- end of form group -->
							</div> <!-- end of panel body -->
						</div> <!-- end of panel collapse -->
					</form> <!-- end of form default -->
					</div> <!-- end of panel default -->
					
					<div class="panel panel-default">
					<form id="dumpdatabaseForm" name="dumpdatabaseForm" class="form-horizontal">
						<div style="background-color:#F0F0DB;" class="panel-heading" id="dumpdatabaseheading">
							<h3 class="panel-title">
								<a style="text-decoration:none;" data-toggle="collapse" data-parent="#scriptButtons" data-target="#dumpdatabase">
								Dump Data Base
								</a>
							</h3>
						</div> <!-- end of panel header -->

						<div id="dumpdatabase" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-4 control-label" for="dumpdatabaselabel">Dump File Label</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.dumpdatabaselabel" class="form-control" id="dumpdatabaselabel" placeholder="">
									</div>
								</div> <!-- end of form group -->						
								
								<div class="form-group">
									<div class="col-md-offset-4 col-md-5">
										<button type="button" ng-click="buildMySqlDump()" id="dumpdatabaselabelbutton" class="btn btn-primary">Dump Database</button>
									</div>
								</div> <!-- end of form group -->
							</div> <!-- end of panel body -->
						</div> <!-- end of panel collapse -->	
					</form> <!-- end of form default -->
					</div> <!-- end of panel default -->

					<div class="panel panel-default">
					<form id="runinitializescriptsForm" name="runinitializescriptsForm" class="form-horizontal">
						<div style="background-color:#becee8;" class="panel-heading" id="runinitializescriptsheading">
							<h3 class="panel-title">
								<a style="text-decoration:none;" data-toggle="collapse" data-parent="#scriptButtons" data-target="#runinitializescript">
								Run Initialize Scripts
								</a>
							</h3>
						</div> <!-- end of panel header -->

						<div id="runinitializescript" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-4 control-label" for="initializescriptsseason">Season</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.season" class="form-control" id="initializescriptsseason" name="initializescriptsseason" placeholder="">
									</div>
								</div> <!-- end of form group -->

								<div class="form-group">
									<label class="col-md-4 control-label" for="initializescriptsweeksinregularseason">Regular Season Weeks</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.weeksinregularseason" class="form-control" id="initializescriptsweeksinregularseason" name="initializescriptsweeksinregularseason" placeholder="">
									</div>
								</div> <!-- end of form group -->

								<div class="form-group">
									<label class="col-md-4 control-label" for="initializescriptsweeksinplayoffseason">Playoff Season Weeks</label>
									<div class="col-md-5">
										<input type="text" ng-model="current.weeksinplayoffseason" class="form-control" id="initializescriptsweeksinplayoffseason" name="initializescriptsweeksinplayoffseason" placeholder="">
									</div>
								</div> <!-- end of form group -->
								
								<div class="form-group">
									<div class="col-md-offset-4 col-md-5">
										<button type="button" ng-click="runInitializeScripts()" id="initializescriptsbutton" name="initializescriptsbutton"  class="btn btn-primary">Run Initialize Scripts</button>
									</div>
								</div> <!-- end of form group -->
							</div> <!-- end of panel body -->
						</div> <!-- end of panel collapse -->
					</form> <!-- end of form horizontal -->
					</div> <!-- end of panel default -->

					<div class="panel panel-default">
					<form id="creategametimestampandyearForm" name="creategametimestampandyearForm" class="form-horizontal">
						<div style="background-color:#ADDDCF;" class="panel-heading" id="creategametimestampandyearheading">
							<h3 class="panel-title">
								<a style="text-decoration:none;" data-toggle="collapse" data-parent="#scriptgroup" data-target="#creategametimestampandyear">
								Create GameTimeStamp and GameYear
								</a>
							</h3>
						</div> <!-- end of panel header -->

						<div id="creategametimestampandyear" class="panel-collapse collapse">
							<div class="panel-body">
								<div class="form-group">
									<label class="col-md-4 control-label" for="creategametimestampandyear">Season</label>
									<div class="col-md-7">
										<input type="text" ng-model="current.season" class="form-control" id="creategametimestampandyearseason" name="creategametimestampandyearseason" placeholder="">
									</div>
								</div> <!-- end of form group -->
								
								<div class="form-group">
									<div class="col-md-offset-4 col-md-5">
										<button type="button" ng-click="runGameTimeStampandYear()" id="creategametimestampandyearbutton" class="btn btn-primary">Create Timestamp and Year</button>
									</div>
								</div> <!-- end of form group -->
							</div> <!-- end of panel body -->
						</div> <!-- end of panel collapse -->	
					</form> <!-- end of form default -->
					</div> <!-- end of panel default -->

				</div> <!-- end of panel group -->
			</div> <!-- end of panel body -->
		</div> <!-- end of panel primary -->						
	</div> <!-- end of column -->
</div>	 <!-- end of row -->

<div style="padding-left:10px;" class="pageStandardOffset row">
	<!-- Detail Data -->
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		        <h3 class="panel-title">Script Messages</h3>
		      </div>

		      <div class="panel-body">
				<div class="pageStandardOffset">
					<div id="scriptMessagesDisplay" name="scriptMessagesDisplay" class="ScriptscrollClass"></div>
				</div> 	<!-- end of offset -->
			</div> <!-- end of panel body -->
		</div> <!-- end of panel -->
	</div> <!-- end of column -->
</div> <!-- end of row -->	