<div class="pageCaption row">
  <div class="col-md-12">
    <h3 class="headerTitle4">Create Member Group</h3>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-12">
      <div style="padding-left:5%;padding-right:5%;" style="width:90%;">

      <form id="addmembergroupForm" name="addmembergroupForm">

        <div class="panel panel-default">
          <div class="subpanelCaption panel-heading">Member Group Information</div>
          <div style="padding:10px;" class="form-horizontal">
              <div style="padding-top:10px;" class="form-group" >
                <label for="membergroupname" class="col-md-2 control-label">Group Name</label>
                <div class="col-md-4">
                    <input tabindex="1" type="text" class="form-control" id="membergroupname" name="membergroupname" placeholder="Member Group name">
                </div>
              
                <button tabindex="15" id="addnewmembergroupbutton" data-ng-click="addnewmembergroup()" type="button" class="btn btn-primary">Add New Member Group</button>
              </div> <!-- end of form-group -->
          </div> <!-- end of form-horizontal -->

          <div style="padding:10px;" class="form-horizontal">
            
        </div> <!-- end of panel panel -->              
          
      </form>
      </div> <!-- end of div style 100% -->
    </div> <!-- end of div col md 12 -->
</div> <!-- end of row -->    