<div class="pageCaption row">
     <div class="col-md-12">
      <h2>Add New Member</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-12">
      <div style="width:100%;">
        <div class="panel panel-default">
          <div class="subpanelCaption panel-heading">Member Information</div>
          <form id="teamForm" name="addmemberForm" style="padding:10px;" class="form-horizontal">
          <div class="row">
            <div class="col-md-7">
              <div class="form-group" >
                <label for="name" class="col-md-1 control-label">Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="fullname" placeholder="Full name">
                </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="street" class="col-md-1 control-label">Street</label>
                  <div class="col-md-10">
                      <input type="text" class="form-control" id="street" placeholder="Street">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="city" class="col-md-1 control-label">City</label>
                  <div class="col-md-4">
                      <input type="text" class="form-control" id="city" placeholder="City">
                  </div>

                  <label for="state" class="col-md-1 control-label">State</label>
                  <div class="col-md-2">
                      <state-list-display  class="form-control" id="state" nameid="state"></state-list-display>
                  </div>

                  <label for="zip" class="col-md-1 control-label">Zip</label>
                  <div class="col-md-2">
                      <input type="text" class="form-control" id="zip" placeholder="Zip">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="homephone" class="col-md-1 control-label">Phone</label>
                  <div class="col-md-10">
                      <input type="text" class="form-control" id="homephone" placeholder="Phone">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="email" class="col-md-1 control-label">eMail</label>
                  <div class="col-md-10">
                      <input type="email" class="form-control" id="email" placeholder="eMail">
                  </div>
              </div> <!-- end of form-group -->
            </div>  <!-- end of col 7 -->

            <div class="col-md-5">
              <div class="form-group">
                  <label for="screenname" class="col-md-3 control-label">Screen Name</label>
                  <div class="col-md-7">
                      <input type="text" class="form-control" id="screenname" placeholder="Screen Name">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="avatar" class="col-md-3 control-label">Choose Avatar</label>
                  <div class="col-md-7">
                      <input type="file" class="form-control" id="avatar">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                <label for="avatar" class="col-md-3 control-label">Member Avatar</label>
                  <div class="col-md-7">
                      <img style="max-width:100px;" src="img/DonaldDuckFlying.png" alt="avatar" name="avatardisplay" id="avatardisplay" class="img-rounded">
                  </div>
              </div> <!-- end of form-group -->

            </div>  <!-- end of col 6 -->  
          </form>
          </div> <!-- end of row -->
        </div> <!-- end of panel panel -->
      </div> <!-- end of div style 100% -->
    </div> <!-- end of div col md 12 -->
  
</div> <!-- end of row -->    