<div class="col-md-offset-1 col-md-4">
    <div style="width:100%;">
      <div class="panel panel-default">
        <div class="subpanelCaption panel-heading">NFL Team Detail</div>
          <form class="form-horizontal">

            <div class="form-group">
              <label for="name" class="col-sm-2 control-label">Team</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="{{current.name}}">
              </div> <!-- end of col -->
            </div> <!-- end of form-group -->

            <div class="form-group">
              <label for="league" class="col-sm-2 control-label">League</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="league" placeholder="{{current.league}}">
              </div> <!-- end of col -->
            </div> <!-- end of form-group -->

            <div class="form-group">
              <label for="conference" class="col-sm-2 control-label">Conference</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="conference" placeholder="{{current.conference}}">
              </div> <!-- end of col -->
            </div> <!-- end of form-group -->

            <div class="form-group">
              <label for="division" class="col-sm-2 control-label">Division</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="division" placeholder="{{current.division}}">
              </div> <!-- end of col -->
            </div> <!-- end of form-group -->

            <div class="form-group">
              <label for="teamiconname" class="col-sm-2 control-label">Icon Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="teamiconname" placeholder="{{current.teamiconname}}">
              </div> <!-- end of col -->
            </div> <!-- end of form-group -->

            <div class="form-group">
              <label for="teamorder" class="col-sm-2 control-label">Display Order</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="teamorder" placeholder="{{current.teamorder}}">
              </div> <!-- end of col -->
            </div> <!-- end of form-group -->

            <div class="form-group">
              <label for="teamurl" class="col-sm-2 control-label">Team URL</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="teamurl" placeholder="{{current.teamurl}}">
              </div> <!-- end of col -->
            </div> <!-- end of form-group -->

            <div class="form-group">
              <label for="status" class="col-sm-2 control-label">Status</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="status" placeholder="{{current.status}}">
              </div> <!-- end of col -->
            </div> <!-- end of form-group -->

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button style="width:20%;" class="btn btn-info btn-sm" ng-click="updateTeamInfoRequest()" id="updateButton">Update</button>

                <button style="width:20%;" class="btn btn-info btn-sm" ng-click="newTeamInfo()" id="newButton">New</button>
              
                <button style="width:20%;" class="btn btn-danger btn-sm" ng-click="Delete()" id="deleteButton">Delete</button>
              </div> <!-- end of col -->
            </div> <!-- end of form-group -->

          </form> <!-- end of form -->
      </div> <!-- end of panel -->
    </div> <!-- end of offset --> 




<table class="table">
          <tr>
              <td class="teamdetailTableFirstRow">Team</td>
            
              <td>{{current.name}}</td>
          </tr>

          <tr>
              <td class="teamdetailTableFirstRow">League</td>
             
              <td>{{current.league}}</td>
          </tr>

          <tr>
              <td class="teamdetailTableFirstRow">Conference</td>
            
              <td>{{current.conference}}</td>
          </tr>

          <tr>
              <td class="teamdetailTableFirstRow">Division</td>
            
              <td>{{current.division}}</td>
          </tr>
          <tr>
              <td class="teamdetailTableFirstRow">ID</td>
            
              <td>{{current.id}}</td>
          </tr>
          <tr>
              <td class="teamdetailTableFirstRow">Icon Name</td>
             
              <td>{{current.teamiconname}}</td>
          </tr>

          <tr>
              <td class="teamdetailTableFirstRow">Display Order</td>
            
              <td>{{current.teamorder}}</td>
          </tr>
          <tr>
              <td class="teamdetailTableFirstRow">Team URL</td>
            
              <td>{{current.teamurl}}</td>
          </tr>
          <tr>
              <td class="teamdetailTableFirstRow">Status</td>
             
              <td>{{current.status}}</td>
          </tr>
        </table>


<div style="padding-top:0px;">
      <button style="width:20%;" class="btn btn-info btn-sm" ng-click="updateTeamInfoRequest()" id="updateButton">Update</button>

      <button style="width:20%;" class="btn btn-info btn-sm" ng-click="newTeamInfo()" id="newButton">New</button>
    
      <button style="width:20%;" class="btn btn-danger btn-sm" ng-click="Delete()" id="deleteButton">Delete</button>
    </div>

             