<div class="pageCaption row">
	<div class="col-md-12">
		<h2 class="headerTitle">Editorial</h2> 
	</div> <!-- end of col -->
</div> <!-- end of row -->	

<div style="padding-top:35px;" class="pageStandardOffset">

<!-- <div class="parallax-mirror" style="z-index: -100; position: fixed; overflow: hidden; transform: translate3d(0px, 0px, 0px); visibility: hidden; top: 1199px; left: 0px; height: 634px; width: 1280px;">
	<img class="parallax-slider" src="img/paris-france-eiffel.png" style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -1152.2px; left: 0px; height: 1302px; width: 1280px; max-width: none;">
</div> -->

<div class="parallax-mirror" style="z-index: -100; position: fixed; overflow: hidden; transform: translate3d(0px, 0px, 0px); visibility: hidden; top: 599px; left: 0px; height: 634px; width: 1280px;">
	<img class="parallax-slider" src="img/paris-france-eiffel.png" style="transform: translate3d(0px, 0px, 0px); position: absolute; top: -1152.2px; left: 0px; height: 1302px; width: 1280px; max-width: none;">
</div>

	<div style="padding-left:35px;padding-right:35px;" class="jumbotronOverrideEditorial jumbotron">
		<div class="row">
			<div style="padding-top:45px;" class="col-md-8">
				<p>
				Unfortunately we live in a time where there are those for whom the outright murder of innocents is considered a heroic act. 
				</p>
				<p>
				Let us not forget those who have perished at THEIR hands and let us not be bullied or fearful of THEIR savagery.</p>
				<p>
				Rather, let us as one, repudiate and seek justice on those who perpetrate these actions. 
				</p>
				<p>
				We stand with France and the people of Paris.
				</p>
			</div> <!-- end of col 6 -->

			<div class="col-md-4">
				<img src="img/frenchflag.png" alt="FRENCH FLAG" class="img-circle">
			</div> <!-- end of col 6 -->
		</div> <!-- end of row -->
	</div> <!-- end of jumbo -->

<div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10" data-image-src="img/paris-france-eiffel.png" data-natural-width="1400" data-natural-height="900" style="height: 614px;"></div>

</div> <!-- end of offset -->

<div style="padding-top:150px;"class="row">&nbsp;</div>
    