
<div class="container-fluid">

<div class="pageStandardOffset">&nbsp;</div>

<div style="color:maroon;font-weight:600;padding-bottom:25px; " class="row">
  <div class="col-md-4">&nbsp;</div>
  <div class="col-md-5"><h2>Frequently Answered Questions</h2></div>
  <div class="col-md-4">&nbsp;</div>
</div> <!-- end of row -->

<div class="pageStandardOffset row">
  <div class="col-md-1">
      &nbsp;
    </div>
    <div class="col-md-10">
      <div class="panel-group" id="accordion">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne">
                How do I login to Daredevil Ducks?              
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Check out <a target="_blank" style="color:red;font-weight:bold;" href="https://youtu.be/YG9ZleppJwo">this</a> video about how to login and make your first picks.   
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                How do I pick a game for this weeks games?
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Check out <a target="_blank" style="color:red;font-weight:bold;" href="https://youtu.be/YG9ZleppJwo">this</a> video about how to login and make your first picks.
              </p>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree">
                I sometimes find myself away from my Computer. How can I still make my picks?
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              You can email us at <a style="text-decoration:none;color:blue;" href="mailto:daredevilducks.xyz@gmail.com?Subject=Daredevil%20Ducks%20Inquirey">daredevilducks.xyz@gmail.com</a> or call us at 781-342-0204 with your picks.
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour">
                Where is there information to help us with making our picks?
              </a>
            </h4>
          </div>
          <div id="collapseFour" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Look at what others are doing. 
              </p>
              <p>
              You can select "Players picks for weeks" (under Games) and choose players to see what they have picked. You can also select "Player Picks got week by Team" (under Games). This will show you how many people picked each team in a game week. 
              </p>
              <p>
              Look at NFL news for recent events. Go to team discovery page. Look at our week stats or charts.  
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive">
                How can I get a group made for me and my friends?
              </a>
            </h4>
          </div>
          <div id="collapseFive" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Email us at <a style="text-decoration:none;color:blue;"  href="mailto:daredevilducks.xyz@gmail.com?Subject=Daredevil%20Ducks%20Inquirey">daredevilducks.xyz@gmail.com</a> or call us with your name and the name of your friends. Then let us know what you would like your group called.
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSix">
                I went to make a pick but got locked out. What should I do?
              </a>
            </h4>
          </div>
          <div id="collapseSix" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Call or email us at <a style="text-decoration:none;color:blue;"  href="mailto:daredevilducks.xyz@gmail.com?Subject=Daredevil%20Ducks%20Inquirey">daredevilducks.xyz@gmail.com</a> right away. We will put your picks in if we deem the game not to far along.   
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseSeven">
                I want to change my Avatar. How can I do that?
              </a>
            </h4>
          </div>
          <div id="collapseSeven" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              Send us an image that you want to replace your avatar with. We will size it to fit into our scheme and let you know when it is active.   
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEight">
                How can I change my information like my password, address, bio etc?
              </a>
            </h4>
          </div>
          <div id="collapseEight" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              After you are logged in select your avatar at the top right of the web page. Clicking on this will bring you ta a page where you can update your personal informtion.               
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseNine">
                I use my phone or other mobile device to make my picks. What can I do?
              </a>
            </h4>
          </div>
          <div id="collapseNine" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
              We have a mobile version of Daredevilducks. You can get to it by clicking <a href="http://yellowrangler.com">yellowrangler.com</a>               
              </p>
            </div>
          </div>
        </div> <!-- end of panel -->

      </div> <!-- end of panel group -->
    </div> <!-- end of col-8 -->
    <div class="col-md-1">
      &nbsp;
    </div>
  </div> <!-- end of row -->  

  <!-- dialogs -->
<div class="modal fade" id="iformationDialogModal" tabindex="-1" role="dialog" aria-labelledby="iformationDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="iformationDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="iformationDialogModalLabelBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="closeModalCleanUp()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  

</div> <!-- end of container -->
    