<div class="pageCaption row">
     <div class="col-md-12">
     	<h2 class="headerTitle">Game Day Information</h2>
 	</div> <!-- end of column -->
</div> <!-- end of row -->


<!-- Grid data -->
<div class="pageStandardOffset row">
	<div class="col-md-6">
		<div style="padding-bottom:15px;" class="panel panel-default">
			<div class="panelCaption panel-body">NFL Games List</div>

			<div class="pageStandardOffset">
				<div id="gameinfoGrid" ui-grid="gridOptionsGames" ui-grid-selection ui-grid-resize-columns class="gameinfoGrid"></div>
			</div> 	<!-- end of offset -->

		</div> <!-- end of panel -->
	</div> <!-- end of column -->

<!-- Detail Data -->
	<div class="col-md-5">
		<div style="width:100%;">
			<div class="panel panel-default">
				<div class="subpanelCaption panel-heading">NFL Game Detail</div>

				<form name="gameForm" id="gameForm" style="padding:10px;" class="form-horizontal">
		            <div class="form-group">
		              <label for="season" class="col-sm-4 control-label">Season</label>
		              <div class="col-sm-7">
		                <input type="text" class="form-control" id="season" name="season" placeholder="{{current.season}}" ng-model="current.season">
		              </div> <!-- end of col -->
		            </div> <!-- end of form-group -->

					<div class="form-group">
		            	<label for="gametypeid" class="col-sm-4 control-label">Game Type</label>
						<div class="col-sm-7">
				            <select class="form-control" ng-model="current.gametypeid"  id="gametypeid" name="gametypeid">
			                    <option ng-repeat="gametype in gametypes" ng-selected="current.gametypeid == gametype.id" value="{{gametype.id}}">{{gametype.gametype}}</option>
		                    </select>
						</div> <!-- end of col -->	                    
		            </div> <!-- end of form-group -->

		            <div class="form-group">
		              <label for="week" class="col-sm-4 control-label">Game Week</label>
		              <div class="col-sm-7">
		                <input type="text" class="form-control" id="week" name="week" placeholder="{{current.week}}" ng-model="current.week">
		              </div> <!-- end of col -->
		            </div> <!-- end of form-group -->

		            <div class="form-group">
		              <label for="gamenbr" class="col-sm-4 control-label">Game Nbr</label>
		              <div class="col-sm-7">
		                <input type="text" class="form-control" id="gamenbr" name="gamenbr" placeholder="{{current.gamenbr}}" ng-model="current.gamenbr">
		              </div> <!-- end of col -->
		            </div> <!-- end of form-group --> 

		            <div class="form-group">
		              <label for="gamedate" class="col-sm-4 control-label">Game Date</label>
		              <div class="col-sm-7">
		                <input type="text" class="form-control" id="gamedate" name="gamedate" placeholder="{{current.gamedate}}" ng-model="current.gamedate">
		              </div> <!-- end of col -->
		            </div> <!-- end of form-group -->

		            <div class="form-group">
		              <label for="gameyear" class="col-sm-4 control-label">Game Year</label>
		              <div class="col-sm-7">
		                <input type="text" class="form-control" id="gameyear" name="gameyear" placeholder="{{current.gameyear}}" ng-model="current.gameyear">
		              </div> <!-- end of col -->
		            </div> <!-- end of form-group -->

		            <div class="form-group">
		              <label for="gameday" class="col-sm-4 control-label">Game Day</label>
		              <div class="col-sm-7">
		                <input type="text" class="form-control" id="gameday" name="gameday" placeholder="{{current.gameday}}" ng-model="current.gameday">
		              </div> <!-- end of col -->
		            </div> <!-- end of form-group -->

					<div class="form-group">
		              <label for="gametime" class="col-sm-4 control-label">Game Time</label>
		              <div class="col-sm-7">
		                <input type="text" class="form-control" id="gametime" name="gametime" placeholder="{{current.gametime}}" ng-model="current.gametime">
		              </div> <!-- end of col -->
		            </div> <!-- end of form-group -->

		            <div class="form-group">
		            	<label for="networkid" class="col-sm-4 control-label">Network</label>
						<div class="col-sm-7">
				            <select class="form-control" ng-model="current.networkid"  id="networkid" name="networkid">
			                    <option ng-repeat="network in networks" ng-selected="current.networkid == network.id" value="{{network.id}}">{{network.network}}</option>
		                    </select>
						</div> <!-- end of col -->	                    
		            </div> <!-- end of form-group -->

		            <div class="form-group">
		            	<label for="hometeamid" class="col-sm-4 control-label">Home Team</label>
						<div class="col-sm-7">
				            <select class="form-control" ng-model="current.hometeamid"  id="hometeamid" name="hometeamid">
			                    <option ng-repeat="team in teams" ng-selected="current.hometeamid == team.id" value="{{team.id}}">{{team.location}} {{team.name}}</option>
		                    </select>
						</div> <!-- end of col -->	             
		            </div> <!-- end of form-group -->

		            <div class="form-group">
		              <label for="hometeamscore" class="col-sm-4 control-label">Home Score</label>
		              <div class="col-sm-7">
		                <input type="text" class="form-control" id="hometeamscore" name="hometeamscore" placeholder="{{current.hometeamscore}}" ng-model="current.hometeamscore">
		              </div> <!-- end of col -->
		            </div> <!-- end of form-group -->


		            <div class="form-group">
		            	<label for="awayteamid" class="col-sm-4 control-label">Away Team</label>
						<div class="col-sm-7">
				            <select class="form-control" ng-model="current.awayteamid"  id="awayteamid" name="awayteamid">
			                    <option ng-repeat="team in teams" ng-selected="current.awayteamid == team.id" value="{{team.id}}">{{team.location}} {{team.name}}</option>
		                    </select>
						</div> <!-- end of col -->	                    
		            </div> <!-- end of form-group -->

		            <div class="form-group">
		              <label for="awayteamscore" class="col-sm-4 control-label">Away Score</label>
		              <div class="col-sm-7">
		                <input type="text" class="form-control" id="awayteamscore" name="awayteamscore" placeholder="{{current.awayteamscore}}" ng-model="current.awayteamscore">
		              </div> <!-- end of col -->
		            </div> <!-- end of form-group -->

	        		<div style="padding-top:15px;" class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button style="width:20%;" class="btn btn-info btn-sm" ng-click="updateGameInfoRequest()" id="updateButton">Update</button>

							<button style="width:20%;" class="btn btn-info btn-sm" ng-click="newGameInfo()" id="newButton">New</button>

							<button style="width:20%;" class="btn btn-danger btn-sm" ng-click="Delete()" id="deleteButton">Delete</button>
						</div> <!-- end of col -->
					</div> <!-- end of form-group -->        
  		        </form> <!-- end of form -->
			</div> <!-- end of panel -->
		</div> <!-- end of width -->
	</div> <!-- end of column -->
</div> <!-- end of row -->

<div style="padding-bottom:350px;">&nbsp;</div>