<form id="gamenetworkweekForm" name="gamenetworkweekForm">
<div class="pageCaption row">
	<div style="padding-top:15px;display:inline;" class="col-md-12">
		<h3 style="display:inline;" class="headerTitle4">Set Game Network</h3>
	</div> <!-- end of column -->
</div> <!-- end of row -->	

<div class="row">
	<div class="col-md-12 form-inline">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">
					<div class="form-group horizontalFieldOffset">
				    	<label for="season" class="control-label">Season</label>
			            <select class="customSelect form-control" ng-change="getGameNetworkWeekInfo('season')" ng-model="current.season" id="season" name="season">
			                <option ng-repeat="season in seasons" ng-selected="current.season == season.season" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="week" class="control-label">Week</label>
			            <select class="customSelect form-control" ng-change="getGameNetworkWeekInfo('week')" ng-model="current.week" id="week" name="week">
			                <option ng-repeat="week in weeks" ng-selected="current.week == week.week" value="{{week.week}}"> {{week.week}} = {{week.weekstart}} - {{week.weekend}}</option>
			            </select>
					</div> <!-- end of form-group -->  
				
					<div style="padding-left:30px;"class="form-group horizontalFieldOffset">
		                <button  style="font-weight:bold;" class="btn btn-danger btn-sm" ng-click="saveGameNetworkWeeklyInfo()" id="saveGamesNetwork" name="saveGamesNetwork" >Save Games Network</button>
					</div> <!-- end of form-group --> 

				</div> <!-- end of panel body -->		
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->
	</div> <!-- end of col 9 -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default panelOverrideNoBorder">
			<div class="panel-body table-responsive">
				<table class="table pickGameTable" >
					<tr class="tableTitle">
						<th colspan=1>Network</th>	
						<th colspan=1>Game Day</th>		
						<th colspan=2>Home Team</th>	
						<th colspan=2>Away Team</th>					
					</tr>

					<tr ng-repeat="game in games">
						<td class="left-column-text">
							<select class="customSelect form-control" ng-model="game.networkid" id="networkid" name="pick_{{game.gamenbr}}">
				                <option ng-repeat="network in networks" ng-selected="game.networkid == network.id" value="{{network.id}}">{{network.network}}</option>
				            </select>
						</td>

						<td class="center-column-text">
							 <div>{{game.gameday}}</div> 
							 <div>{{game.gametime}}</div> 
						</td>

						<td id='pickh_{{game.gamenbr}}_icon' class="teamNotSelected" >
							<img height="50" ng-src='img/nflicons/{{game.hometeamiconname}}'>
						</td>

						<td name='pickh_{{game.gamenbr}}_teamname' id='pickh_{{game.gamenbr}}_teamname' class="teamNotSelected" >
							{{game.hometeamlocation}} &nbsp; {{game.hometeamname}}
						</td>

						<td id='teama_{{game.gamenbr}}_icon' class="teamNotSelected"  >
							<img height="50" ng-src='img/nflicons/{{game.awayteamiconname}}'>
						</td>

						<td name='teama_{{game.gamenbr}}_teamname' id='awayteam' class="teamNotSelected" >
							{{game.awayteamlocation}} &nbsp; {{game.awayteamname}}
						</td>
					</tr>

				</table>
			</div> <!-- end of panel body -->
		</div> 	<!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div style="padding-top:15px; padding-bottom:35px;" class="row">
	<div class="col-md-offset-2  col-md-8">
		<button style="font-weight:bold;font-variant:small-caps;letter-spacing:5px;" type="button" class="btn btn-danger btn-lg btn-block" ng-click="saveGameNetworkWeeklyInfo()" id="saveGamesNetworkBottom" name="saveGamesNetworkBottom">Click Here to Save Network</button>
	</div><!-- end of col 12 -->
</div> <!-- end of row -->

</form>

<!-- dialogs -->
<div class="modal fade" id="gameNetworkInfoSavedDialogModal" tabindex="-1" role="dialog" aria-labelledby="gameNetworkInfoSavedDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="gameNetworkInfoSavedDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="gameNetworkInfoSavedDialogModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->