<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">Hall Of Memory</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div style="padding-top:15px;" class="pageStandardOffset row">
    <div 
      ng-class="{ 'col-md-offset-1 col-md-3': ($index%3) == 0, 
                  'col-md-3': ($index%3) != 0 }" 
      ng-repeat="hallofmemory in hallofmemorys" style="height:675px;">
      <div ng-mouseover="homimage = hallofmemory.photoB;
                         homtitle = hallofmemory.titleB;
                         homdetail = hallofmemory.detailB" 
          ng-mouseout="homimage = hallofmemory.photoA;
                       homtitle = hallofmemory.titleA;
                       homdetail = hallofmemory.detailA" 
          ng-init="homimage = hallofmemory.photoA;
                   homtitle = hallofmemory.titleA;
                   homdetail = hallofmemory.detailA">
        <div class="thumbnail">
            <img 
            id ="{{hallofmemory.memberid}}" 
            ng-src="img/hallofmemory/{{homimage}}">
        </div> <!-- end of thumbnail -->
            
        <div class="caption">
            <h3 ng-bind-html="homtitle" class="hallFameParagraphCaptionHeader">
              
            </h3> 

            <p ng-bind-html="homdetail" class="hallFameParagraph">
             
            </p>
        </div>  <!-- end of caption -->
      </div>
    </div> <!-- end of repeat and cols -->
  </div> <!-- end of row -->

<div style="padding-bottom:70px;">&nbsp;</div>