<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">Hall Of Fame</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">

  <div class="col-md-3">
      <div class="thumbnail">
        <img id="hf2018" style="width:100%;" src="img/halloffame/donomalleyhof-2018.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3>Don O'Malley (4Horsemen) - 2018 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">Don is our first male winner! Long live the new King! Way to go Don!</p>
      </div>
  </div> <!-- end of col 4 -->

  <div class="col-md-offset-1 col-md-3">
      <div class="thumbnail">
        <img id="hf2017" style="width:100%;" src="img/halloffame/PaulaBishopDDDWin8AFix.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3>Paula Bishop - 2017 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">Paula is a second year member. An avid tennis player, Paula clearly knows her sports. Way to go Paula!</p>
      </div>
  </div> <!-- end of col 4 -->

  <div class="col-md-offset-1 col-md-3">
      <div class="thumbnail">
        <img id="hf2016" style="width:100%;" src="img/halloffame/Sabrina2ndWinCrop.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3>Sabrina Hunzelman - 2016 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">Sabrina is our first repeat winner! The bar is now officially raised for the rest of us. Way to go Sabrina!</p>
      </div>
  </div> <!-- end of col 4 -->
</div> <!-- end of row -->  

<div class="pageStandardOffset row">
  <div class="col-md-3">
      <div class="thumbnail">
        <img id="hf2015" style="width:100%;" src="img/halloffame/SabrinaWinner.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3>Sabrina Hunzelman - 2015 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">New to our group in 2015, Sabrina dominted first place. This soft spoken dental hygentist set her 'teeth' into her analysis and took the 'crown' with ease! Way to go Sabrina!</p>
      </div>
  </div> <!-- end of col 4 -->

  <div class="col-md-offset-1 col-md-3">
      <div class="thumbnail">
        <img id="hf2014" style="width:100%;" src="img/halloffame/MomVictor.png" alt="Way to go Mom">
      </div>

      <div class="caption">
        <h3>Laura Cutler - 2014 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">As both Grandmother and Mother, Laura took everyone by suprise and showed us "experts" how to walk the walk. Way to go Mom, Grandma and Laura!</p>
        <br /><br /><br /><br />
      </div>
  </div> <!-- end of col 4 -->

  <div class="col-md-offset-1 col-md-3">
      <div class="thumbnail">
        <img id="hfdefault" style="width:100%;" src="img/halloffame/HallofFamePicture2.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3>This could be you! - 2019 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">Glowing praise and admiration for you!</p>
      </div>
  </div> <!-- end of col 4 -->
</div> <!-- end of row -->

<div style="padding-bottom:70px;">&nbsp;</div>