<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">Hall Of Fame</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->


<div style="padding-top:15px;" class="pageStandardOffset row">
  <div class="col-md-offset-1 col-md-3">
      <div class="thumbnail">
        <img id="hfdefault" style="width:100%;" src="img/halloffame/HallofFamePicture2.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3 class="hallFameParagraphCaptionHeader">This could be you! - Next years Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">Glowing praise and admiration for you!</p>
      </div>
  </div> <!-- end of col 3 -->

  <div class="col-md-3">
      <div class="thumbnail">
        <img id="hf2021" style="width:100%;" src="img/halloffame/OscarGuzmanAvatar2A.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3 class="hallFameParagraphCaptionHeader">Oscar Guzman (Hygenius) - 2021 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">Oscar Guzman was in the hunt all year. Another Dental Hygentist (like his wife Toothfairy), Oscar kept his head clear and took the 'crown' when it mattered! Way to go Oscar!</p>
      </div>
  </div> <!-- end of col 3 -->

  <div class="col-md-3">
    <div class="thumbnail">
      <img id="hf2020" style="width:100%;" src="img/halloffame/HallofFameWinners20201.png" alt="This could be you!">
    </div>

    <div class="caption">
      <h3 class="hallFameParagraphCaptionHeader"> Alaskan Fisherman (Chuck Miemiec), SandyR (Sandy Rudman),  Skinny (Bonnie Shuris) - 2020 Dare Devil Duck League Winners</h3>
      <p class="hallFameParagraph">Chuck Miemiec (2015) long time member. Sandy (2017) is another Maine-iac! Bonnie (2014) is one of our original eight players! Way to go All!</p>
    </div>
  </div> <!-- end of col 3 -->
</div> <!-- end of row -->  

<div style="padding-top:15px;" class="pageStandardOffset row">
  <div class="col-md-offset-1 col-md-3">
      <div class="thumbnail">
        <img id="hf2019" style="width:100%;" src="img/halloffame/Tanya-Temp-Hall-of-Fame-Pic.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3 class="hallFameParagraphCaptionHeader">  Team Remington (Tanya Gorman, Tony Bruehl & Remington) - 2019 Dare Devil Duck League Winners</h3>
        <p class="hallFameParagraph">Tanya and Tony from Team Remington (their dog is Remington) put in a stellar season culminating in a spectacular win! Way to go Team Remington!</p>
      </div>
  </div> <!-- end of col 3 -->

  <div class="col-md-3">
      <div class="thumbnail">
        <img id="hf2018" style="width:100%;" src="img/halloffame/donomalleyhof-2018.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3 class="hallFameParagraphCaptionHeader">4Horsemen (Don O'Malley) - 2018 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">Don is our first male winner! Long live the new King! Way to go Don!</p>
      </div>
  </div> <!-- end of col 3 -->

  <div class="col-md-3">
      <div class="thumbnail">
        <img id="hf2017" style="width:100%;" src="img/halloffame/PaulaBishopDDDWin8AFix.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3 class="hallFameParagraphCaptionHeader">Hawk Eye (Paula Bishop) - 2017 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">Paula is a second year member. An avid tennis player, Paula clearly knows her sports. Way to go Paula!</p>
      </div>
  </div> <!-- end of col 3 -->
</div> <!-- end of row -->  

<div style="padding-top:15px;" class="pageStandardOffset row">
  <div class="col-md-offset-1 col-md-3">
      <div class="thumbnail">
        <img id="hf2016" style="width:100%;" src="img/halloffame/Sabrina2ndWinCrop.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3 class="hallFameParagraphCaptionHeader">Toothfairy (Sabrina Hunzelman) - 2016 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">Sabrina is our first repeat winner! The bar is now officially raised for the rest of us. Way to go Sabrina!</p>
      </div>
  </div> <!-- end of col 3 -->

  <div class="col-md-3">
      <div class="thumbnail">
        <img id="hf2015" style="width:100%;" src="img/halloffame/SabrinaWinner.png" alt="This could be you!">
      </div>

      <div class="caption">
        <h3 class="hallFameParagraphCaptionHeader">Toothfairy (Sabrina Hunzelman) - 2015 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">New to our group in 2015, Sabrina dominted first place. This soft spoken dental hygentist set her 'teeth' into her analysis and took the 'crown' with ease! Way to go Sabrina!</p>
      </div>
  </div> <!-- end of col 3 -->

  <div class="col-md-3">
      <div class="thumbnail">
        <img id="hf2014" style="width:100%;" src="img/halloffame/MomVictor.png" alt="Way to go Mom">
      </div>

      <div class="caption">
        <h3 class="hallFameParagraphCaptionHeader">Peanuts (Laura Cutler) - 2014 Dare Devil Duck League Winner</h3>
        <p class="hallFameParagraph">As both Grandmother and Mother, Laura took everyone by suprise and showed us "experts" how to walk the walk. Way to go Mom, Grandma and Laura!</p>
        <br /><br /><br /><br />
      </div>
  </div> <!-- end of col 3 -->
</div> <!-- end of row -->

<div style="padding-bottom:70px;">&nbsp;</div>