<div class="container">

<div class="pageStandardOffset">&nbsp;</div>
  
<div class="jumbotron">
  <h1>Welcome to the Dare Devil Ducks NFL Game Website!</h1>

  <p style="padding-top:25px;">Last year was a lot of fun and it didn't hurt that the Patriots were victorious!</p>

  <p>This year instead of the spreadsheet we are unveiling our Dare Devil Ducks Web site! Call me if you do not already have a login id.</p>
  <p><a class="btn btn-primary btn-lg" href="#/callme" role="button">Learn more</a></p>
</div>

<div style="padding-bottom:50px;">&nbsp;</div>
</div> <!-- end of container -->

<!-- 16:9 aspect ratio -->
    <!-- <div class="embed-responsive embed-responsive-16by9">
    https://www.youtube.com/watch?v=zpOULjyy-n8
    </div> -->
    