<div class="container">

<div class="pageStandardOffset">&nbsp;</div>
  
<div class="">
	<div class="mainTitle">
		<div id="homemaintitle1">Welcome to the Daredevil Ducks League Website!</div>
	</div>

	<div class="row" style="padding-top:30px;">
		<div style="padding-top:40px;" class="col-md-5">
			<div>
				<!-- 
					<a id="showpicture" name="showpicture" href="" ng-click="showPicture('Season Playoff Bracket',bracket)">
            <img style="width:100%;" src="img/ddd-Jess.png" alt="daredevil ducks mascot" class="img-rounded">
        	</a>
				 -->
				<img style="width:100%;" src="img/ddd-Jess.png" alt="daredevil ducks mascot" class="img-rounded">
			</div>

			<p style="padding-top: 40px;">
				<a id="loginHomeButton" class="btn btn-primary btn-lg" ng-click="homepagelogin()" role="button">Login</a>
			</p>

		  <div style="padding-top: 25px;" id="weekgameinfo" class="weekgameinfo" ng-include="'app/partials/iweeksgameinfo.html'">
		  </div> <!-- end of weekgameinfo -->	
		    
			<div style="padding-top: 30px;" id="didyouknow" class="newsOpinion" ng-include="'app/partials/ididyouknow.html'">
		  </div> <!-- end of didyouknow -->

		  <div style="padding-top: 30px;" id="helpnews" class="newsOpinion" ng-include="'app/partials/ihelpnews.html'">
		  </div> <!-- end of ihelpnews -->


		</div> <!-- end of col 6 -->

		<div class="col-md-offset-1 col-md-6" style="padding-top:15px;" >
		    <div class="">
		        <h3 class="headerTitle2">League News & Opinion</h3>
		    </div>

		    <div id="newsopinion" class="newsOpinion" ng-include="'app/partials/inewsopinion.html'">
		    </div> <!-- end of newsopinion -->	

		    <div style="padding-top:25px;">

				   
				<!-- 	<div>
						<a id="showpicture" name="showpicture" href="#spooky">
							<img style="width:90%;" src="img/Halloween-HomeScreen-2018.png" alt="New Season" class="img-responsive center-block">
					</a>  -->
				

				<!-- 
					<a id="showpicture" name="showpicture" href="" ng-click="showPicture('Winter Wonderland!','Winter-HomePage2-2020.png')">
							<img style="width:90%;" src="img/HomePageEnd2016Season2.png" alt="winner Wonderland!" class="img-responsive center-block">
					</a> 
				-->
				
					<a id="showpicture" name="showpicture" href="" ng-click="showPicture('Happy New Year to All! ','NewYear-HomeScrn1-2023.png')">
							<img style="width:100%;" src="img/NewYear-HomeScrn1-2023.png" alt="New Year" class="img-responsive center-block">
					</a> 

				<!-- 	
					<a id="showpicture" name="showpicture" href="#fireworks">
						<img style="width:80%;" src="img/FallHomePage2019.png" alt="Season starts" class="img-responsive center-block">
					</a>
				-->

				<!-- 	
					<a id="showpicture" name="showpicture" href="" ng-click="showPicture('Columbus Day! ','ColumbusDayHomScrn2019.png')">
						<img style="width:80%;" src="img/ColumbusDayHomScrn2019.png" alt="Columbus day" class="img-responsive center-block">
					</a> -->

				<!-- 
				<a id="showpicture" name="showpicture" href="" ng-click="showPicture('Merry Christmas to All our Members! ','Christmas-HomeScrn-2022.png')">
						<img style="width:95%;" src="img/Christmas-HomeScrn-2022.png" alt="Merry Christmas" class="img-responsive center-block">
					</a> 
				-->
				</div>

				<div style="padding-top: 25px;" id="onemorething" class="weekgameinfo" ng-include="'app/partials/idddupdates.html'">
		  	</div> <!-- end of onemorething -->	

			</div>
		</div> <!-- end of col 6 -->
	</div> <!-- end of row -->
</div> <!-- end of class -->

<!-- <div style="padding-top:35px;">&nbsp;</div> -->

</div> <!-- end of container -->

<!-- dialogs -->
<div class="modal fade" id="homePicShowModal" tabindex="-1" role="dialog" aria-labelledby="homePicSModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title bracketModalTitle" style="font-family:'metro-retro',serif;font-size:40px;color:#ac8747;text-align:center" id="homePicShowModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="homePicShowModalBody">
        	<img ng-src={{showPictureSrc}} style="width:80%;" class="center-block img-responsive" alt="show picture">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  


<!-- 16:9 aspect ratio -->
    <!-- <div class="embed-responsive embed-responsive-16by9">
    https://www.youtube.com/watch?v=zpOULjyy-n8
    </div> -->
    