<div class="container">

<div class="pageStandardOffset">&nbsp;</div>
  
<div class="">
	<div class="mainTitle">
		<div id="homemaintitle1">Welcome to the Daredevil Ducks League Website!</div>
	</div>

	<div class="row" style="padding-top:30px;">
		<div style="padding-top:40px;" class="col-md-5">
			<div>
					 
				<!-- cket
					<a id="showpicture" name="showpicture" href="" ng-click="showPicture('Season Playoff Bracket',bracket)">
            <img style="width:100%;" src="img/ddd-Jess.png" alt="daredevil ducks mascot" class="img-rounded">
        	</a>  
        -->
        	
				<!-- <img style="width:100%;" src="img/ddd-Jess.png" alt="daredevil ducks mascot" class="img-rounded"> -->

				<a id="showpicture" name="showpicture" href="" ng-click="showPicture('Happy New Year','NewYear-2025Home.png')">
						<img class="shadowImg" style="width:100%;" src="img/NewYear-2025Home.png" alt="Happy New Year!" class="img-responsive center-block">
				</a> 
			</div>

			<p style="padding-top: 40px;">
				<a id="loginHomeButton" class="btn btn-primary btn-lg" ng-click="homepagelogin()" role="button">Login</a>
			</p>

		  <div style="padding-top: 25px;" id="weekgameinfo" class="weekgameinfo" ng-include="'app/partials/iweeksgameinfo.html'">
		  </div> <!-- end of weekgameinfo -->	
		    
			<div style="padding-top: 30px;" id="didyouknow" class="newsOpinion" ng-include="'app/partials/ididyouknow.html'">
		  </div> <!-- end of didyouknow -->

		  <!-- Placeholder for riddles
		  <div style="padding-top:30px;">
					<a id="showpicture" name="showpicture" href="" ng-click="showPicture('The First Amendment!','BillofRights2.png')">
							<img style="width:50%;" src="img/dont-tread-on-me-A.png" alt="Faith, Family, Farm - Freedom!" class="img-responsive center-block">
					</a>   
			</div> 
			-->

		  <div style="padding-top: 30px;" id="helpnews" class="newsOpinion" ng-include="'app/partials/ihelpnews.html'">
		  </div> <!-- end of ihelpnews -->

		  <div style="padding-top: 25px;" id="onemorething" class="weekgameinfo" ng-include="'app/partials/idddupdates.html'">
	  		</div> <!-- end of onemorething -->	

	  	<!-- <div style="padding-top:50px;">
				<a id="showpicture" name="showpicture" href="" ng-click="showPicture('The First Amendment!','first-amendment-2024.png')">
						<img style="width:50%;" src="img/dont-tread-on-me-A.png" alt="Faith, Family, Farm - Freedom!" class="img-responsive center-block">
				</a>   
			</div> -->



		</div> <!-- end of col 6 -->

		<div class="col-md-offset-1 col-md-6" style="padding-top:15px;" >
		    <div class="">
		        <h3 class="headerTitle2">League Tidings & Opinions</h3>
		    </div>

		    <div id="newsopinion" class="newsOpinion" ng-include="'app/partials/inewsopinion.html'">
		    </div> <!-- end of newsopinion -->

		    
				<div style="padding-top: 30px;" id="inflobservations" class="newsOpinion" ng-include="'app/partials/inflobservationsdynamic.html'">
				</div> <!-- end of inflobservations -->	

		    <div style="padding-top:45px;"> 
				 	
					<!-- <a id="showpicture" name="showpicture" href="#spooky">
							<img style="width:80%;" src="img/Halloween-HomeScreen-2018.png" alt="New Season" class="img-responsive center-block">
					</a>   -->
				
				<!-- 	<a id="showpicture" name="showpicture" href="#fireworks">
						<img style="width:100%;" src="img/Spring-HomePage-2023B.png" alt="Season Ends" class="img-responsive center-block">
					</a>  -->
					
				 
				<!--
				<a id="showpicture" name="showpicture" href="" ng-click="showPicture('Thank our Veterans!','DonaldDuckSoldierMarinemain2023.png')">
						<img style="width:100%;" src="img/DonaldDuckSoldierMarinemain2023.png" alt="Veterans Day!" class="img-responsive center-block">
				</a>   
				--> 
				
				<!-- <a id="showpicture" name="showpicture" href="" ng-click="showPicture('Merry Christmas to All!','Christmas-HomeScrn-2022.png')">
						<img style="width:100%;" src="img/Christmas-HomeScrn-2022.png" alt="Merry Christmas to All!" class="img-responsive center-block">
				</a>  --> 

				<!-- 
				<a id="showpicture" name="showpicture" href="" ng-click="showPicture('Let us give Thanks for all that we have!','Thanksgiving-HomeScreen-2023.png')">
						<img style="width:100%;" src="img/Thanksgiving-HomeScreen-2023.png" alt="Thanksgiving Season!" class="img-responsive center-block">
				</a>  
				-->  
				
				<!-- 
					<a id="showpicture" name="showpicture" href="#fireworks"> 
						<img style="width:100%;" src="img/Fall-HomePage-2023.png" alt="Season starts" class="img-responsive center-block">
					</a>
				-->	

				<!-- 
					<a id="showpicture" name="showpicture" >
						<img style="width:100%;" src="img/Fall-HomePage-2023.png" alt="Season starts" class="img-responsive center-block">
					</a>
				-->
				 
				<!-- 
				<a id="showpicture" name="showpicture" href="" ng-click="showPicture('Columbus Day! ','ColumbusDayHomScrn2019.png')">
					<img style="width:80%;" src="img/ColumbusDayHomScrn2019.png" alt="Columbus day" class="img-responsive center-block">
				</a>  
				-->
				 
				<!-- <a id="showpicture" name="showpicture" href="" ng-click="showPicture('End of another Glorious Season! ','Winter-HomePage-2024.png')">
						<img style="width:80%;" src="img/Spring-HomePage-2023B.png" alt="End of another Glorious Season" class="img-responsive center-block">
				</a>  -->
				
				</div>

				
			</div>
		</div> <!-- end of col 6 -->
	</div> <!-- end of row -->
</div> <!-- end of class -->

<!-- <div style="padding-top:35px;">&nbsp;</div> -->

</div> <!-- end of container -->

<!-- dialogs -->
<div class="modal fade" id="homePicShowModal" tabindex="-1" role="dialog" aria-labelledby="homePicSModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title bracketModalTitle" style="font-family:'metro-retro',serif;font-size:40px;color:#1280d6;text-align:center" id="homePicShowModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="homePicShowModalBody">
        	<img ng-src={{showPictureSrc}} style="width:97%;" class="center-block img-responsive" alt="show picture">
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  


<!-- 16:9 aspect ratio -->
    <!-- <div class="embed-responsive embed-responsive-16by9">
    https://www.youtube.com/watch?v=zpOULjyy-n8
    </div> -->
    