<p style='padding-top: 15px;'>
	<span class='didyouknowHeaders' >One more thing</span>
</p>
<p class="didyouknowBody">
	We have again made changes that may require you to clear your web data (caches)!
</p>

<p class="didyouknowBody">
	This is because your web browser saves parts of web pages in order to speed up web browser response time. Unfortunately it can create a situation where web data gets out of sync.
</p>

<p class="didyouknowBody">
	If you are unsure on how to do this click on <a href="https://www.pcmag.com/how-to/how-to-clear-your-cache-on-any-browser" target="_blank" style="color:red;font-weight:bold;">this link</a>. It will take you to a PCMagazine article on clearing your web data!
</p>