<p>
	<span class="didyouknowHeaders">Did you know!</span>
</p>


<p class="didyouknowBody">
	Click on the Daredevil Duck Logo to se the <span style="color:#FF6E3B;font-weight:900;">Current 2021 Season bracket</span>. OR go to <span style="color:#FF6E3B;font-weight:900;">Teams > Teams Playoff Bracket</span> on the menu bar and choose the Season and the week.
</p>

<p style="padding-top:15px;" class="didyouknowBody">
	 Click on our Winter picture to see a larger rendering! 

	 <br><br>
	 On your mobile device move the picture of your Avatar to the left and then click on the Winter image!
</p>

<!-- <p class="didyouknowBody">
	Please fill out our Dare Devilducks survey if you have not! It will help us to continue improving our website!
</p>  -->

<!-- <p class="didyouknowBody">
	 Click on the <span style="color:#FF6E3B;font-weight:900;">Season is Over</span> image to see the fireworks celebrating the Tampa Bay Buccaneers Super Bowl victory! Mobile users can find <span style="color:#FF6E3B;font-weight:900;">Season is Over</span> image by scrolling Avatar at bottom of home page and selecting the image!
</p> -->

<p style="padding-top:15px;" class="didyouknowBody">
	Make it snow by clicking on the Christmas Tree at the bottom left of the page!
	<br><br>
	For our <span style="color:#FF6E3B;font-weight:900;">Mobile members</span> if you swipe your Avatar to the left you will see first the Christmas tree that will start and stop snow when clicked!
</p>