<p style="padding-bottom:5px;" >
	<span class="didyouknowHeaders">Did you know and Updates!</span>
</p>

<p class="didyouknowBody">
	As <span style="color:orange;font-weight:900;">Veterans Day</span> approaches it is time to remember all who not only served, but also those who gave their life in service to this country. 
</p>

<p class="didyouknowBody">
	When Wildcat Wonder and I travel west we always stop at <span style="color:orange;font-weight:900;">American Legion Post 639</span> named LZ639 after an American submarine whose conning tower sits in a park set aside for veterans. I bring this up because while neither Wildcat Wonder or myself have served; they have always been more then hospitable letting us park our Airstream trailer overnight. Really great people, with strong community values and community support for those who serve. 
</p>

<p class="didyouknowBody">
	If you are ever driving through Springfield Missouri stop by, have a pop and meet some friendly folks! They are populated by the true patriots of the United States of America. 
</p>

<p class="didyouknowBody">	
	In the meantime, as you move through your daily progressions; If you bump into a Veteran, reach out and thank them for their service!
</p>

<p>
	As a result we have given our Donald Duck images a military flair in support to those in uniform who have served! Check them out! See if you can find all our Donald Duck service men! Yea... This is a shameless plug to get you to visit areas you don't normally visit!
</p>

<p> 
	Mobile users swipe the icon at the bottom of the screen to the left until you see the <span style="color:orange;font-weight:900;">Veterans DDD</span>! Select the image for a larger image!
</p>


<br>

<p class="didyouknowBody">
	Our <span style="color:#FF6E3B;font-weight:900;">Pick Your Teams</span> web page has changed! We now display <span style="color:#FF6E3B;font-weight:900;">Team Player injuries</span> for the selected Season and Week in the <span style="color:#FF6E3B;font-weight:900;">Team Stats pop-up</span> window! This is available on both our Desktop and Mobile web pages. The injury information will be displayed at the bottom of the pop-up for each of the two competing teams! 
</p>

<p>
	This information will be available after the NFL releases the weeks injury report. According to the NFL '<span style="color:darkgray;font-weight:900; font-style: italic;">Each club must also file a weekly regular-season game status reports with the NFL Communications department by 4 p.m. EST on Wednesday for a Thursday game, Friday for a Sunday game, Saturday for a Monday game, and Thursday for a Saturday game.</span>' We will display information as soon as we get it. We will make updates as we become aware of them.
</p>
<p> 
	<span style="color:#FF6E3B;font-weight:900;">Pick Your Teams</span> is located under the <span style="color:#FF6E3B;font-weight:900;">Games</span> menu. The <span style="color:#FF6E3B;font-weight:900;">Team Stats pop-up</span> is shown when a member clicks on one of the two team icons.
</p>

<br>
<p class="didyouknowBody">
	Our <span style="color:#FF6E3B;font-weight:900;">NFL Headlines </span> web page has changed! You can now restrict what is returned from the selected <span style="color:maroon;font-weight:900;">News Source</span>! Simply type in the item you are looking for in the <span style="color:maroon;font-weight:900;">Search</span> input field and then click on the <span style="color:#FF6E3B;font-weight:900;">Get News</span> button. 
</p>
<p> 
	The <span style="color:#FF6E3B;font-weight:900;">NFL Headlines </span> web page is located under the <span style="color:#FF6E3B;font-weight:900;">Teams </span> menu. 
</p>

<!-- 
<br>
<p class="didyouknowBody">
	Our <span style="font-family:'aileronsemibold',serif; color:#6C0000;font-weight:900;">Fall </span> theme is here! For our computer users, click on the <span style="font-family:'aileronsemibold',serif; color:#6C0000;font-weight:900;">Fall</span> image on the home page to see a larger rendering! 
</p>

<p class="didyouknowBody">
	For our mobile users swipe left at the bottom of the main page and touch the <span style="font-family:'aileronsemibold',serif;color:#6C0000;font-weight:300;">Fall</span> image when it shows. Check it out!
</p>  -->


<!-- 
<p class="didyouknowBody">
	We have added a new  <span style="color:#FF6E3B;font-weight:900;">Compare Power Rankings for all Weeks</span> chart to our <span style="color:#FF6E3B;font-weight:900;">Team Stats</span> pop-ups! It will show the power rankings of the 2 teams playing for each week played in the season. Check it out!
</p>

<p class="didyouknowBody">
	Click on the <span style="color:#4d9e3a;font-weight:900;">Christmas tree</span> at the bottom of the page and watch it snow! Then click it again to stop it!
</p>

<p class="didyouknowBody">
	For our mobile users swipe left at the bottom of the main page and touch the <span style="color:#4d9e3a;font-weight:900;">Christmas tree</span>! Check it out!
</p> 
-->