<p>
	<span class="didyouknowHeaders">Help for Memebers!</span>
</p>

<!-- <p class="didyouknowBody">
	Be aware that the Football Gods are goofing with the game schedules in a whimsical manner! Those goofy Gods! We will endeaver to keep things straight. If you believe we missed something be sure and let us know.
</p> -->

<p class="didyouknowBody">
	Don't know how to logon from a mobile device? Check out <a target="_blank" style="color:#990033;font-weight:bold;" href="https://youtu.be/9gR7SYGm2VM">this</a> video about how to login from a mobile device and make your game picks. 
</p>

<p class="didyouknowBody">
	Need help? Try our <span style="color:#FF6E3B;font-weight:700;">Help System</span>! If you see this icon <img style="display:inline;height:30px;vertical-align:top;" ng-src="{{imagePath}}/help/HelpButton4Circle.png"> to the far right of a page heading - click on it. It will take you to the cooresponding <span style="color:#FF6E3B;font-weight:700;">help</span>  page. When you want to get back to the original page; look for this image <img style="display:inline;height:30px;vertical-align:top;" ng-src="{{imagePath}}/help/DonalDuckSoldierCanadiangoback.png"> Click on it and you will return. This is available for the desktop version only at this time.
</p>