<p style="padding-top: 15px;">
  <span class="newsOpinionHeaders">Member Results Summary</span>
</p>

<p>
We had another great turnout this week. Thank you all again for participating. <span style='color:#FF6E3B;font-weight:700;'>Di-Namic Duo</span> is solely in first place on the <span style='font-weight:bold; color:maroon;'> Total Games Won Leader</span> board! He is followed by many others in second and third place. 
</p>

<p>
For <span style='font-weight:bold; color:#228b22;'>Player Weekly Totals</span> bragging rights we have <span style='color:#FF6E3B;font-weight:700;'>Di-Namic Duo</span> in first place followed by a host of others tied for second. Way to go folks!
</p>