<p style="padding-top: 15px;">
  <span class="newsOpinionHeaders">Member Results Summary</span>
</p>

<p>
We had another great turnout this week! Thank you all for participating!
</p>

<p>
<span style='color:#FF6E3B;font-weight:700;'>Scotsman357</span> is continuing to bring the heat in his persuit of the <span style='font-weight:bold; color:maroon;' > Total Games Won Leader</span> board! Will he be able to hold on? There are at least a couple of suiters making a run for contention! 

<!-- He is followed by many others in his wake!  -->
</p>

<p>
For <span style='font-weight:bold; color:#228b22;'>Player Weekly Totals</span> bragging rights we have <span style='color:#FF6E3B;font-weight:700;'>Blue Lioness</span> in first place followed by a host of others. Way to go Sue!
</p>