<p style="padding-top: 15px;">
  <span class="newsOpinionHeaders">Member Results Summary</span>
</p>

<p>
We had another great turnout this week! Thank you all for participating!
</p>

<p>
<span style='color:#FF6E3B;font-weight:700;'>Scotsman357</span> is your new Daredevil Ducks Season 2025 Winner! If you know him please congratulate him. If you don't - well then aspire to be him!
</p>

<!-- <p>
For <span style='font-weight:bold; color:#228b22;'>Weekly Totals Leaders</span> bragging rights we have <span style='color:#FF6E3B;font-weight:700;'>29</span> members in first place followed by a host of others.  
</p> -->

<!-- <p>
For <span style='font-weight:bold; color:#228b22;'>Weekly Totals Leaders</span> bragging rights we have <span style='color:#FF6E3B;font-weight:700;'>Lots of people</span> in first place followed by a host of others.  
</p> -->