<p style='padding-top: 15px;'>
	<span class='newsOpinionHeaders'>End to the Tenth week of the Season!</span>
</p>

<p>
Let us all take the time to pause and be Thankful for all that we have!
</p>

<p>
In the first game, the Colts beat the Titans in a back and forth affair. The Tom Brady Buccaneers got back on the winning track by pummeling the Panthers. The Browns beat the Texans, the Lions beat the Washingtons and the Packers beat the Jaguars. The Giants beat the flightless Eagles and the Cardinals beat the Bills.
</p>


<p>
The Raiders beat the Broncos. The Dolphins continued to look good beating the Chargers. The Steelers continued their quest for an unbeaten season by beating the Bengals. The Rams gave the Seahawks their second loss in a row. The Saints beat the fading 49ers. The Patriots beat the Ravens in a monsoon. In the final game the Vikings beat the Bears.
</p>

<p>
  All in all a great week of football!
</p>

<p style='padding-top: 5px;'>
  <span class='newsOpinionHeaders'>Winners and Losers!</span>
</p>

<p>
  For <span style='font-weight:bold; color:#228b22;'>Total Wins Leader</span> 
 <span style='color:#FF6E3B;font-weight:700;'>edelMAN Down</span>
<!-- , <span style='color:#FF6E3B;font-weight:700;'>Hail Mary</span> -->
 <!-- and <span style='color:#FF6E3B;font-weight:700;'>edelMAN Down</span>  -->
continues to dominate as your <span style='color:#FF6E3B;font-weight:700;'>tenth week wins leader</span>!
He is followed by 
 <span style='color:#FF6E3B;font-weight:700;'>Archie</span> 
<!-- , <span style='color:#FF6E3B;font-weight:700;'>The Juice Is Loose</span>
, <span style='color:#FF6E3B;font-weight:700;'>Mad Farah</span> -->
 <!-- and <span style='color:#FF6E3B;font-weight:700;'>4Horsemen</span> -->
in second place, with 
 <span style='color:#FF6E3B;font-weight:700;'>Alaskan Fisherman</span>
<!-- , <span style='color:#FF6E3B;font-weight:700;'>Sville 5</span> -->
<!-- , <span style='color:#FF6E3B;font-weight:700;'>Super Brawler</span> -->
<!-- , <span style='color:#FF6E3B;font-weight:700;'>Captain Coconut</span>
 , <span style='color:#FF6E3B;font-weight:700;'>Team Remington</span> -->
and <span style='color:#FF6E3B;font-weight:700;'>The Juice Is Loose</span>
 in third place. 
</p>

<p>
  Way to go folks!  
</p>

<p>
For the rest of you. Better luck next week!
</p> 