<p style="padding-top: 15px;">
	<span class="newsOpinionHeaders">Welcome to a new Daredevil Ducks Football Season!</span>
</p>
<p>
Week 17 is in the books! On to Week 18!
</p>
<p>	
The busy Holidays left me no time to recap week 16 action! Alas, But we had a great week 17 and we are now into the Playoffs! So, without further ado lets talk about what happened in week 17! And what a week that was. The Patriots finally took care of business with a strong showing against the Jets. The Pats still have holes, but so do most who made the cut. The Bills crushed the Dolphins in a meaningless game. The Lions did the same to the Packers. The Texans beat the Jaguars which would have been meaningful if the Patriots had lost. Sorry Texans, your path to the super bowl goes through Foxborough! The Panthers beat the Saints without Cam Newton. The Cowboys squeaked by the Giants. In another game without meaning - the Falcons beat the Buccaneers. The Ravens beat the Browns in what I thought was the game of the week. In doing so they crushed the chances for the Steelers to make the playoffs. 
</p>
<p>
The Chiefs ensured their number one status and home field by crushing the Raiders. The Bears beat the Vikings out of the playoffs. The Steelers beat the Bengals, but lost the war. The Eagles showed tremendous grit as they beat the Redskins and made the playoffs. The Chargers crushed the Broncos and the Rams beat their California bros, the 49ers. The Seahawks edged by the Cardinals and in the last regular game of 2018 the Colts propelled themselves into the plyoffs by beating the Titans.
</p>
<p>
  All in all a great week of football!
</p> 

<br />
<p>
	We had another great turnout this week. Thank you all again for participating. We hope you are having fun!
</p>

<p style="padding-top: 15px;">
	<span class="newsOpinionHeaders">Daredevil Ducks Updates</span>
</p>

<p>
	We added a new feature where if you hold the mouse over a team icon, a bar graph image appears. This is to emphasize the point that clicking on that team icon will bring up the teams statistics.
</p> 

<p>
	Wildcat Wonder added a new chart which shows and will continue to show; where teams stand with respect to the playoffs. Including 1st round byes, Wild Cards and 'In the Hunt'. You will find this new chart on the 'Team Playoff Brackets' page under 'Teams' AND by clicking on the large Daredevil ducks icon on the home page.
</p> 

<!-- <p>
	The Statistics from week 15 will be available soon!
</p>
 -->
<p>
	The Statistics from week 17 are available thanks to the hard work of Wildcat Wonder!
</p>

<!-- <p>
	Please send your Daredevil Ducks $2 donation to:<br />
	Tammy Jamieson Cutler<br />
	5 Masconomo street<br />
	Manchester, MA 01944<br />
</p>
 -->
<br />

<p style="padding-top: 15px;">
	<span class="newsOpinionHeaders">Week 18 Game Days - Post Season</span>
</p>

<p style="color:#ef3e3e;font-weight:bold;">
	Games this week are on Saturday January 5, and Sunday January 6.
</p>

<p style="color:green;font-weight:bold;">There is NO Thursday Night Game and NO Monday Night Game.
</p>
