<p style="padding-top: 5px;">
  <span class="newsOpinionHeaders">Wildcard Week 19 recap!</span>
</p>

<p>
In the opening game, the Texans put an old style shellacking on the Browns.  Too many mistakes by Cleveland! In a return to the ice age (Climate Warming? Really?) the Chiefs beat the warm weather Dolphins. Just saying...
</p> 

<p>
The Packers upset the Cowboys in Dallas! Jerry Jones looked like he was ready to skin someone. Belichick opportunity? The Lions beat the Rams in  nail biter! The old quarterback for the Rams, who was now the quarterback for the Lions, beat the former quarterback of the Lions who was now the quarterback for the Rams. Yea... Try saying that 5 times fast! At the snow bowl, the Bills beat a tough Steelers team. 
</p>

<p>
In the final game of the week, the Buccaneers crushed the disappointing Eagles. The Eagles are another team where changes will be coming!
</p>  

<!-- <p>
  All in all a superb start to the season!
</p>  --> 

<p>
  <span style='color:#40B7E0;font-weight:900;'>All in all a superb week of football! On to Divisional Playoffs, week 20!</span>
</p>  

 
<!-- <p>
  All in all it looks like we are in for an entertaining season! 
</p>   -->


<!-- <p>
We had another great turnout this week. Thank you all again for participating. 
</p> -->


<p>
We had a great turnout this week. Thank you all again for participating. <span style='color:#FF6E3B;font-weight:700;'>Sville 5</span> continues to own first place on the <span style='font-weight:bold; color:maroon;'> Total Games Won Leader</span> board! They are followed by many others in second and third place. 
</p>

<p>
For <span style='font-weight:bold; color:#228b22;'>Player Weekly Totals</span> bragging rights we have <span style='color:#FF6E3B;font-weight:700;'>Sunshine</span> in first place followed by a host of others. Yowsa! Way to folks!
</p> 

<p>
Welcome to the Divisional Playoffs! This should be another very entertaining week! Enjoy!
</p>

<!-- <p>
  All good things come to a close! For now... We hope to see you all next year!
</p> -->
