<p style="padding-top: 15px;">
	<span class="newsOpinionHeaders">Week 17 Roundup</span>
</p>
<p>
	The final game of the regular season has been played! The new year has been ushered in giving all of us another opportunity to recalibrate our lives! 
</p>	
<p>	
	The Patriots started with a methodical march down the field and then struggled. But in the end they were able to put it together taking with them the home field advantage for playoffs. The Giants beat the Redskins in a meaningless game. The Vikings beat the Bears and the Lions beat the Packers and the Colts beat the Texans. Pittsburg decided to concede home field to the Patriots as they pulled their star players out, eking out a win over the now 0 and 16 Browns. The Eagles lost to the Cowboys and looked inept doing so. The Eagles may be a first seed, but they dont look the same with Wentz. The 49res beat the second string Rams.
</p>
<p>
	The Chargers beat the Raiders, but missed the wild card cut. The Chiefs looked bad beating an equally bad Bronco team. The Titans beat the Jaguars. The Buccaneers beat the Saints and the Bills beat the Dolphins putting Buffalo in the playoffs for the first time in a long while. The Cardinals beat the Seahawks eliminating them from the playoffs. Way to go Cardinals! Atlanta beat the Panthers. The Bengals beat the Ravens, kicking the Ravens out of playoff contention. All in all a great final week! Looks like a good lineup for the playoffs.
</p>
<p>
	We had another great turnout this week. Thank you all again for participating. Hawk Eye continues to keep sole possession of first place for <span style='font-weight:bold; color:maroon;'>Total Games Won Leader</span> board! She is followed by Wildcat Wonder in second with NFL Amateur in third.
</p>

<p>
For <span style='font-weight:bold; color:#228b22;'>Player Weekly Totals</span> bragging rights we have beach goer, GrammyGrams, Johor Tigress and Wildcat Wonder in first place. They are followed by a large group of folks in second and third! Way to go Folks! 
</p>  

<p style="padding-top: 15px;">
	<span class="newsOpinionHeaders">Daredevil Ducks Updates</span>
</p>
<p>
	The Statistics for week 17 are ready now! 
</p>

<p>	
	Wildcat Wonder has built the most current of the Playoff Brackets! Find this under <span style="font-weight:bold;color:black;">Teams > Team Playoff Bracket</span> OR Non Mobile users click on bracket image on left to see larger version!
</p>

<br />

<p>
<span style='font-weight:bold;color:#228B22;'>We hope you all had a Happy New Year!</span>
</p>

<p>
If you click on the Happy New Year picture on the Dare Devil Ducks home page you will be taken to our Fireworks Display!  
</p>

<p>
For your Mobile devices simply use your thumb and swipe right to left at the bottom of the page where your Avatar is. And behold the New Year picture will appear. Touch it and see the fireworks.
</p>

<p style="padding-top: 15px;">
	<span class="newsOpinionHeaders">Week 18 Game Days - Playoffs first round</span>
</p>

<p style="color:#ef3e3e;font-weight:bold;">
	Games this week are on Saturday January 6 and Sunday January 7.
</p>