<p style='padding-top: 15px;'>
	<span class='didyouknowHeaders' >Game Dates!</span>
</p>

<p class="didyouknowBody">
	<span style="color:#4682B4;font-size:20px;font-family: 'Open Sans', sans-serif;">Week game dates</span>
	<br />
	<span style="color:#FF6E3B;font-weight:900;">Thursday September 9, 2021</span>
	<br />
	<span style="color:#FF6E3B;font-weight:900;">Sunday September 12, 2021</span>
	<br />
	<span style="color:#FF6E3B;font-weight:900;">Monday September 13, 2021</span>
</p>

<p class="didyouknowBody">
	<span style="color:#4682B4;font-size:20px;font-family: 'Open Sans', sans-serif;">Statistics Availability</span>
	<br />
	<span style='color:#FF6E3B;font-weight:700;'>New Seasons stastistics will be avaialble soon!</span>
	<br>
</p>
