<p style='padding-top: 15px;'>
	<span class='didyouknowHeaders' >Game Information for Week 3</span>
</p>

<p class="didyouknowBody">
	This weeks games are <span style="color:#FF6E3B;font-weight:900;">Thursday September 26, 2019, Sunday September 29, 2019</span> and <span style="color:#FF6E3B;font-weight:900;">Monday September 30, 2019</span>
</p>

<p class="didyouknowBody">
	The Statistics from <span style='color:#FF6E3B;font-weight:700;'>week 3 will be available</span> soon!
</p>

<!-- <p class="didyouknowBody">
	The Statistics from <span style='color:#FF6E3B;font-weight:700;'>week 3 are available</span> thanks to the hard work of Wildcat Wonder!
</p> -->


