<div class="pageCaption row">
	<div class="col-md-3">
		<h2>Leader Year</h2> 
	</div> <!-- end of col -->
</div> <!-- end of row -->

<form id="pickweekForm" name="pickweekForm" style="padding:10px;" class="form-inline">
<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group horizontalFieldOffset">
			    	<label for="season" class="control-label">Season </label>
		            <select class="form-control" ng-change="getYearlyLeaderBoard()" ng-model="current.season" id="season" name="season">
		                <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
		            </select>
				</div> <!-- end of form-group -->
			</div> <!-- end of panel body -->				
		</div> <!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->


<div class="pageStandardOffset row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Regular Season</h3>
			</div>
			<div class="panel-body">
				<table class="leaderBoardTable" >
					<tr>
						<th>Position</th>
						<th>Leader</th>				
						<th>Wins</th>
						<th>Losses</th>
						<th>Percent</th>				
					</tr>

					<tr ng-repeat="game in games">
						<td class="left-column-text">
							{{game.gamedate}} &nbsp; {{game.gameday}} &nbsp; {{game.gametime}} &nbsp; 
							<img height='25' style='padding-left:5px;' src='img/tvicons/{{game.networkiconname}}'>
						</td>

						<td class="center-column-text">
						    <input ng-checked="{{game.hometeamid == game.teamselected}}" name='pick_{{game.gamenbr}}' id='pick_{{game.gamenbr}}' value='{{game.hometeamid}}' type='radio' />
						</td>

						<td>
							<img height='25' src='img/nflicons/{{game.hometeamiconname}}'> &nbsp; 
		                    {{game.hometeamlocation}} &nbsp; {{game.hometeamname}}
						</td>
						
						<td>
							   {{game.homewins}} -
							   {{game.homelosses}} -
							   {{game.hometies}}
						</td>

						<td class="center-column-text">{{game.hometeamscore}}</td>

						<td class="center-column-text">
						    <input ng-checked="{{game.awayteamid == game.teamselected}}" name='pick_{{game.gamenbr}}' id='pick_{{game.gamenbr}}' value='{{game.awayteamid}}' type='radio' />
						</td>

						<td>
							<img height='25' src='img/nflicons/{{game.awayteamiconname}}'> &nbsp; 
		                    {{game.awayteamlocation}} &nbsp; {{game.awayteamname}}
						</td>

						<td class="center-column-text">
							   {{game.homewins}} -
							   {{game.homelosses}} -
							   {{game.hometies}}
						</td>

						<td class="center-column-text">{{game.awayteamscore}}</td>
					</tr>

				</table>
			</div>
		</div>
	</div> <!-- end of col-5 -->

	<div class="col-md-2">
		
	</div> <!-- end of col-2 -->

	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Total Season</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</div> <!-- end of col-5 -->
</div> <!-- end of row -->

<div style="padding-bottom:50px;">&nbsp;</div>