<div class="pageCaption row">
	<div class="col-md-3">
		<h2>Leader Board</h2> 
	</div> <!-- end of col -->
</div> <!-- end of row -->

<form id="pickweekForm" name="pickweekForm" style="padding:10px;" class="form-inline">
<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group horizontalFieldOffset">
			    	<label for="season" class="control-label">Season </label>
		            <select class="form-control" ng-change="getYearlyLeaderBoard()" ng-model="current.season" id="season" name="season">
		                <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
		            </select>

		           <!--  <label style="padding-left:50px;" for="gametype" class="control-label">Game Type </label>
		            <select class="form-control" ng-change="getYearlyLeaderBoard()" ng-model="current.gametypeid" id="gametype" name="gametype">
		                <option ng-repeat="gametype in gametypes" 
		                		ng-selected="{{current.gametypeid == gametype.id}}" 
		                		value="{{gametype.id}}">{{gametype.gametype}}</option>
		            </select> -->
				</div> <!-- end of form-group -->
			</div> <!-- end of panel body -->				
		</div> <!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->


<div class="pageStandardOffset row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Total Percentage Leader</h3>
			</div>
			<div class="panel-body">
				<table class="leaderBoardTable" >
					<tr>
						<th style="padding-right:15px;">Nbr</th>
						<th colspan="2">Leader</th>				
						<th>W -</th>
						<th>L -</th>
						<th style="padding-right:15px;">T </th>
						<th>Totals</th>
						<th>Percent</th>				
					</tr>

					<tr ng-repeat="memberseasonpercentstat in memberseasonpercentstats">
						<td style="padding-right:15px;" class="center-column-text">{{memberseasonpercentstat.position}}</td>

						<td class="left-column-text"><img style="height:70px;" ng-show="memberseasonpercentstat.memberavatar != ''" ng-src="img/avatars/{{memberseasonpercentstat.memberavatar}}"></td>

						<td class="left-column-text">{{memberseasonpercentstat.screenname}}</td>

						<td class="center-column-text">{{memberseasonpercentstat.wins}} -</td>
						
						<td class="center-column-text">{{memberseasonpercentstat.losses}} -</td>

						<td style="padding-right:15px;" class="center-column-text">{{memberseasonpercentstat.ties}}</td>

						<td class="center-column-text">{{memberseasonpercentstat.totalgames}}</td>

						<td class="center-column-text">{{memberseasonpercentstat.showpercent}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div> <!-- end of col-5 -->

	<div class="col-md-2">
		<!-- <div class="row">
			<div style='padding-top:5px;'  class="col-offset-md-1 col-md-10">
				<img align="center" src='img/ddd_lb_top.png'>
			</div>	
		</div>
		
		<div style='padding-top:75%;' class="row">
			<div class="col-offset-md-1 col-md-10">
				<img align="center" src='img/ddd_lb_bot.png'>
			</div>	
		</div> -->
	</div> <!-- end of col-2 -->

	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Total Games Won Leader</h3>
			</div>
			<div class="panel-body">
				<table class="leaderBoardTable" >
					<tr>
						<th style="padding-right:15px;">Nbr</th>
						<th colspan="2">Leader</th>				
						<th>W -</th>
						<th>L -</th>
						<th style="padding-right:15px;">T </th>
						<th>Totals</th>
						<th>Percent</th>				
					</tr>

					<tr ng-repeat="memberseasonwinstats in memberseasonwinstats">
						<td style="padding-right:15px;" class="center-column-text">{{memberseasonwinstats.position}}</td>

						<td class="left-column-text"><img style="height:70px;" ng-show="memberseasonwinstats.memberavatar != ''" ng-src="img/avatars/{{memberseasonwinstats.memberavatar}}"></td>

						<td class="left-column-text">{{memberseasonwinstats.screenname}}</td>

						<td class="center-column-text">{{memberseasonwinstats.wins}} -</td>
						
						<td class="center-column-text">{{memberseasonwinstats.losses}} -</td>

						<td style="padding-right:15px;" class="center-column-text">{{memberseasonwinstats.ties}}</td>

						<td class="center-column-text">{{memberseasonwinstats.totalgames}}</td>

						<td class="center-column-text">{{memberseasonwinstats.showpercent}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div> <!-- end of col-5 -->
</div> <!-- end of row -->

<div style="padding-bottom:50px;">&nbsp;</div>