<div class="pageCaption row">
	<div class="col-md-2">
		<h2 class="headerTitle">Leader Board</h2> 
	</div> <!-- end of col -->

	<form id="pickweekForm" name="pickweekForm" style="padding:10px;" class="form-inline">
	<div class="col-md-10">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">
					<div class="form-group horizontalFieldOffset">
				    	<label for="season" class="control-label">Season </label>
			            <select class="customSelect form-control" ng-change="getYearlyLeaderBoard()" ng-model="current.season" id="season" name="season">
			                <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->
				</div> <!-- end of panel body -->			
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->			
	</div> <!-- end of col 10 -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div style="background-color:#058689;border:2px;solid #055659;color:white;text-align:center;" class="panel-heading">
				<h3 class="leaderBoardPanelTitle panel-title">Total Games Won Leader</h3>
			</div>
			<div class="panel-body">
				<div class="table-responsive">
				<table class="table leaderBoardTable">
					<tr>
						<th>Rank</th>
						<th colspan="2">Leader</th>				
						<th style="width:25px;">W</th>
						<th style="width:25px;">L</th>
						<th style="width:25px;">T</th>
					</tr>

					<tr ng-repeat="memberseasonwinstats in memberseasonwinstats">
						<td style="padding-right:15px;" class="center-column-text">{{memberseasonwinstats.position}}</td>

						<td class="left-column-text"><img style="height:70px;" ng-show="memberseasonwinstats.memberavatar != ''" ng-src="img/avatars/{{memberseasonwinstats.memberavatar}}"></td>

						<td class="left-column-text">{{memberseasonwinstats.screenname}}</td>

						<td class="center-column-text">{{memberseasonwinstats.wins}} </td>
						
						<td class="center-column-text">{{memberseasonwinstats.losses}} </td>

						<td class="center-column-text">{{memberseasonwinstats.ties}}</td>
					</tr>
				</table>
				</div> <!-- end of responsive -->
			</div> <!-- end of panel body -->
		</div> <!-- end of panel -->
	</div> <!-- end of col-5 -->

	<div class="col-md-2">
		<div style='padding-top:5px;' class="row">
			<div class="col-md-12">
				<div >
					<img style="height:160px;" align="center" src='img/lb-top.png'>
				</div>	
			</div>	
		</div>
		
		<div style='padding-top:2180px;' class="row">
			<div class="col-md-12">
				<div>
					<img style="height:160px;" align="center" src='img/lb-bottom.png'>
				</div>	
			</div>				
		</div>
	</div> <!-- end of col-2 -->

	<div style="float:right;" class="col-md-5">
		<div class="panel panel-default ">
			<div style="background-color:#058689;border:2px solid #055659;color:white;text-align:center;" class="panel-heading">
				<h3 class="leaderBoardPanelTitle panel-title">Total Percentage Leader</h3>
			</div>
			<div id="percentPanelBody" class="panel-body">
				<div class=" table-responsive">
				<table class="table leaderBoardTable" >
					<tr>
						<th style="padding-right:15px;">Rank</th>
						<th colspan="2">Leader</th>				
						<th>Percent</th>
						<th>Games</th>				
					</tr>

					<tr ng-repeat="memberseasonpercentstat in memberseasonpercentstats">
						<td style="padding-right:15px;" class="center-column-text">{{memberseasonpercentstat.position}}</td>

						<td class="left-column-text"><img style="height:70px;" ng-show="memberseasonpercentstat.memberavatar != ''" ng-src="img/avatars/{{memberseasonpercentstat.memberavatar}}"></td>

						<td class="left-column-text">{{memberseasonpercentstat.screenname}}</td>

						<td class="center-column-text">{{memberseasonpercentstat.showplayerpickedpercent}}</td>

						<td class="center-column-text">{{memberseasonpercentstat.playerpickedgames}}</td>
					</tr>
				</table>
				</div> <!-- end of responsive -->
			</div> <!-- end of panel body -->
		</div> <!-- end of panel -->
	</div> <!-- end of col-5 -->
</div> <!-- end of row -->

<div style="padding-bottom:50px;">&nbsp;</div>