<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">Manage Hall Of Fame</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="row">
    <div class="col-md-12 form-inline">
        <div class="pageStandardOffset">
            <div class="panel panel-default panelOverrideNoBorder">
                <div class="panel-body">
                    <div style="padding-left:30px;"class="form-group horizontalFieldOffset">
                        <button  style="font-weight:bold;" class="btn btn-danger btn-sm" ng-click="addhalloffame()" id="addhalloffame" name="addhalloffame" >Add Hall of Fame</button>
                    </div> <!-- end of form-group --> 

                    <div style="padding-left:30px;"class="form-group horizontalFieldOffset">
                        <button  style="font-weight:bold;" class="btn btn-danger btn-sm" ng-click="reloadhalloffame()" id="reloadhalloffame" name="reloadhalloffame" >Reload</button>
                    </div> <!-- end of form-group --> 
                </div> <!-- end of panel body -->       
            </div> <!-- end of panel -->
        </div> <!-- end of panelOffset -->
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->

<form id="managehalloffameForm" name="managehalloffameForm">
<div ng-show="halloffameaction == 'update'" class="pageStandardOffset row">
    <div class="col-md-12">
        <div class="panel panel-default panelOverrideNoBorder">
            <div class="panel-body table-responsive">
                <table class="table managehalloffameTable" >
                    <tr class="tableTitle">
                        <th class="center-column-text">Year</th>     
                        <th class="center-column-text">Photo URL A</th>
                        <th class="center-column-text">Photo URL B</th>        
                        <th class="center-column-text">Title</th>
                        <th class="center-column-text">Detail</th>    
                    </tr>

                    <tr ng-repeat="halloffame in halloffames">
                        <td class="center-column-text">
                            <input class="form-control" ng-model="halloffame.year" name='year[]' value='{{halloffame.year}}' size="4" type='text' />
                        </td>

                        <td class="center-column-text">
                            <input class="form-control" ng-model="halloffame.photourlA" name='photourlA[]' value='{{halloffame.photourlA}}' size="30" type='text' />
                        </td>

                        <td class="center-column-text">
                            <input class="form-control" ng-model="halloffame.photourlB" name='photourlB[]' value='{{halloffame.photourlB}}' size="30" type='text' />
                        </td>

                        <td class="left-column-text">
                            <textarea class="form-control" ng-model="halloffame.title" name="title[]" rows="7">{{halloffame.title}}</textarea>
                        </td>

                        <td class="left-column-text">
                            <textarea class="form-control" ng-model="halloffame.detail" name="detail[]" rows="7">{{halloffame.detai}}</textarea>
                        </td>
                    </tr>
                </table>
            </div> <!-- end of panel body -->
        </div>  <!-- end of panel -->
    </div> <!-- end of col 12 -->
</div> <!-- end of row -->
</form>

<form class="form-horizontal" id="addhalloffameForm" name="addhalloffameForm">
<div ng-show="halloffameaction == 'add'" class="pageStandardOffset row">
    <div class="col-md-12">
        
        <div class="form-group">
            <label for="year" class="col-md-3 control-label">Year</label>
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="current.year" id="year" name="year" placeholder="Year">
            </div>
        </div> <!-- end of form-group -->

        <div class="form-group">
            <label for="email" class="col-md-3 control-label">Photo URL A</label>
            <div class="col-md-5">
                <input type="text" class="form-control" ng-model="current.photourlA" id="photourlA" name="photourlA" placeholder="Photo url A">
            </div>
        </div> <!-- end of form-group -->

        <div class="form-group">
            <label for="photourlB" class="col-md-3 control-label">Photo URL B</label>
            <div class="col-md-5">
                <input type="text" class="form-control" ng-model="current.photourlB" id="photourlB" name="photourlB" placeholder="Photo url B">
            </div>
        </div> <!-- end of form-group -->


        <div class="form-group">
            <label for="biography" class="col-md-3 control-label">Title</label>
            <div class="col-md-7">
                <textarea class="form-control" ng-model="current.title" id="title" name="title" rows="7"></textarea>
            </div>
        </div> <!-- end of form-group -->

        <div class="form-group">
            <label for="biography" class="col-md-3 control-label">Detail</label>
            <div class="col-md-7">
                <textarea class="form-control" ng-model="current.detail" id="detail" name="detail" rows="9"></textarea>
            </div>
        </div> <!-- end of form-group -->
    </div> <!-- end of col -->
</div> <!-- end of row -->

<div style="padding-top:15px; padding-bottom:35px;" class="row">
    <div class="col-md-offset-2  col-md-8">
        <button style="font-weight:bold;font-variant:small-caps;letter-spacing:5px;" type="button" class="btn btn-danger btn-lg btn-block" ng-click="savemanagehalloffameInfo()" id="savemanagehalloffameButton" name="savemanagehalloffame">Click Here to Save Hall of Fame Information</button>
    </div><!-- end of col 12 -->
</div> <!-- end of row -->
</form>

<div style="padding-bottom:70px;">&nbsp;</div>