<div class="pageCaption row">
	<div class="col-md-12">
		<h2>Member Weekly Totals</h2>
	</div> <!-- end of column -->
</div> <!-- end of row -->

<form id="pickweekForm" name="pickweekForm" style="padding:10px;" class="form-inline">
<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group horizontalFieldOffset">
			    	<label for="season" class="control-label">Season</label>
		            <select class="form-control" ng-change="getMemberWeekStats()" ng-model="current.season"  id="season" name="season">
		                <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
		            </select>
				</div> <!-- end of form-group -->
 
				<div class="form-group horizontalFieldOffset">
			    	<label for="gametypeid" class="control-label">Week</label>
		            <select class="form-control" ng-change="getMemberWeekStats()" ng-model="current.week" id="week" name="week">
		                <option ng-repeat="week in weeks" value="{{week.week}}">{{week.week}}</option>
		            </select>
				</div> <!-- end of form-group -->
			</div> <!-- end of panel body -->				
		</div> <!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default">
			
			<table class="MemberWeeklyTable" >
				<tr>
					<th>Week</th>
					<th>Dates</th>
					<th colspan="2">Player</th>			
					<th>W - L - T</th>
				</tr>

				<tr ng-repeat="memberweekstat in memberweekstats">
					<td class="center-column-text">
						{{memberweekstat.week}}
					</td>


					<td class="left-column-text">
	                    {{memberweekstat.weekstart}} - {{memberweekstat.weekend}}
					</td>

					<td class="left-column-text" >
	                    <img style="height:70px;" ng-show="memberweekstat.memberavatar != ''" ng-src="img/avatars/{{memberweekstat.memberavatar}}">
					</td>

					<td class="left-column-text" >
	                    {{memberweekstat.screenname}}
					</td>

					<td class="center-column-text">
						{{memberweekstat.wins}} - {{memberweekstat.losses}} - {{memberweekstat.ties}}
					</td>
				</tr>
			</table>

		</div> 	<!-- end of panel -->				
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->
</form>
<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->