<div class="pageCaption row">
     <div class="col-md-12">
      <h2 class="headerTitle">Manage Your Information</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-offset-1 col-md-10">
      <div class="panel panel-default">
        <form id="memberupdatememberForm" name="memberupdatememberForm" style="padding:10px;" class="form-horizontal">
          <div class="row" style="padding-top:35px;">
            <div class="col-md-7">
              <div class="form-group" >
                <label for="membername" class="col-md-3 control-label">Name</label>
                  <div class="col-md-4">
                      <input tabindex="7" type="text" class="form-control" ng-model="current.membername" id="membername" name="membername" placeholder="">
                  </div> <!-- end of col -->

                  <input type="hidden" value="{{current.id}}" id="memberid" name="memberid">
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="screenname" class="col-md-3 control-label">Screen Name</label>
                  <div class="col-md-4">
                      <input tabindex="2" type="text" class="form-control" ng-model="current.screenname" id="screenname" name="screenname" placeholder="Screen Name">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <label for="gender" class="col-md-3 control-label">Gender</label>
                <div class="col-md-3">
                  <select tabindex="4" class="form-control" ng-model="current.gender" id="gender" name="gender" >
                      <option value="Not Selected">Not Selected</option>
                      <option ng-repeat="gender in membergenders" value="{{gender.value}}">{{gender.title}}</option>
                  </select>
                </div>
              </div> <!-- end of form-group -->
            </div> <!-- end of col-7 -->
            <div class="col-md-4">
                <img style="float:left;height:125px;padding-right:15px;" align="left" src='img/thinking.png'>

                <div style="padding-top:35px; padding-left:15px;font-weight:bold; font-size:15px; font-style:italic;">
                Think Carefully for the Right Name. Make it Fun & Clean!
                </div>
            </div> <!-- end of col-4 -->
          </div> <!-- end of row -->

          <hr class="hrBreak">

          <div class="row" style="padding-top:30px;">
            <div class="col-md-7">
              <div class="form-group">
                  <label for="street" class="col-md-3 control-label">Street</label>
                  <div class="col-md-4">
                      <input tabindex="5" type="text" class="form-control" ng-model="current.street" id="street" name="street"placeholder="{{current.street}}">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="city" class="col-md-3 control-label">City</label>
                  <div class="col-md-4">
                      <input tabindex="7" type="text" class="form-control" ng-model="current.city" id="city" name="city" placeholder="City">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="state" class="col-md-3 control-label">State</label>
                  <div class="col-md-4">
                      <select class="form-control" ng-model="current.state" tabindex="8" name="state" id="state">
                        <option value="Not Selected">Not Selected</option>
                        <option ng-repeat="state in states" value="{{state.value}}">{{state.title}}</option>
                    </select>
                  </div>

                  <label for="zip" class="col-md-1 control-label">Zip</label>
                  <div class="col-md-3">
                      <input tabindex="9" type="text" class="form-control" ng-model="current.zip" id="zip" name="zip" placeholder="Zip">
                  </div>
              </div> <!-- end of form-group -->
            </div> <!-- end of col-7 -->
            <div class="col-md-4">
                <img style="height:155px;padding-right:15px;" align="center" src='img/postman.png'>
            </div> <!-- end of col-4 -->
          </div> <!-- end of row -->

          <hr class="hrBreak">

          <div class="row" style="padding-top:30px;">
            <div class="col-md-7">
              <div class="form-group">
                  <label for="phonenumber" class="col-md-3 control-label">Phone</label>
                  <div class="col-md-4">
                      <input tabindex="10" type="text" class="form-control" ng-model="current.phonenumber" id="phonenumber" name="phonenumber" placeholder="Phone">
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="email" class="col-md-3 control-label">eMail</label>
                  <div class="col-md-5">
                      <input tabindex="11" type="email" class="form-control" ng-model="current.email" id="email" name="email" placeholder="eMail">
                  </div>

                  &nbsp;

                  <input tabindex="12" type="checkbox" ng-model="current.noemail" id="noemail" name="noemail"> Please no eMail's
              </div> <!-- end of form-group -->

                <div class="form-group">
                  <label for="favoriteteamid" class="col-md-3 control-label">Favorite Team</label>
                  <div class="col-md-5">
                    <select tabindex="13" class="customSelect form-control" ng-model="current.favoriteteamid" id="favoriteteamid" name="favoriteteamid">
                        <option value="0">Not Selected</option>
                        <option ng-repeat="team in teams" ng-selected="current.favoriteteamid == team.id" value="{{team.id}}">{{team.location}} {{team.name}}</option>
                    </select>
                  </div>
                </div> <!-- end of form-group -->

                <div class="form-group">
                    <label for="biography" class="col-md-3 control-label">Biography</label>
                    <div class="col-md-7">
                        <textarea tabindex="14" class="form-control" ng-model="current.biography" id="biography" name="biography" rows="3"></textarea>
                    </div>
                </div> <!-- end of form-group -->

              </div> <!-- end of col-7 -->

              <div class="col-md-4">
                <img style="height:200px;padding-right:15px;" align="center" src='img/profilebio.png'>
              </div> <!-- end of col-4 -->

          </div> <!-- end of row -->

          <hr class="hrBreak">

          <div class="row" style="padding-top:35px;">
            <div class="col-md-7">
              <div class="form-group">
                  <label for="passwd" class="col-md-3 control-label">Password</label>
                  <div class="col-md-4">
                      <input tabindex="15" type="password" class="form-control" ng-model="current.passwd" id="passwd" name="passwd" placeholder="Password">
                  </div>

                  <div class="col-md-4">
                      <input type="text" class="form-control" ng-model="current.passwd" id="dpasswd" name="dpasswd" readonly>
                  </div>
              </div> <!-- end of form-group -->

              <div class="form-group">
                  <label for="vpasswd" class="col-md-3 control-label">Verify</label>
                  <div class="col-md-4">
                      <input tabindex="16" type="password" class="form-control" ng-model="current.vpasswd" id="vpasswd" name="vpasswd" placeholder="Password">
                  </div>
              </div> <!-- end of form-group -->
            </div> <!-- end of col-7 -->
          </div> <!-- end of row -->

          <hr class="hrBreak">

          <div class="row" style="padding-top:25px;">
            <div class="col-md-offset-1 col-md-7">
              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.membernameprofileind" ng-checked="current.membernameprofileind == '1'" id="membernameprofileind" name="membernameprofileind"> You can show members my Name
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.genderprofileind" ng-checked="current.genderprofileind == '1'" id="genderprofileind" name="genderprofileind"> You can show members my Gender
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.emailprofileind" ng-checked="current.emailprofileind == '1'" id="emailprofileind" name="emailprofileind"> You can show members my eMail
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.addressprofileind" ng-checked="current.addressprofileind == '1'" id="addressprofileind" name="addressprofileind"> You can show members my Address
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.phonenumberprofileind" ng-checked="current.phonenumberprofileind == '1'" id="phonenumberprofileind" name="phonenumberprofileind"> You can show members my Phone Number
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.biographyprofileind" ng-checked="current.biographyprofileind == '1'" id="biographyprofileind" name="biographyprofileind"> You can show members my Biogrophy
              </div> <!-- end of form-group -->

              <div class="form-group" >
                <input tabindex="" type="checkbox" ng-model="current.noemail" ng-checked="current.noemail == '1'"  id="noemail" name="noemail"> Please do NOT send me eMails
              </div> <!-- end of form-group -->
            </div>
          </div>

          <hr class="hrBreak">

          <div class="row" style="padding-top:35px;">
            <div class="col-md-7">
              <div class="form-group">
                <label for="avatar" class="col-md-3 control-label">Avatar</label>
                  <div class="col-md-4">
                      <img ng-click="updateAvatar()" style="max-width:100px;" src="img/avatars/{{current.avatar}}" alt="avatar" name="avatar" id="avatar" class="showPointer img-rounded" >
                  </div>
                  <input ng-model="current.avatar" type="hidden" value="{{current.avatar}}" id="avatar" name="avatar">
              </div> <!-- end of form-group -->
            </div> <!-- end of col-7 -->
          </div> <!-- end of row -->

          <div class="row" style="padding-top:35px;">
            <div class="col-md-7">
              <div class="form-group">
                <div class="col-md-offset-2 col-md-3">
                  <button tabindex="17" id="updatenewmemberbutton" data-ng-click="updatemember()" type="button" class="btn btn-primary">Update My Information</button>
                 </div>
              </div> <!-- end of form-group -->
            </div> <!-- end of col-7 -->
          </div> <!-- end of row -->
        </form>
      </div> <!-- end of panel panel -->
    </div> <!-- end of div col md 12 -->
</div> <!-- end of row -->

<!-- dialogs -->
<div class="modal fade" id="meberUpdateMemberDialogModal" tabindex="-1" role="dialog" aria-labelledby="meberUpdateMemberDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="meberUpdateMemberDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="meberUpdateMemberDialogModalBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
