<div class="pageCaption row">
  <div style="padding-bottom:25px;"  class="col-md-12">
      <div class="pageCaption">
          <div style="padding-bottom:25px;">
            <h2 style="display:inline;" class="headerTitle">NFL Headlines</h2>
          </div> 

          <form class="form-inline pageStandardOffset">
            <div class="form-group">
              <label for="nflrss">News Source</label>
              <select 
                style="padding-left:5px;"  
                class="customSelect form-control" 
                ng-change="getNFLrssFeed()" 
                ng-model="current.rsslinkid" 
                id="nflrss" 
                name="nflrss">
                <option value="0">No Selection</option>
                <option 
                  ng-repeat="nflrss in nflrsss"  
                  ng-selected="current.rsslinkid == nflrss.id"
                  value="{{nflrss.id}}">
                  {{nflrss.rsssource}}
                </option>
              </select>
            </div>  <!-- end of div -->
              
            <div style="padding-left:35px;" class="form-group">
                <button  class="btn btn-info btn-md" ng-click="refreshNflNews()" id="refreshNflNews" name="refreshNflNews" >Refresh News</button>
            </div>  <!-- end of div -->
          </form>
        </div> <!-- end of div --> 
  </div> <!-- end of col -->
</div> <!-- end of row -->   

<div style="padding-top:25px;" class="row">
    <div class="col-md-8">
      <div class="pageStandardOffset row">
        <div ng-repeat="nflnew in nflnews" class="panel panel-default">
          <div class="panel-body table-responsive">
            <table >
              <tr style="padding:20px;">
                <td style="vertical-align:top">
                  <div style="padding-right:5px;text-align:top;font-weight:bold; color:maroon;" >
                    Headline:
                  </div>
                </td>
                <td>  
                  <div style="color:teal;" ng-bind-html="sanitizeMe(nflnew.description)">
                    <!-- {{nflnew.description}}  -->
                     <!-- {{decodeRssString(nflnew.description)}} -->
                  </div>
                </td> 
              </tr>

              <tr style="padding:20px;">
                <td style="vertical-align:top">    
                  <div style="padding-right:5px;text-align:top;font-weight:bold; color:maroon;" >
                    Published:
                  </div>
                </td>
                <td>
                  <div style="color:teal;" >
                    {{nflnew.pubDate}}
                  </div>
                </td>
              </tr>
              
              <tr >  
                <td >  
                  <div style="padding-top:25px;">
                     <a  style="font-weight:bold;" target="_blank" class="btn btn-success btn-md" ng-href="{{nflnew.link}}" >Read More</a>
                  </div>
                </td>
              </tr>
            </table>
          </div> <!-- end of body -->
        </div> <!-- end of panel -->
      </div> <!-- end of panelOffset -->
    </div> <!-- end of col 7 -->

    <div style="padding-bottom:25px;"  class="col-md-4">
      <div style="position:fixed;padding-right:20px;" class="floatingImgDiv" id="news-pic">
        <img style="float:right;height:300px;padding-right:45px;"  class="centeredImage" ng-src="img/Fall-NFLHeadlines-2023.png">
      </div>
    </div> <!-- end of col 4 -->     
</div> <!-- end of row -->

<div class="row" style="padding-bottom:300px;">&nbsp;</div><!-- end of row -->  