<div class="pageCaption row">
	<div class="col-md-12">
		<h2>Pick Games for Week</h2>
	</div> <!-- end of column -->
</div> <!-- end of row -->

<form id="pickweekForm" name="pickweekForm" style="padding:10px;" class="form-inline">
<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group horizontalFieldOffset">
					<label for="memberid" class="control-label">Player</label>
					<input type="text" class="form-control" ng-model="member.screenname" id="screenname" readonly name="screenname" value="{{member.screenname}}">
			        <input type="hidden" ng-model="current.memberid" value="{{current.memberid}}" id="memberid" name="memberid">
				</div> <!-- end of form-group -->

				<div class="form-group horizontalFieldOffset">
			    	<label for="season" class="control-label">Season</label>
		            <select class="form-control" ng-change="getMemberWeekPicks()" ng-model="current.season" id="season" name="season">
		                <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
		            </select>
				</div> <!-- end of form-group -->

				<div class="form-group horizontalFieldOffset">
			    	<label for="gametypeid" class="control-label">Week</label>
		            <select class="form-control" ng-change="getMemberWeekPicks()" ng-model="current.week" id="week" name="week">
		                <option ng-repeat="week in weeks" value="{{week.week}}">{{week.week}}</option>
		            </select>
				</div> <!-- end of form-group -->   

				<div class="form-group horizontalFieldOffset">
	                <button  class="btn btn-info btn-sm" ng-click="saveGames()" id="saveGames" name="saveGames" >Save Picks</button>
				</div> <!-- end of form-group -->    

			</div> <!-- end of panel body -->				
		</div> <!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<table class="pickGameTable" >
					<tr>
						<th>Game Day</th>
						<th>Pick</th>				
						<th>Home Team</th>
						<th>Score</th>						
						<th>W-L-T</th>
						<th>Pick</th>				
						<th>Away Team</th>
						<th>Score</th>
						<th>W-L-T</th>						
					</tr>

					<tr ng-repeat="game in games">
						<td class="left-column-text">
							<img height='25' style='padding-left:5px;' src='img/tvicons/{{game.networkiconname}}'> &nbsp; {{game.gamedate}} &nbsp; {{game.gameday}} &nbsp; {{game.gametime}}
							
						</td>

						<td class="center-column-text">
						    <input ng-checked="{{game.hometeamid == game.teamselected}}" name='pick_{{game.gamenbr}}' id='pick_{{game.gamenbr}}' value='{{game.hometeamid}}' type='radio' />
						</td>

						<td>
							<img height='25' src='img/nflicons/{{game.hometeamiconname}}'> &nbsp; 
		                    {{game.hometeamlocation}} &nbsp; {{game.hometeamname}}
						</td>
						
						<td class="center-column-text">{{game.hometeamscore}}</td>

						<td>
							   {{game.homewins}} -
							   {{game.homelosses}} -
							   {{game.hometies}}
						</td>


						<td class="center-column-text">
						    <input ng-checked="{{game.awayteamid == game.teamselected}}" name='pick_{{game.gamenbr}}' id='pick_{{game.gamenbr}}' value='{{game.awayteamid}}' type='radio' />
						</td>

						<td>
							<img height='25' src='img/nflicons/{{game.awayteamiconname}}'> &nbsp; 
		                    {{game.awayteamlocation}} &nbsp; {{game.awayteamname}}
						</td>

						<td class="center-column-text">{{game.awayteamscore}}</td>

						<td class="center-column-text">
							   {{game.homewins}} -
							   {{game.homelosses}} -
							   {{game.hometies}}
						</td>
					</tr>

				</table>
			</div> <!-- end of panel body -->
		</div> 	<!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->
</form>

<!-- dialogs -->
<div class="modal fade" id="gamesSavedDialogModal" tabindex="-1" role="dialog" aria-labelledby="gamesSavedDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="gamesSavedDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="gamesSavedDialogModalLabelBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->