<form id="pickweekForm" name="pickweekForm">
<div class="pageCaption row">
	<div class="col-md-12">
		<h2 style="display:inline;padding-right:30px;" class="headerTitle">Pick Your Teams</h2>
		<img ng-init="helpimg='HelpButton4Circle.png'" 
			 ng-mouseover="helpimg='HelpButton3Circle.png'" 
			 ng-mouseout="helpimg='HelpButton4Circle.png'"
			 style="display:inline;float:right;padding-right:8%;height:50px;vertical-align:top;cursor:pointer;" 
			 ng-click="showHelp()" 
			 src="img/help/{{helpimg}}"> 
	</div> <!-- end of column -->
</div> <!-- end of row -->	

<div class="row">
	<div class="col-md-12 form-inline">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">
					<div style="padding-left:10px;display:inline;" class="form-group">
			            <img style="height:45px;" ng-show="current.memberavatar != ''" ng-src="img/avatars/{{current.memberavatar}}">
					</div> <!-- end of form-group --> 

					<div class="form-group horizontalFieldOffset">
						<label for="memberid" class="control-label">Member</label>
				        <select 
				        	class="customSelect form-control" 
				        	ng-change="getMemberWeekPicks('member')" 
				        	ng-model="current.memberid" id="memberid" 
				        	name="memberid" 
				        	ng-disabled="checkRole()">
				            <option 
				            	ng-selected="current.memberid == member.id"  
				            	ng-repeat="member in members" 
				            	value="{{member.id}}">{{member.screenname}}
				            </option>
				        </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="season" class="control-label">Season</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks('season')" ng-model="current.season" id="season" name="season">
			                <option ng-repeat="season in seasons" ng-selected="current.season == season.season" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="week" class="control-label">Week</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks('week')" ng-model="current.week" id="week" name="week">
			                <option ng-repeat="week in weeks" ng-selected="current.week == week.week" value="{{week.week}}"> {{week.week}} = {{week.weekstart}} - {{week.weekend}}</option>
			            </select>
					</div> <!-- end of form-group -->  
				
					<div style="padding-left:30px;"class="form-group horizontalFieldOffset">
		                <button  style="font-weight:bold;" class="btn btn-danger btn-sm" ng-click="saveGames()" id="saveGames" name="saveGames" >Save Picks</button>
					</div> <!-- end of form-group --> 

				</div> <!-- end of panel body -->		
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->
	</div> <!-- end of col 9 -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default panelOverrideNoBorder">
			<div class="panel-body table-responsive">
				<table class="table pickGameTable" >
					<tr class="tableTitle">
						<th colspan=2>Game Day</th>			
						<th colspan=2>Home Team</th>
						<th>Score</th>						
						<th>W</th>
						<th>L</th>
						<th>T</th>				
						<th colspan=2>Away Team</th>
						<th>Score</th>
						<th>W</th>
						<th>L</th>
						<th>T</th>						
					</tr>

					<tr ng-repeat="game in games">
						<td class="left-column-text">
							<img ng-if="game.networkiconname" height="50" style='padding-left:5px;' ng-src='img/tvicons/{{game.networkiconname}}'>
						</td>

						<td class="center-column-text">
							 <div>{{game.gameday}}</div> 
							 <div>{{game.gametime}}</div> 
						</td>

						<td id='pickh_{{game.gamenbr}}_icon' ng-class="{{game.hometeamid == game.teamselected}} ? 'teamSelected' : 'teamNotSelected' " 
							ng-init="hometeamimgsrc=game.hometeamiconname" 
							ng-mouseover="hometeamimgsrc='statistics.png'" 
							ng-mouseout="hometeamimgsrc=game.hometeamiconname">
						    <input ng-model="game.teamselected" ng-disabled="{{game.awayteamid == game.teamselected || game.teamselected == null}}" name='pick_{{game.gamenbr}}' id='pickh_{{game.gamenbr}}' value='{{game.hometeamid}}' type='hidden'/>
						
							<img style="cursor:pointer;" ng-click="getTeamStats(game.hometeamname,game.hometeamid,game.awayteamname,game.awayteamid,game.gamenbr)" height="50" 
							ng-src='img/nflicons/{{hometeamimgsrc}}'>
						</td>

						<td style="cursor:pointer;" name='pickh_div' id='pickh_{{game.gamenbr}}_teamname' ng-class="{{game.hometeamid == game.teamselected}} ? 'teamSelected' : 'teamNotSelected'" ng-click="setSelectTeam('home',game.gamenbr,game.awayteamid,game.hometeamid,game.gamestatus)">
							{{game.hometeamlocation}} &nbsp; {{game.hometeamname}}
						</td>
						
						<td class="center-column-text" ng-class="compareScores( 'home', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost' ">{{game.hometeamscore}}
						</td>

						<td class="center-column-text">
						   {{game.homewins}}
						</td>

						<td class="center-column-text">
						   {{game.homelosses}}
						</td>

						<td class="center-column-text">
						   {{game.hometies}}
						</td>

						<td id='picka_{{game.gamenbr}}_icon' ng-class="{{game.awayteamid == game.teamselected}} ? 'teamSelected' : 'teamNotSelected' " 
							ng-init="awayteamimgsrc=game.awayteamiconname" 
							ng-mouseover="awayteamimgsrc='statistics.png'" 
							ng-mouseout="awayteamimgsrc=game.awayteamiconname">
						    <input ng-model="game.teamselected" ng-disabled="{{game.hometeamid == game.teamselected || game.teamselected == null}}" name='pick_{{game.gamenbr}}' id='picka_{{game.gamenbr}}' value='{{game.awayteamid}}' type='hidden' />
						
							<img style="cursor:pointer;" ng-click="getTeamStats(game.hometeamname,game.hometeamid,game.awayteamname,game.awayteamid,game.gamenbr)" height="50" ng-src='img/nflicons/{{awayteamimgsrc}}'>
						</td>

						<td style="cursor:pointer;" name='picka_div' id='picka_{{game.gamenbr}}_teamname' ng-click="setSelectTeam('away',game.gamenbr,game.awayteamid,game.hometeamid,game.gamestatus)" ng-class="{{game.awayteamid == game.teamselected}} ? 'teamSelected' : 'teamNotSelected' ">
							{{game.awayteamlocation}} &nbsp; {{game.awayteamname}}
						</td>

						<td class="center-column-text" ng-class="compareScores( 'away', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost' ">{{game.awayteamscore}}
						</td>

						<td class="center-column-text">
						   {{game.awaywins}}
						</td>

						<td class="center-column-text">
						   {{game.awaylosses}}
						</td>

						<td class="center-column-text">
						   {{game.awayties}}
						</td>
					</tr>

				</table>
			</div> <!-- end of panel body -->
		</div> 	<!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div style="padding-top:15px; padding-bottom:35px;" class="row">
	<div class="col-md-offset-2  col-md-8">
		<button style="font-weight:bold;font-variant:small-caps;letter-spacing:5px;" type="button" class="btn btn-danger btn-lg btn-block" ng-click="saveGames()" id="saveGamesBottom" name="saveGamesBottom">Click Here to Save Picks</button>
	</div><!-- end of col 12 -->
</div> <!-- end of row -->

<div ng-if="byegames.length" style="padding-bottom:45px;" class="pageStandardOffset row">
	<div class="col-md-6">
		<img style="width:100%;padding:5px;" class="center-block img-rounded" ng-src="img/DonaldDuckSleepinginHammck2017.png">
	</div> <!-- end of col 5 -->

	<div class="col-md-6">
		<div class="panel panel-default panelOverrideNoBorder">
			<div class="panel-body table-responsive">
				<table ng-model="teamstats"  class="table pickGameTable" >
					<tr class="tableTitle">
						<th colspan=5>Bye Teams for Week</th>
					</tr>

					<tr>
						<th colspan=2>Team</th>
						<th>W</th>
						<th>L</th>
						<th>T</th>		
					</tr>

					<tr ng-repeat="byegame in byegames">
						<td class="left-column-text">
							<a ng-href="{{byegame.teamurl}}" target="_blank">
							<img height="50" ng-src='img/nflicons/{{byegame.teamiconname}}'>
							</a>
						</td>

						<td class="left-column-text">
							{{byegame.teamlocation}} &nbsp; {{byegame.teamname}}
						</td>

						<td class="center-column-text">
							   {{byegame.wins}}
						</td>

						<td class="center-column-text">
							   {{byegame.losses}}
						</td>

						<td class="center-column-text">
							   {{byegame.ties}}
						</td>
					</tr>

				</table>
			</div> <!-- end of panel body -->
		</div> 	<!-- end of panel -->
	</div> <!-- end of col 8 -->
</div> <!-- end of row -->
</form>

<!-- dialogs -->
<div class="modal fade" id="gamesSavedDialogModal" tabindex="-1" role="dialog" aria-labelledby="gamesSavedDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="gamesSavedDialogModalTitle"></h4>
      </div>
      <div class="modal-body">
        <p id="gamesSavedDialogModalLabelBody"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  

<div class="modal fade" id="teamStatsDialogModal" tabindex="-1" role="dialog" aria-labelledby="teamStatsDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="teamStatsDialogModalTitle"></h4>
      </div>
      <div class="modal-body" id="teamStatsDialogModalBody">
      <table style='width:100%;' class='table' >
			<tr >
				<td style='font-weight:bold;padding-top:20px;'>{{teamstats.hometeamname}} (H) VS {{teamstats.awayteamname}} (A)
				</td>			
				<td>
					<div style='text-align:center;'>
						<a href='{{teamstats.hometeamurl}}' target='_blank'>
							<img style='text-align:center;' height='50' src='img/nflicons/{{teamstats.hometeamiconname}}'> 
						</a> 
					</div>
				</td>
				<td>
					<div style='text-align:center;'>
						<a href='{{teamstats.awayteamurl}}' target='_blank'>
							<img style='text-align:center;' height='50' src='img/nflicons/{{teamstats.awayteamiconname}}'>
						</a> 
					</div>
				</td>											
			</tr>

			<tr style='background:green;color:white;font-weight:bold;' >
				<td colspan=3>Standings</td>											
			</tr>

			<tr >
				<td>Overall W-L-T</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamwins}} - {{teamstats.hometeamlosses}} - {{teamstats.hometeamties}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamwins}} - {{teamstats.awayteamlosses}} - {{teamstats.awayteamties}}
				</td>												
			</tr>

			<tr >
				<td>Home W-L-T</td>

				<td class='center-column-text'>
				   {{teamstats.homehomewins}} - {{teamstats.homehomelosses}} - {{teamstats.homehometies}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.homeawaywins}} - {{teamstats.homeawaylosses}} - {{teamstats.homeawayties}}
				</td>												
			</tr>

			<tr >
				<td>Away W-L-T</td>

				<td class='center-column-text'>
				   {{teamstats.awayhomewins}} - {{teamstats.awayhomelosses}} - {{teamstats.awayhometies}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayawaywins}}- {{teamstats.awayawaylosses}} - {{teamstats.awayawayties}}
				</td>												
			</tr>

			<tr >
				<td>Conference W-L-T</td>

				<td class='center-column-text'>
				   {{teamstats.confhometeamwins}} - {{teamstats.confhometeamlosses}} - {{teamstats.confhometeamties}}
				</td>
				
				<td class='center-column-text'>
				   {{teamstats.confawayteamwins}} - {{teamstats.confawayteamlosses}} - {{teamstats.confawayteamties}}
				</td>												
			</tr>

			<tr >
				<td>Division W-L-T</td>

				<td class='center-column-text'>
				   {{teamstats.divhometeamwins}} - {{teamstats.divhometeamlosses}} - {{teamstats.divhometeamties}}
				</td>
				
				<td class='center-column-text'>
				   {{teamstats.divawayteamwins}} - {{teamstats.divawayteamlosses}} - {{teamstats.divawayteamties}}
				</td>												
			</tr>

			<tr style='background:maroon;color:white;font-weight:bold;'>
				<td colspan=3>Compare Offence/Defence Ranking current Week (Higher better)</td> 	
			</tr>

			<tr>
				<td colspan=4 >
					<canvas 
						id='bar' 
						class='chart chart-bar'
						chart-data='charts[0].data' 
						chart-labels='charts[0].labels' 
						chart-options='charts[0].options'
						chart-series='charts[0].series'
						chart-dataset-override="charts[0].datasetOverride" >
					</canvas>
				</td>												
			</tr>

			<tr style='background:maroon;color:white;font-weight:bold;'>
				<td colspan=3>Compare Power Rankings for all Weeks (Higher is better)</td> 	
			</tr>

			<tr>
				<td colspan=4 >
					<canvas 
						id='line' 
						class='chart chart-line' 
						chart-data='charts[1].data' 
						chart-labels='charts[1].labels' 
						chart-options='charts[1].options'
						chart-series='charts[1].series'
						chart-dataset-override="charts[1].datasetOverride" >
					</canvas> 
				</td>												
			</tr>

			<tr >
				<td style='font-weight:bold;padding-top:20px;'>
					&nbsp;		
				<td>
					<div style='text-align:center;'>
						<a href='{{teamstats.hometeamurl}}' target='_blank'>
							<img style='text-align:center;' height='50' src='img/nflicons/{{teamstats.hometeamiconname}}'> 
						</a> 
					</div>
				</td>
				<td>
					<div style='text-align:center;'>
						<a href='{{teamstats.awayteamurl}}' target='_blank'>
							<img style='text-align:center;' height='50' src='img/nflicons/{{teamstats.awayteamiconname}}'>
						</a> 
					</div>
				</td>											
			</tr>

			<tr style='background:#0ABEC7;color:white;font-weight:bold;'>
				<td colspan=3>Power Rankings (Lower number is better)</td>					
			</tr>

			<tr >
				<td>Overall</td>

				<td class='center-column-text'>
				   {{teamstats.hometeampowerranking}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteampowerranking}}
				</td>												
			</tr>

			<tr style='background:#006600;color:white;font-weight:bold;'>
				<td colspan=3>Offensive Rankings (Lower number is better)</td>			
			</tr>

			<tr >
				<td>Overall</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamoffencetotal}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamoffencetotal}}
				</td>												
			</tr>

			<tr >
				<td>Scoring</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamoffencescoring}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamoffencescoring}}
				</td>												
			</tr>

			<tr >
				<td>Passing</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamoffencepassing}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamoffencepassing}}
				</td>												
			</tr>

			<tr >
				<td>Rushing</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamoffencerushing}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamoffencerushing}}
				</td>												
			</tr>

			<tr style='background:#CC0000;color:white;font-weight:bold;'>
				<td colspan=3>Defensive Rankings (Lower number is better)</td>			
			</tr>

			<tr >
				<td>Overall</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamdefencetotal}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamdefencetotal}}
				</td>												
			</tr>

			<tr >
				<td>Scoring</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamdefencescoring}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamdefencescoring}}
				</td>												
			</tr>

			<tr >
				<td>Passing</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamdefencepassing}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamdefencepassing}}
				</td>												
			</tr>

			<tr >
				<td>Rushing</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamdefencerushing}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamdefencerushing}}
				</td>												
			</tr>
		</table>
			
		<table ng-init="showHomeTeamsInjuryStats=false; showAwayTeamsInjuryStats=false" style='width:100%;padding:0;' class='table' >
			<tr ng-click="showHomeTeamsInjuryStats = !showHomeTeamsInjuryStats" style='background:#B25109;color:white;font-weight:bold; cursor:pointer;'>
				<td style='padding:0;' colspan=4>
					<img style='text-align:centerr;padding:0;' height='40' src='img/nflicons/{{teamstats.hometeamiconname}}'>  
					<span style="padding-left:15px;">Player Injuries</span>
					<span ng-if="showHomeTeamsInjuryStats"style="padding-left:5px">(Click here to hide Injury list.)</span>
					<span ng-if="!showHomeTeamsInjuryStats"style="padding-left:5px">(Click here to view Injury list.)</span>
				</td>			
			</tr>

			<tr ng-if="showHomeTeamsInjuryStats" style="color:red;text-align:center;vertical-align:middle;line-height:12px;padding:0;">
				<td style="text-align:center;">Player</td>
				<td style="text-align:center;">Pos</td>
				<td style="text-align:center;">Injury</td>	
				<td style="text-align:center;">Status</td>											
			</tr>

			<tr ng-if="showHomeTeamsInjuryStats" data-ng-repeat="hometeaminjurystat in hometeaminjurystats" style="vertical-align:middle;line-height:12px;padding:0;">	
				<td style="text-align:left;">{{hometeaminjurystat.playername}}</td>
				<td style="text-align:center;">{{hometeaminjurystat.position}}</td>
				<td style="text-align:center;">{{hometeaminjurystat.injury}}</td>	
				<td style="text-align:center;">{{hometeaminjurystat.status}}</td>	
			</tr>

			<tr >
				<td style='padding:0;' colspan=4>
					&nbsp;
				</td>			
			</tr>

			<tr ng-click="showAwayTeamsInjuryStats = !showAwayTeamsInjuryStats" style='background:#6495ED;color:white;font-weight:bold; cursor:pointer;'>
				<td style='padding:0;' colspan=4>
					<img style='text-align:centerr;padding:0;' height='40' src='img/nflicons/{{teamstats.awayteamiconname}}'>  
					<span style="padding-left:15px;">Player Injuries</span>
					<span ng-if="showAwayTeamsInjuryStats"style="padding-left:5px">(Click here to hide Injury list.)</span>
					<span ng-if="!showAwayTeamsInjuryStats"style="padding-left:5px">(Click here to view Injury list.)</span>
				</td>			
			</tr>

			<tr ng-if="showAwayTeamsInjuryStats" style="color:red;text-align:center;vertical-align:middle;line-height:12px;padding:0;">
				<td style="text-align:center;">Player</td>
				<td style="text-align:center;">Pos</td>
				<td style="text-align:center;">Injury</td>	
				<td style="text-align:center;">Status</td>											
			</tr>

			<tr ng-if="showAwayTeamsInjuryStats" data-ng-repeat="awayteaminjurystat in awayteaminjurystats" style="text-align:center;vertical-align:middle;line-height:12px;padding:0;">
				<td style="text-align:left;">{{awayteaminjurystat.playername}}</td>
				<td style="text-align:center;">{{awayteaminjurystat.position}}</td>
				<td style="text-align:center;">{{awayteaminjurystat.injury}}</td>	
				<td style="text-align:center;">{{awayteaminjurystat.status}}</td>											
			</tr>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->