<div class="pageCaption row">
	<div class="col-md-12">
		<h2 style="display:inline;padding-right:30px;" class="headerTitle">Weekly Totals Leaders</h2>
		<img ng-init="helpimg='HelpButton4Circle.png'" 
			 ng-mouseover="helpimg='HelpButton3Circle.png'" 
			 ng-mouseout="helpimg='HelpButton4Circle.png'"
			 style="display:inline;float:right;padding-right:8%;height:50px;vertical-align:top;cursor:pointer;" 
			 ng-click="showHelp()" 
			 src="img/help/{{helpimg}}"> 
	</div> 
</div> <!-- end of row -->

<div class="row">
	<form id="pickweekForm" name="pickweekForm" style="padding:0;" class="form-inline">
	<div class="col-md-12">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">
					<div class="form-group horizontalFieldOffset">
				    	<label for="season" class="control-label">Season</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekStats('season')" ng-model="current.season"  id="season" name="season">
			                <option ng-repeat="season in seasons" ng-selected="current.season == season.season" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->
	 
					<div class="form-group horizontalFieldOffset">
				    	<label for="week" class="control-label">Week</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekStats('week')" ng-model="current.week" id="week" name="week">
			                <option ng-repeat="week in weeks" ng-selected="current.week == week.week" value="{{week.week}}">{{week.week}}</option>
			            </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
						<label class="control-label" for="gametype">Groups</label>
						<select class="customSelect form-control" ng-change="getMemberWeekStats('membergroup')" ng-model="current.membergroupid"  id="membergroup" name="membergroup">
							<option value="0">No Group Selected</option>
		                    <option ng-repeat="membergroup in membergroups" value="{{membergroup.membergroupid}}">{{membergroup.membergroupname}}</option>
	                    </select>
					</div>  <!-- end of form group -->

					<!-- <div class="form-group horizontalFieldOffset">
						<button id="showexperts" name="showexperts" type="button" class="btn btn-primary" ng-click="getMemberWeekStats('experts')">
						    {{current.showexpertsTitle}}
						</button>
					</div>   -->
				</div> <!-- end of panel body -->				
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->				
	</div> <!-- end of col 9 -->
	</form>
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-8">
		<div style="border:0px;" class="panel panel-default">
			<div id="memberweeklypercentPanelBody" class="panel-body">
				<div class=" table-responsive">
				<table class="table MemberWeeklyTable" >
					<tr class="tableTitle">
						<th>Rank</th>
						<!-- <th>Dates</th> -->
						<th>Percent</th>
						<th colspan=2>Player</th>			
						<th style="width:25px;">W</th>
						<th style="width:25px;">L</th>
						<th style="width:25px;">T</th>
					</tr>

					<tr ng-repeat="memberweekstat in memberweekstats">
						<td style="width:5%;" class="center-column-text">{{memberweekstat.position}}</td>
						
						<!-- <td style="width:30%;" class="left-column-text">
		                    {{memberweekstat.weekstart}} - {{memberweekstat.weekend}}
						</td> -->

						<td style="width:15%;" class="center-column-text">
		                    {{memberweekstat.showplayerpickedpercent}}
						</td>

						<td style="width:20%;" class="right-column-text" >
		                    <img style="height:100px;cursor:pointer;" ng-show="memberweekstat.memberavatar != ''" ng-click="getMemberProfile(memberweekstat.memberid)" ng-src="img/avatars/{{memberweekstat.memberavatar}}">
						</td>

						<td style="width:35%;" ng-class="{{memberweekstat.memberrole == 'expert'}} ? 'expertRole' : 'left-column-text' " >
		                    {{memberweekstat.screenname}}
						</td>

						<td class="center-column-text">
							{{memberweekstat.wins}}
						</td>

						<td class="center-column-text">
							{{memberweekstat.losses}}
						</td>

						<td class="center-column-text">
							{{memberweekstat.ties}}
						</td>
					</tr>
				</table>
				</div><!-- end of responsive -->
			</div> <!-- end of panel body -->				
		</div> 	<!-- end of panel -->				
	</div> <!-- end of col 8 -->

	<div style="padding-left:35px;" class="col-md-4">
		<div class="floatingImgDiv" style="position:fixed;padding-right:40px;">
			<img style="height:280px;"  class="centeredImage" ng-src="img/WeekTotLeadSoldierNavy.png">
		</div>
	</div> <!-- end of column -->
</div> <!-- end of row -->
</form>

<!-- Dialogs -->
<div class="modal fade" id="memberProfileDialogModal" tabindex="-1" role="dialog" aria-labelledby="memberProfileDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="memberProfileDialogModalTitle"></h4>
      </div>
      <div class="modal-body" id="memberProfileDialogModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->