<div class="pageCaption row">
     <div class="col-md-12">
     	{{keyrequestsMetaData.pageCaption.text}}
 	</div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panelCaption panel-body">{{keyrequestsMetaData.keyRequests.panelHdr.text}}</div>

			<div class="pageStandardOffset">
				<div id="keyRequestsGrid" ui-grid="gridOptionskeyRequests" ui-grid-selection class="keyRequestsGrid"></div>
			</div> 	<!-- end of offset -->

		</div> <!-- end of panel -->
	</div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-4">
		<div style="width:100%;">
			<div class="panel panel-default">
				<div class="subpanelCaption panel-heading">{{keyrequestsMetaData.currentRequest.panelHdr.text}}</div>

				<table class="table">
					<tr>
					    <td class="keyrequestDetailTableFirstRow">{{keyrequestsMetaData.currentRequest.label.patient.text}}</td>
					  
					    <td>{{current.keyRequests.patient}}</td>
					</tr>

					<tr>
					    <td class="keyrequestDetailTableFirstRow">{{keyrequestsMetaData.currentRequest.label.provider.text}}</td>
					   
					    <td>{{current.keyRequests.provider}}</td>
					</tr>

					<tr>
					    <td class="keyrequestDetailTableFirstRow">{{keyrequestsMetaData.currentRequest.label.providernpi.text}}</td>
					  
					    <td>{{current.keyRequests.providernpi}}</td>
					</tr>

					<tr>
					    <td class="keyrequestDetailTableFirstRow">{{keyrequestsMetaData.currentRequest.label.eventdate.text}}</td>
					  
					    <td>{{current.keyRequests.eventdate}}</td>
					</tr>
					<tr>
					    <td class="keyrequestDetailTableFirstRow">{{keyrequestsMetaData.currentRequest.label.event.text}}</td>
					  
					    <td>{{current.keyRequests.event}}</td>
					</tr>
					<tr>
					    <td class="keyrequestDetailTableFirstRow">{{keyrequestsMetaData.currentRequest.label.requestdate.text}}</td>
					   
					    <td>{{current.keyRequests.requestdate}}</td>
					</tr>
				</table>
			</div> <!-- end of panel -->
		</div> <!-- end of offset -->

		<div style="padding-top:0px;">
			<button style="width:30%;" class="btn btn-info btn-sm" ng-click="emailKeyRequest()" id="emailButton">{{keyrequestsMetaData.currentRequest.buttonLabel.email.text}}</button>

			<button style="width:30%;" class="btn btn-info btn-sm" ng-click="faxKeyRequest()" id="faxButton">{{keyrequestsMetaData.currentRequest.buttonLabel.fax.text}}</button>
		
			<button style="width:30%;" class="btn btn-info btn-sm" ng-click="uspsmailButtonKeyRequest()" id="uspsmailButton">{{keyrequestsMetaData.currentRequest.buttonLabel.uspsmail.text}}</button>
		</div>
	</div> <!-- end of column -->
					
	<div class="col-md-8">
		<div class="panel panel-default">

			<div id="defaultSendDetail" style="height:500px;" class="pageStandardOffset">
				<div class="row">
					<div class="col-md-12">
						
					</div> <!-- end of column -->
				</div> <!-- end of row -->
			</div> <!-- end of pageStandardOffset -->	

			<div id="emailSendDetail" style="height:960px;" class="pageStandardOffset">
				<div class="panelCaption panel-body">{{keyrequestsMetaData.SubmitRequest.email.panelHdr.text}}</div>

				<form class="pageStandardOffset">
			
					<div class="form-group">
						<label for="emailSubmitRequestto">{{keyrequestsMetaData.SubmitRequest.email.inputLabel.to.text}}</label>
						<input type="email" class="form-control" id="emailSubmitRequestto" placeholder="{{current.keyRequests.emailaddress}}">
					</div>
					<div class="form-group">
						<label for="emailSubmitRequestfrom">{{keyrequestsMetaData.SubmitRequest.email.inputLabel.from.text}}</label>
						<input type="email" class="form-control" id="emailSubmitRequestfrom" placeholder="{{corporate.PatientReturneMail.text}}">
					</div>
					<div class="form-group">
						<label for="emailSubmitRequestsubject">{{keyrequestsMetaData.SubmitRequest.email.inputLabel.subject.text}}</label>
						<input type="text" class="form-control" id="emailSubmitRequestsubject" placeholder="Health Allianze Request for Patient Information">
					</div>
					<div class="form-group">
						<label for="emailSubmitRequestbody">{{keyrequestsMetaData.SubmitRequest.email.inputLabel.message.text}}</label>
						<textarea class="form-control" id="emailSubmitRequestbody" rows="27" placeholder="">
Attention {{current.keyRequests.provider}},

We are Health Allianze. A health service provider that helps patients manage their medical data. We have
been granted athourity in complience with HIPPA regulations by our client to gather medical information. 

Patient: {{current.keyRequests.patient}}
Provider: {{current.keyRequests.provider}}
Date of Service: {{current.keyRequests.eventdate}}

The above patient (our client) has authorized us to collect the above medical information. Please send the related
medical information by either:

Fax: {{corporate.PatientReturnFax.text}}
eMail: {{corporate.PatientReturneMail.text}}
Mail: {{corporate.PatientReturnAddress.title.text}} 
      {{corporate.PatientReturnAddress.address1.text}}
      {{corporate.PatientReturnAddress.address2.text}}
      {{corporate.PatientReturnAddress.city.text}}, {{corporate.PatientReturnAddress.state.text}} {{corporate.PatientReturnAddress.zip.text}}

Please feel free to contact us if we have any questions at {{corporate.PatientReturnPhone.text}}

You MUST include a copy of this email with the returned records. 

Thank You

REQID: {{current.requestid}}      
						</textarea>
					</div>

					<button id="emailSubmitRequestButton" type="button" class="btn btn-default" ng-click="submiteMailRequest()">{{keyrequestsMetaData.SubmitRequest.email.buttonLabel.submit.text}}</button>
				</form> 	<!-- end of form -->	
			</div> 	<!-- end of pageStandardOffset -->

			<div id="faxSendDetail" style="height:960px;" class="pageStandardOffset">
				<div class="panelCaption panel-body">{{keyrequestsMetaData.SubmitRequest.fax.panelHdr.text}}</div>

				<form class="pageStandardOffset">
			
					<div class="form-group">
						<label for="faxRequestto">{{keyrequestsMetaData.SubmitRequest.fax.inputLabel.to.text}}</label>
						<input type="text" class="form-control" id="faxRequestto" placeholder="{{current.keyRequests.faxnumber}}">
					</div>
					<div class="form-group">
						<label for="faxRequestfrom">{{keyrequestsMetaData.SubmitRequest.fax.inputLabel.from.text}}</label>
						<input type="text" class="form-control" id="faxRequestfrom" placeholder="{{corporate.PatientReturnFax.text}}">
					</div>
					<div class="form-group">
						<label for="faxRequestsubject">{{keyrequestsMetaData.SubmitRequest.fax.inputLabel.subject.text}}</label>
						<input type="text" class="form-control" id="faxRequestsubject" placeholder="Health Allianze Request for Patient Information">
					</div>
					<div class="form-group">
						<label for="faxRequestbody">{{keyrequestsMetaData.SubmitRequest.fax.inputLabel.message.text}}</label>
						<textarea class="form-control" id="faxRequestbody" rows="27" placeholder="">
We are Health Allianze. A health service provider that helps patients manage their medical data. We have
been granted athourity in complience with HIPPA regulations by our client to gather medical information. 

Patient: {{current.keyRequests.patient}}
Provider: {{current.keyRequests.provider}}
Date of Service: {{current.keyRequests.eventdate}}

The above patient (our client) has authorized us to collect the above medical information. Please send the related
medical information by either:

Fax: {{corporate.PatientReturnFax.text}}
eMail: {{corporate.PatientReturneMail.text}}
Mail: {{corporate.PatientReturnAddress.title.text}} 
      {{corporate.PatientReturnAddress.address1.text}}
      {{corporate.PatientReturnAddress.address2.text}}
      {{corporate.PatientReturnAddress.city.text}}, {{corporate.PatientReturnAddress.state.text}} {{corporate.PatientReturnAddress.zip.text}}

Please feel free to contact us if we have any questions at {{corporate.PatientReturnPhone.text}}

You MUST include a copy of this FAX with the returned records. 

Thank You

REQID: {{current.requestid}}      
						</textarea>
					</div>

					<button id="faxSubmitRequestButton" type="button" class="btn btn-default" ng-click="submitFAXRequest()">{{keyrequestsMetaData.SubmitRequest.fax.buttonLabel.submit.text}}</button>
				</form> 	<!-- end of form -->	
			</div> 	<!-- end of pageStandardOffset -->			

			<div id="uspsmailSendDetail" style="height:960px;" class="pageStandardOffset">
				<div class="panelCaption panel-body">{{keyrequestsMetaData.SubmitRequest.uspsmail.panelHdr.text}}</div>

				<form class="pageStandardOffset">

					<div class="form-group">
						<label for="uspsmailRequestbody">{{keyrequestsMetaData.SubmitRequest.uspsmail.inputLabel.letter.text}}</label>
						<textarea class="form-control" id="uspsmailRequestbody" rows="27" placeholder="">
{{current.keyRequests.provider}}
{{current.keyRequests.address}}
{{current.keyRequests.city}}, {{current.keyRequests.state}} {{current.keyRequests.zip}}

Attention {{current.keyRequests.provider}},

We are Health Allianze. A health service provider that helps patients manage their medical data. We have
been granted athourity in complience with HIPPA regulations by our client to gather medical information. 

Patient: {{current.keyRequests.patient}}
Provider: {{current.keyRequests.provider}}
Date of Service: {{current.keyRequests.eventdate}}

The above patient (our client) has authorized us to collect the above medical information. Please send the related
medical information by either:

Fax: {{corporate.PatientReturnFax.text}}
eMail: {{corporate.PatientReturneMail.text}}
Mail: {{corporate.PatientReturnAddress.title.text}} 
      {{corporate.PatientReturnAddress.address1.text}}
      {{corporate.PatientReturnAddress.address2.text}}
      {{corporate.PatientReturnAddress.city.text}}, {{corporate.PatientReturnAddress.state.text}} {{corporate.PatientReturnAddress.zip.text}}

Please feel free to contact us if we have any questions at {{corporate.PatientReturnPhone.text}}

You MUST include a copy of this letter with the returned records. 

Sincerely yours,

Health Allianze Patient Request
{{corporate.PatientReturnAddress.address1.text}}
{{corporate.PatientReturnAddress.address2.text}}
{{corporate.PatientReturnAddress.city.text}}, {{corporate.PatientReturnAddress.state.text}} {{corporate.PatientReturnAddress.zip.text}}

REQID: {{current.requestid}}      
						</textarea>
					</div>

					<button id="uspsmailSubmitRequestButton" type="button" class="btn btn-default" ng-click="submituspsMailRequest()">{{keyrequestsMetaData.SubmitRequest.uspsmail.buttonLabel.submit.text}}</button>
				</form> 	<!-- end of form -->	
			</div> 	<!-- end of pageStandardOffset -->		
		</div> <!-- end of panel -->
	</div> <!-- end of column -->

</div> <!-- end of row -->

<div style="padding-bottom:350px;">&nbsp;</div>