<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">Survey Results</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div style="padding-top:15px;" class="col-md-offset-1 col-md-7">
        <span class="surveyHomePage">
            Number of Members:
        </span>
        <span style="color:black;font-weight:700;">
			{{current.membercount}}
        </span>
    </div> <!-- end of col -->        
    <div style="padding-top:5px;" class="col-md-offset-1 col-md-7">
        <span class="surveyHomePage">
           Surveys Started:
        </span>
        <span style="color:black;font-weight:700;">
        	{{current.memberswhostartedsurveycount}}
        </span>
    </div> <!-- end of col -->

    <div style="padding-top:5px;" class="col-md-offset-1 col-md-7">
        <span class="surveyHomePage">
            Completed Surveys:
        </span>
        <span style="color:black;font-weight:700;">
        	{{current.memberswhofinishedsurveycount}}
        </span>
    </div> <!-- end of col -->   
    
    <div style="padding-top:5px;" class="col-md-offset-1 col-md-7">
        <span class="surveyHomePage">
            Still active Surveys:
        </span>
        <span style="color:black;font-weight:700;">
        	{{current.memberswhostillactivesurveycount}}
        </span>
    </div> <!-- end of col --> 

    <div style="padding-top:5px;" class="col-md-offset-1 col-md-7">
        <span class="surveyHomePage">
            Members not started Survey
        </span>
        <span style="color:black;font-weight:700;">
        	{{current.memberswhohavenottakensurveycount}}
        </span>
    </div> <!-- end of col -->     
</div> <!-- end of row -->

<!-- <div style="padding-top:20px;" class="row">
	<div class="col-md-12">
		<div class="panel panel-default panelOverrideNoBorder">
			<div class="panel-body table-responsive">
				<table class="table pickGameTable" >
					<tr class="tableTitle">
						<th>Question</th>						
						<th>Answer Results</th>						
					</tr>

					<tr ng-repeat="questionanswer in questionanswers">
						<td class="left-column-text">
							
						</td>

						<td class="center-column-text">
							
						</td>
					</tr>

				</table>
			</div> 
		</div> 
	</div>
</div> -->

<div style="padding-bottom:70px;">&nbsp;</div>