<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">Survey Results</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-5">
        <div class="pageStandardOffset row">
            <div style="padding-top:5px;" class="col-md-12">
                <span class="surveyQuestionResponeHomePage">
                    Number of Members:
                </span>
                <span style="padding-left:10px;color:#B6A98C;font-weight:700;cursor:pointer;" class="surveyQuestionResponeHomePage" ng-click="getMemberSurveyList('members')">
        			{{current.membercount}}
                </span>
            </div> <!-- end of col -->        
            <div style="padding-top:5px;" class="col-md-12">
                <span class="surveyQuestionResponeHomePage">
                   Surveys Started:
                </span>
                <span style="padding-left:10px;color:#B6A98C;font-weight:700;cursor:pointer;" class="surveyQuestionResponeHomePage" ng-click="getMemberSurveyList('started')">
                	{{current.memberswhostartedsurveycount}}
                </span>
            </div> <!-- end of col -->

            <div style="padding-top:5px;" class="col-md-12">
                <span class="surveyQuestionResponeHomePage">
                    Completed Surveys:
                </span>
                <span style="padding-left:10px;color:#B6A98C;font-weight:700;cursor:pointer;" class="surveyQuestionResponeHomePage" ng-click="getMemberSurveyList('finished')">
                	{{current.memberswhofinishedsurveycount}}
                </span>
            </div> <!-- end of col -->   

             <div style="padding-top:35px;" class="col-md-4">
                <span class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="font-size:18px; min-width: 2em; width:60px;">Yes</span> 
            </div> <!-- end of col --> 

            <div style="padding-top:35px;" class="col-md-4">
                <span class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="font-size:18px; min-width: 2em; width:60px;">No</span> 
            </div> <!-- end of col --> 
        </div> <!-- end of row -->
    </div>
        
    <div class="col-md-5">
        <div class="pageStandardOffset row">
            <div style="padding-top:5px;" class="col-md-12">
                <span class="surveyQuestionResponeHomePage">
                    Active Surveys:
                </span>
                <span style="padding-left:10px;color:#B6A98C;font-weight:700;cursor:pointer;" class="surveyQuestionResponeHomePage" ng-click="getMemberSurveyList('active')">
                	{{current.memberswhostillactivesurveycount}}
                </span>
            </div> <!-- end of col --> 

            <div style="padding-top:5px;" class="col-md-12">
                <span class="surveyQuestionResponeHomePage">
                    Members not started Survey:
                </span>
                <span style="padding-left:10px;color:#B6A98C;font-weight:700;cursor:pointer;" class="surveyQuestionResponeHomePage" ng-click="getMemberSurveyList('nottaken')">
                	{{current.memberswhohavenottakensurveycount}}
                </span>
            </div> <!-- end of col -->  
        </div> <!-- end of row -->   
    </div> <!-- end of col --> 
</div> <!-- end of row -->

<div style="padding-top:20px;" class="row">
	<div class="col-md-12">
		<div class="panel panel-default panelOverrideNoBorder">
			<div class="panel-body table-responsive">
				<table class="table pickGameTable" >
					<tr class="tableTitle">
                        <th>Nbr</th>
						<th style="width:50%;">Question</th>						
						<th style="width:40%;" >Answer Results</th>						
					</tr>

					<tr ng-repeat="getSurveyResultsMemberQuestionDetail in getSurveyResultsMemberQuestionDetails">
                        <td class="center-column-text">
                            <span style="color:#b57f7f;font-weight:700;" class="surveyQuestionResponeItems">{{ getSurveyResultsMemberQuestionDetail.surveyquestionid }}</span>
                        </td>
						<td style="width:50%;" class="left-column-text">
							<span style="color:#b57f7f;font-weight:700;cursor:pointer;" class="surveyQuestionResponeItems" ng-click="getMemberSurveyComments(getSurveyResultsMemberQuestionDetail.surveyquestionid)">{{ getSurveyResultsMemberQuestionDetail.questiontext }}</span>
						</td>

                        <td style="width:40%;" class="right-column-text">
                            <span class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="font-size:18px; min-width: 2em; width:{{ (getSurveyResultsMemberQuestionDetail.yesvotes  / current.questioncount) * 100 }}%;">{{ getSurveyResultsMemberQuestionDetail.yesvotes }}</span>
                            <br />
                            <span class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="font-size:18px;min-width: 2em; width:{{ (getSurveyResultsMemberQuestionDetail.novotes / current.questioncount ) * 100}}%;">{{ getSurveyResultsMemberQuestionDetail.novotes }}</span>
                        </td>
                    </tr>
				</table>
			</div> 
		</div> 
	</div>
</div>

<!-- Dialogs -->
<div class="modal fade" id="memberSurveyListDialogModal" tabindex="-1" role="dialog" aria-labelledby="memberSurveyListDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="memberSurveyListDialogModalTitle"></h4>
      </div>
      <div class="modal-body" id="memberSurveyListDialogModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  

<div class="modal fade" id="memberSurveyCommentsDialogModal" tabindex="-1" role="dialog" aria-labelledby="memberSurveyCommentsDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="memberSurveyCommentsDialogModalTitle"></h4>
      </div>
      <div class="modal-body" id="memberSurveyCommentsDialogModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  

<div style="padding-bottom:70px;">&nbsp;</div>