<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">Survey Results</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-5">
        <div class="pageStandardOffset row">
            <div style="padding-top:5px;" class="col-md-12">
                <span class="surveyQuestionResponeHomePage">
                    Number of Members:
                </span>
                <span style="padding-left:10px;color:#B6A98C;font-weight:700;" class="surveyQuestionResponeHomePage">
        			{{current.membercount}}
                </span>
            </div> <!-- end of col -->        
            <div style="padding-top:5px;" class="col-md-12">
                <span class="surveyQuestionResponeHomePage">
                   Surveys Started:
                </span>
                <span style="padding-left:10px;color:#B6A98C;font-weight:700;" class="surveyQuestionResponeHomePage">
                	{{current.memberswhostartedsurveycount}}
                </span>
            </div> <!-- end of col -->

            <div style="padding-top:5px;" class="col-md-12">
                <span class="surveyQuestionResponeHomePage">
                    Completed Surveys:
                </span>
                <span style="padding-left:10px;color:#B6A98C;font-weight:700;" class="surveyQuestionResponeHomePage">
                	{{current.memberswhofinishedsurveycount}}
                </span>
            </div> <!-- end of col -->   

             <div style="padding-top:35px;" class="col-md-7">
                <span class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="font-size:18px; min-width: 20em; width:5%;">Yes</span> 
            </div> <!-- end of col --> 

            <div style="padding-top:15px;" class="col-md-7">
                <span class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="font-size:18px; min-width: 20em; width:5%;">No</span> 
            </div> <!-- end of col --> 
        </div> <!-- end of row -->
    </div>
        
    <div class="col-md-5">
        <div class="pageStandardOffset row">
            <div style="padding-top:5px;" class="col-md-12">
                <span class="surveyQuestionResponeHomePage">
                    Active Surveys:
                </span>
                <span style="padding-left:10px;color:#B6A98C;font-weight:700;" class="surveyQuestionResponeHomePage">
                	{{current.memberswhostillactivesurveycount}}
                </span>
            </div> <!-- end of col --> 

            <div style="padding-top:5px;" class="col-md-12">
                <span class="surveyQuestionResponeHomePage">
                    Members not started Survey
                </span>
                <span style="padding-left:10px;color:#B6A98C;font-weight:700;" class="surveyQuestionResponeHomePage">
                	{{current.memberswhohavenottakensurveycount}}
                </span>
            </div> <!-- end of col -->  
        </div> <!-- end of row -->   
    </div> <!-- end of col --> 
</div> <!-- end of row -->

<div style="padding-top:20px;" class="row">
	<div class="col-md-12">
		<div class="panel panel-default panelOverrideNoBorder">
			<div class="panel-body table-responsive">
				<table class="table pickGameTable" >
					<tr class="tableTitle">
                        <th>Nbr</th>
						<th style="width:50%;">Question</th>						
						<th style="width:40%;" >Answer Results</th>						
					</tr>

					<tr ng-repeat="getSurveyResultsMemberQuestionDetail in getSurveyResultsMemberQuestionDetails">
                        <td class="center-column-text">
                            <span style="color:#b57f7f;font-weight:700;" class="surveyQuestionResponeItems">{{ getSurveyResultsMemberQuestionDetail.surveyquestionid }}</span>
                        </td>
						<td style="width:50%;" class="left-column-text">
							<span style="color:#b57f7f;font-weight:700;" class="surveyQuestionResponeItems">{{ getSurveyResultsMemberQuestionDetail.questiontext }}</span>
						</td>

						<!-- <td class="center-column-text">
                            <span style="color:#248C47;font-weight:700;" class="surveyQuestionResponeItems">
							YES 
                            </span>
                            <span style="color:#248C47;font-weight:700;" class="surveyQuestionResponeItems">{{ getSurveyResultsMemberQuestionDetail.yesvotes }}</span>
                            <br />
                            <span style="color:#E66262;font-weight:700;" class="surveyQuestionResponeItems">
                            NO
                            </span>
                            <span style="color:#E66262;font-weight:700;" class="surveyQuestionResponeItems">{{ getSurveyResultsMemberQuestionDetail.novotes }}</span>
						</td>  -->

                        <td style="width:40%;" class="right-column-text">
                            <span class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="font-size:18px; min-width: 2em; width:{{ (getSurveyResultsMemberQuestionDetail.yesvotes  / current.questioncount) * 100 }}%;">{{ getSurveyResultsMemberQuestionDetail.yesvotes }}</span>
                            <br />
                            <span class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="font-size:18px;min-width: 2em; width:{{ (getSurveyResultsMemberQuestionDetail.novotes / current.questioncount ) * 100}}%;">{{ getSurveyResultsMemberQuestionDetail.novotes }}</span>
                        </td>
                    </tr>
				</table>
			</div> 
		</div> 
	</div>
</div>

<div style="padding-bottom:70px;">&nbsp;</div>