<div class="pageCaption row">
  <div class="col-md-12">
    <h2 class="headerTitle">{{current.survey.surveyname}}</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div ng-if="current.firsttime" class="pageStandardOffset row">
    <div style="padding-top:35px;" class="col-md-offset-3 col-md-7">
        <p class="surveyHomePage">
            Dare Devil Duck Members, we are constantly trying to make our league more fun with the information you need to make winning picks each week.  &nbsp;&nbsp; We are working to improve the website, and add valued features to the make each of you better players. &nbsp;&nbsp; Thus in an effort to better understand what you like, and what you would like to see going forward, we would appreciate it if you would take 15-20 minutes to complete the questionnaire.

            <!-- of {{current.survey.totalquestions}} questions -->
        </p>

        <p class="surveyHomePage">
            Each question requests a “Yes” or “No” answer, with an option to comment further.  &nbsp;&nbsp; There may also be some features, stats and displays that you will learn about as you complete this questionnaire.
        </p>

        <p class="surveyHomePage">
            Please complete this on your PC (DareDevilDucks.xyz) or Mobile Phone (DareDevilDucksM.xyz) via our Dare Devil Ducks website.  &nbsp;&nbsp; Select the Button “Survey”, and begin answering each question.  &nbsp;&nbsp; Complete as many questions as you can the first time through.  &nbsp;&nbsp; If you need to stop before completing them all, you can come back at another time and walk through them again to the end.
        </p>

        <p class="surveyHomePage">
            We need your input and look forward to seeing the answers you have for each question.
        </p>

        <p class="surveyHomePage">
            Thank you for answering our questions, AirDreamer & Wildcat Wonder 
        </p>
    </div> <!-- end of col -->
</div> <!-- end of row -->

<div ng-if="!current.firsttime" class="pageStandardOffset row">
    <div class="row">
        <div style="padding-top:35px;display:inline;">
            <div class="col-md-3">
                <div class="panel panel-default" style="border-color:#6C0000">
                    <div class="panel-heading" style="background-color:#6C0000">
                        <h3 class="panel-title surveyPanelHeading">Question {{current.survey.questionnbr}} of {{current.survey.totalquestions}}</h3>
                    </div>
                    <div style="height:140px;overflow-y:scroll;" class="panel-body surveyHomePage">
                        <span>{{current.survey.questiontext}}</span>
                    </div>
                </div>
            </div> 

            <div class="col-md-3">
                <div class="panel panel-default" style="border-color:LightSeaGreen">
                    <div class="panel-heading" style="background-color:LightSeaGreen">
                        <h3 class="panel-title surveyPanelHeading">Answer</h3>
                    </div>
                    <div style="height:140px;overflow-y:scroll;" class="panel-body surveyYesNo">
                        <div style="padding-top:20px; text-align:center;">
                            <label class="radio-inline">
                                <input type="radio" ng-model="current.survey.answeryesno" name="answeryesno" id="yes" value="yes"> <span>Yes</span>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" ng-model="current.survey.answeryesno" name="answeryesno" id="no" value="no"> No
                            </label>
                        </div>    
                    </div>
                </div>
            </div> 

            <div class="col-md-5">
                <div class="panel panel-default" style="border-color:LightSeaGreen">
                    <div class="panel-heading" style="background-color:LightSeaGreen">
                        <h3 class="panel-title surveyPanelHeading">Answer Comment</h3>
                    </div>
                    <div style="height:140px;overflow-y:scroll;" class="panel-body surveyHomePage">
                        <textarea class="form-control" ng-model="current.survey.answercomment" id="answercomment" name="answercomment" style="font-size: 17px;" rows="4"></textarea>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    
    <div class="row">        
        <div class="col-md-3">
            <div class="panel panel-default" style="border-color:#6C0000">
                <div class="panel-heading" style="background-color:#6C0000">
                    <h3 class="panel-title surveyPanelHeading">Description</h3>
                </div>
                <div class="panel-body surveyHomePage">
                    <span>{{current.survey.questiontip}}</span>
                </div>
            </div> 

            <div ng-if="current.survey.questionnbr" class="row" style="padding-top:15px;">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-6 text-left">
                            <button id="prevSurveyButton" data-ng-click="prevSurveyButton()" type="button" class="btn btn-primary">Prev</button>
                        </div>

                        <div ng-if="current.survey.questionnbr < current.survey.totalquestions" class="col-md-6 text-right">
                           <button id="nextSurveyButton" data-ng-click="nextSurveyButton()" type="button" class="btn btn-primary">Next</button>
                        </div>

                        <div ng-if="current.survey.questionnbr == current.survey.totalquestions" class="col-md-6 text-right">
                           <button id="finishSurveyButton" data-ng-click="finishSurveyButton()" type="button" class="btn btn-success">Finish</button>
                        </div>
                    </div> <!-- end of form-group -->
                </div> <!-- end of col-7 -->
            </div> <!-- end of row -->
        </div> 

        <div class="col-md-8">
            <img style="border-color:LightSeaGreen; border-style:solid;border-width:2px;" class="img-responsive" align="center" ng-src='img/survey/{{current.survey.questionpicurl}}'>
        </div>    
    </div>    
</div> <!-- end of row -->

<div ng-if="!current.survey.questionnbr" class="row" style="padding-top:35px;">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-offset-5 col-md-2 text-center">
                <button tabindex="" id="startSurveyButton" data-ng-click="startSurveyButton()" type="button" class="btn btn-primary">Start</button>
                </div>
        </div> <!-- end of form-group -->
    </div> <!-- end of col-7 -->
</div> <!-- end of row -->


<div style="padding-bottom:70px;">&nbsp;</div>