<div class="pageCaption row">
	<div class="col-md-12">
		<h2 style="display:inline;padding-right:30px;" class="headerTitle">Team Weekly Ranking</h2>
		<img ng-init="helpimg='HelpButton4Circle.png'" 
			 ng-mouseover="helpimg='HelpButton3Circle.png'" 
			 ng-mouseout="helpimg='HelpButton4Circle.png'"
			 style="display:inline;float:right;padding-right:8%;height:50px;vertical-align:top;cursor:pointer;" 
			 ng-click="showHelp()" 
			 src="img/help/{{helpimg}}"> 
	</div> 
</div> <!-- end of row -->

<div class="row pageStandardOffset">
	<div style="" class="col-md-12">
		<div class="row">
			<div style="" class="col-md-2">
				<a ng-href="{{current.team.teamurl}}" target="_blank">
					<img height="85" ng-src='img/nflicons/{{current.team.teamiconname}}'>
				</a>
			</div> <!-- end of column -->

			<div  class="col-md-4">
				<div style="font-size:20px;">
					<label for="teamid" class="">Team</label>
			        <select class="customSelect" ng-change="getTeamWeekRank(current.teamid)" ng-model="current.teamid" id="teamid" name="teamid">
			            <option ng-repeat="team in teams" value="{{team.id}}">{{team.location}} {{team.name}}</option>
		        	</select>
				</div>
					
				<div style="font-size:20px;padding-top:25px;">
					<label style="" for="season" class="">Season </label>
					<select class="customSelect" ng-change="getTeamWeekRank()" ng-model="current.season" id="season" name="season">
						<option ng-repeat="season in seasons" ng-selected="current.season == season.season" value="{{season.season}}">{{season.season}}</option>
					</select>
				</div>

				<div style="padding-top:45px;padding-bottom:15px;" >
		        	<span class="left-column-text" style="padding:5px;font-size:18px;font-weight:700;padding-right:20px;">Keys for Ranking:</span>

			        <span class="center-column-text offenceText" style="font-weight:bold;font-size:18px;padding:5px;">Offence</span>

			        <span class="center-column-text defenceText" style="font-weight:bold;font-size:18px;padding:5px;">Defense</span>    
				</div>
			</div> <!-- end of column -->

			<div class="col-md-4">
				<img height="150" style="padding-left:15%;" align="top" ng-src="img/Spring-TeamWeeklyRanking1-2021.png">
			</div>
		</div> <!-- end of row -->
	</div> <!-- end of column -->
</div> <!-- end of row -->	


<div style="paddimg-top:35px;" class="pageStandardOffset row">
	<div class="col-md-10">
		<div class="panel panel-default panelOverrideNoBorder">
			<div class="panelBodyOverride">
				<table id="TeamWeeklyRankings" class="table teamWeeklyRankings" >
					<thead style="width:1100px;display:block;">
					<!-- <tr class="tableTitleNoBorder">
						<th class="tableTitle">Week</th>
						<th class="tableTitle" colspan=2>Team's</th>
						<th class="tableTitle">Score</th>
						<th class="tableTitle" colspan=3>&nbsp;</th>
						<th class="powerRankingTitle">&nbsp;</th>
						<th class="offenceTitle" colspan=4>{{game.gametime}}</th>
						<th class="defenceTitle" colspan=4>Defensive Stats</th>
					</tr> -->
					<tr class="tableTitleNoBorder">
						<th class="tableTitle" style="width:25px;">
							<span style="text-align:center;">Week</span>
							<br />
							<button id="teamRankSortButton" type="button" class="btn btn-default" ng-click="toggleSort()" aria-label="Left Align">
							  <span class="glyphicon" id="teamRankSort"></span>
							</button>
						</th>
						<th class="tableTitle" style="text-align:center;width:300px;">
							<span>Top - Home</span>
							<br />
							<span>Bottom - Away</span>
						</th>
						<th class="tableTitle" style="padding:5px;width:50px;">Score</th>
						<th class="tableTitle" style="padding:5px;width:35px;">W</th>
						<th class="tableTitle" style="padding:5px;width:35px;">L</th>
						<th class="tableTitle" style="padding:5px;width:35px;">T</th>
						<th class="powerRankingTitle" style="width:60px;">Power Rank</th>
						<th class="offenceTitle" style="width:60px;">Over All</th>
						<th class="offenceTitle" style="width:60px;">Score</th>
						<th class="offenceTitle" style="width:60px;">Pass</th>
						<th class="offenceTitle" style="width:60px;">Rush</th>
						<th class="defenceTitle" style="width:60px;">Over All</th>
						<th class="defenceTitle" style="width:60px;">Score</th>
						<th class="defenceTitle" style="width:60px;">Pass</th>
						<th class="defenceTitle" style="width:60px;">Rush</th>
					</tr>
					</thead>
					<tbody style="display:block;width:1100px;overflow-y:auto;height:{{current.WeeklRankingtablesize}}px;">
					<tr ng-repeat="teamweekrank in teamweekranks">
						<td style="font-size:25px;font-weight:bold;padding-top:55px;width:25px;" class="center-column-text">
							{{teamweekrank.week}}
						</td>

						<td class="left-column-text" style="width:75px;">
							<div style="padding:5px;height:60px;width:75px;" id="hometeamlocationnamediv" name="hometeamlocationnamediv" ng-click="getTeamWeekRank(teamweekrank.hometeamid)">
								<img style="cursor: pointer;" height="50" ng-src='img/nflicons/{{teamweekrank.hometeamiconname}}'>
							</div>

							<div style="padding:5px;height:60px;width:75px;" id="awayteamlocationnamediv" name="awayteamlocationnamediv" ng-if="teamweekrank.awayteamiconname != 'B' " ng-click="getTeamWeekRank(teamweekrank.awayteamid)">
								<img style="cursor: pointer;" height="50" ng-src='img/nflicons/{{teamweekrank.awayteamiconname}}'>
							</div>
						</td>

						<td class="left-column-text" style="width:225px;">
							<div style="padding:5px;height:60px;" id="hometeamlocationnamediv" name="hometeamlocationnamediv" ng-class="{{teamweekrank.hometeamid == current.teamid}} ? 'teamSelected' : 'teamNotSelected' ">
								{{teamweekrank.hometeamlocation}} &nbsp; {{teamweekrank.hometeamname}}
							</div>

							<div style="padding:5px;height:60px;" id="awayteamlocationnamediv" name="awayteamlocationnamediv" ng-class="{{teamweekrank.awayteamid == current.teamid}} ? 'teamSelected' : 'teamNotSelected' ">
								{{teamweekrank.awayteamlocation}} &nbsp; {{teamweekrank.awayteamname}}
							</div>
						</td>

						<td class="center-column-text" style="width:50px;padding:text-align:center">
							<div style="height:60px;" id="hometeamscorediv" name="hometeamscorediv" ng-class="compareScores( 'home', teamweekrank.hometeamscore, teamweekrank.awayteamscore) ? 'teamWon' : 'teamLost' ">
								{{teamweekrank.hometeamscore}}
							</div>

							<div style="height:60px;" id="awayteamscorediv" name="awayteamscorediv" ng-class="compareScores( 'away', teamweekrank.hometeamscore, teamweekrank.awayteamscore) ? 'teamWon' : 'teamLost' ">
								{{teamweekrank.awayteamscore}}
							</div>
						</td>

						<td class="center-column-text"  style="width:35px;text-align:center">
							<div style="height:60px;" id="hometeamwinsdiv" name="hometeamwinsdiv" >
								{{teamweekrank.hometeamwins}}
							</div>

							<div style="height:60px;" id="awayteamwinsdiv" name="awayteamwinsdiv">
								{{teamweekrank.awayteamwins}}
							</div>
						</td>

						<td class="center-column-text"  style="width:35px;text-align:center">
							<div style="height:60px;" id="hometeamlossesdiv" name="hometeamlossesdiv" >
								{{teamweekrank.hometeamlosses}}
							</div>

							<div style="height:60px;" id="awayteamlossesdiv" name="awayteamlossesdiv">
								{{teamweekrank.awayteamlosses}}
							</div>
						</td>

						<td class="center-column-text"  style="width:35px;text-align:center">
							<div style="height:60px;" id="hometeamtiesdiv" name="hometeamtiesdiv" >
								{{teamweekrank.hometeamties}}
							</div>

							<div style="height:60px;" id="awayteamtiesdiv" name="awayteamtiesdiv">
								{{teamweekrank.awayteamties}}
							</div>
						</td>

						<td class="center-column-text powerRankingText" style="width:60px;">
							<div style="height:60px;" id="hometeampowerrankingdiv" name="hometeampowerrankingdiv" >
								{{teamweekrank.hometeampowerranking}}
							</div>

							<div style="height:60px;" id="awayteampowerrankingdiv" name="awayteampowerrankingdiv">
								{{teamweekrank.awayteampowerranking}}
							</div>
						</td>

						<td class="center-column-text offenceText" style="width:60px;">
							<div style="height:60px;" id="hometeamoffencetotaldiv" name="hometeamoffencetotaldiv" >
								{{teamweekrank.hometeamoffencetotal}}
							</div>

							<div style="height:60px;" id="awayteamoffencetotaldiv" name="awayteamoffencetotaldiv">
								{{teamweekrank.awayteamoffencetotal}}
							</div>
						</td>

						<td class="center-column-text offenceText" style="width:60px;">
							<div style="height:60px;" id="hometeamoffencescoringdiv" name="hometeamoffencescoringdiv" >
								{{teamweekrank.hometeamoffencescoring}}
							</div>

							<div style="height:60px;" id="awayteamoffencescoringdiv" name="awayteamoffencescoringdiv">
								{{teamweekrank.awayteamoffencescoring}}
							</div>
						</td>

						<td class="center-column-text offenceText" style="width:60px;">
							<div style="height:60px;" id="hometeamoffencepassingdiv" name="hometeamoffencepassingdiv" >
								{{teamweekrank.hometeamoffencepassing}}
							</div>

							<div style="height:60px;" id="awayteamoffencepassingdiv" name="awayteamoffencepassingdiv">
								{{teamweekrank.awayteamoffencepassing}}
							</div>
						</td>

						<td class="center-column-text offenceText" style="width:60px;">
							<div style="height:60px;" id="hometeamoffencerushingdiv" name="hometeamoffencerushingdiv" >
								{{teamweekrank.hometeamoffencerushing}}
							</div>

							<div style="height:60px;" id="awayteamoffencerushingdiv" name="awayteamoffencerushingdiv">
								{{teamweekrank.awayteamoffencerushing}}
							</div>
						</td>

						<td class="center-column-text defenceText" style="width:60px;">
							<div style="height:60px;" id="hometeamdefencetotaldiv" name="hometeamdefencetotaldiv" >
								{{teamweekrank.hometeamdefencetotal}}
							</div>

							<div style="5px;height:60px;" id="awayteamdefencetotaldiv" name="awayteamdefencetotaldiv">
								{{teamweekrank.awayteamdefencetotal}}
							</div>
						</td>

						<td class="center-column-text defenceText" style="width:60px;">
							<div style="height:60px;" id="hometeamdefencescoringdiv" name="hometeamdefencescoringdiv" >
								{{teamweekrank.hometeamdefencescoring}}
							</div>

							<div style="height:60px;" id="awayteamdefencescoringdiv" name="awayteamdefencescoringdiv">
								{{teamweekrank.awayteamdefencescoring}}
							</div>
						</td>

						<td class="center-column-text defenceText" style="width:60px;">
							<div style="height:60px;" id="hometeamdefencepassingdiv" name="hometeamdefencepassingdiv" >
								{{teamweekrank.hometeamdefencepassing}}
							</div>

							<div style="height:60px;" id="awayteamdefencepassingdiv" name="awayteamdefencepassingdiv">
								{{teamweekrank.awayteamdefencepassing}}
							</div>
						</td>

						<td class="center-column-text defenceText" style="width:60px;">
							<div style="height:60px;" id="hometeamdefencerushingdiv" name="hometeamdefencerushingdiv" >
								{{teamweekrank.hometeamdefencerushing}}
							</div>

							<div style="height:60px;" id="awayteamdefencerushingdiv" name="awayteamdefencerushingdiv">
								{{teamweekrank.awayteamdefencerushing}}
							</div>
						</td>
					</tr>
				</tbody>
				</table>
			</div> <!-- end of panel body -->
		</div> 	<!-- end of panel -->
	</div> <!-- end of col 10 -->

</div> <!-- end of row -->
</form>

<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->
