<div class="pageCaption row">
	<div class="col-md-12">
		<h2 class="headerTitle">Team Stats Charts</h2>
	</div> <!-- end of column -->
</div> <!-- end of row -->


<div class="row pageStandardOffset">
<form id="teamstatschartsForm" name="teamstatschartsForm" class="form-inline">
	<div class="col-md-12 form-inline">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">

					<div class="form-group horizontalFieldOffset">
						<label for="teamstatschart" class="control-label">Chart</label>
				        <select class="customSelect form-control" ng-change="getTeamStatsCharts()" ng-model="current.chartid" id="teamstatschart" name="teamstatschart">
				            <option ng-repeat="teamstatschart in teamstatscharts" ng-selected="current.chartid == teamstatschart.id" value="{{teamstatschart.id}}">{{teamstatschart.title}}</option>
				        </select>
					</div> <!-- end of form-group -->

					<div ng-if="current.showteama" class="form-group horizontalFieldOffset">
						<label for="teamidA" class="control-label">Team {{current.teama}}</label>
				        <select class="customSelect form-control" ng-model="current.teamidA" id="teamidA" name="teamidA">
				            <option ng-repeat="team in teams" ng-selected="current.teamidA == team.id" value="{{team.id}}">{{team.location}} {{team.name}}</option>
				        </select>
					</div> <!-- end of form-group --> 

					<div ng-if="current.showteamb" class="form-group horizontalFieldOffset">
						<label for="teamidB" class="control-label">Team {{current.teamb}}</label>
				        <select class="customSelect form-control" ng-model="current.teamidB" id="teamidB" name="teamidB">
				            <option ng-repeat="team in teams" ng-selected="current.teamidB == team.id" value="{{team.id}}">{{team.location}} {{team.name}}</option>
				        </select>
					</div> <!-- end of form-group --> 

					<div style="padding-left:30px;" class="form-group horizontalFieldOffset">
		                <button  style="font-weight:bold;" class="btn btn-danger btn-sm" ng-click="displayChart()" id="displayChart" name="displayChart" >Draw Chart</button>
					</div> <!-- end of form-group --> 

				</div> <!-- end of panel body -->		
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->
	</div> <!-- end of col 12 -->
</form>		
</div> <!-- end of row -->

<div style="padding-bottom:75px;" class="pageStandardOffset row">
	<div class="col-offset-md-1 col-md-8">
		<div ng-if="current.showlinechart" class="chart-container">
			<canvas id="line" 
			class="chart chart-line" 
			chart-data="data"
			chart-labels="labels" 
			chart-series="series" 
			chart-options="options"
			chart-dataset-override="datasetOverride" 
			chart-click="onClick">
			</canvas> 
		</div> <!-- end of teamStatsChart -->

		<div ng-if="current.showbarchart"class="chart-container col-offset-md-1 col-md-8">
			<canvas id="bar" 
			class="chart chart-bar"
			chart-data="data" 
			chart-labels="labels" 
			chart-options="options"
			chart-series="series">
			</canvas>
		</div> <!-- end of teamStatsChart -->
	</div>	

	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-body">
				<div id="chartMessage"></div>
			</div> <!-- end of panel body -->
    </div> <!-- end of panel -->  
</div> <!-- end of row -->

<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->