<div class="pageCaption row">
  <div class="col-md-12">
    <h2>Team Discovery</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="container">
	<div class="row">
	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="img/nfl-badge.png" alt="booooo">
	      <div class="caption">
	        <h3>The NFL</h3>
	        <p>A website where you can gather information about players, games and other NFL memorabilia.</p>
	        <p><a href="http://www.nfl.com/" target="_blank" class="btn btn-primary" role="button">Go There</a></p>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="img/patriots.png" alt="yeahhh">
	      <div class="caption">
	        <h3>The New England Patriots</h3>
	        <p>A place where you can gather information about players, games and other Patriots memorabilia.</p>
	        <p><a href="http://www.patriots.com/" target="_blank" class="btn btn-primary" role="button">Go There</a></p>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="img/cbs-logo.png" alt="yeah">
	      <div class="caption">
	        <h3>CBS Sports NFL</h3>
	        <p>A website where you can gather information about players, games and other NFL memorabilia.</p>
	        <p><a href="http://www.cbssports.com/nfl" target="_blank" class="btn btn-primary" role="button">Go There</a></p>
	      </div>
	    </div>
	  </div>

	  <div class="col-md-4">
	    <div class="thumbnail">
	      <img src="img/espn-logo.png" alt="booooo">
	      <div class="caption">
	        <h3>ESPN NFL</h3>
	        <p>A website where you can gather information about players, games and other NFL memorabilia.</p>
	        <p><a href="http://espn.go.com/nfl/" target="_blank" class="btn btn-primary" role="button">Go There</a></p>
	      </div>
	    </div>
	  </div>
	</div> <!-- end of row -->
</div> <!-- end of container 	 -->
