<div class="pageCaption row">
	<div style="padding-top:15px;display:inline;" class="col-md-12">
		<h3 style="display:inline;" class="headerTitle4">Tracker Review Select</h3>
	</div> <!-- end of column -->
</div> <!-- end of row -->	

<div class="row">
	<div class="col-md-12 form-inline">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">

					<form id="trackerreviewwithoptions" name="trackerreviewwithoptions">
						<div>
							<div class="form-group horizontalFieldOffset">
								<select 
									class="customSelect form-control"
									ng-model="current.trackrequest" 
									ng-change="setSelectionCriteria('selectreview')" 
									id="trackrequest" 
									name="trackrequest">
									<option value="">No Selection</option>
									<option ng-repeat="trackrequest in trackrequests" value="{{trackrequest.trackrequest}}">{{trackrequest.trackrequest}}</option>
								</select>

					            <label 
					            	ng-if="current.trackrequest == trackrequests[0].trackrequest"
						            style="padding-left:30px;" 
						            for="trackselectwhere" class="control-label">Where
					          	</label>
								<select 
									ng-if="current.trackrequest == trackrequests[0].trackrequest"
									ng-change="setSelectionCriteria('selectwhere')" 
									class="customSelect form-control" 
									ng-model="current.trackselectwhere" 
									id="trackselectwhere" 
									name="trackselectwhere">
									<option value="">No Selection</option>
								    <option 
								    	ng-selected="current.trackselectwhere == trackselectwhere.trackselectwhere"  
								    	ng-model="current.trackselectwhere"
								    	ng-repeat="trackselectwhere in trackselectwheres" 
								    	value="{{trackselectwhere.trackselectwhere}}">{{trackselectwhere.trackselectwhere}}
								    </option>
								</select>

						        <label 
						        	ng-if="current.trackrequest != ''"
						            style="padding-left:30px;" 
						            for="trackselectwherecompare" 
						            class="control-label">Compare
					          	</label>
						        <select 
						        	ng-if="current.trackrequest != '' "
						        	class="customSelect form-control" 
						        	ng-change="setSelectionCriteria('selectwherecompare')"
						        	ng-model="current.trackselectwherecompare" 
						        	id="trackselectwherecompare" 
						        	name="trackselectwherecompare">
						        		<option value="">No Selection</option>
				                		<option 
				                			ng-repeat="trackselectwherecompare in trackselectwherecompares" value="{{trackselectwherecompare.trackselectwherecompare}}">{{trackselectwherecompare.trackselectwherecompare}}
				                		</option>
						        </select>

						        <label 
						        	ng-if="current.trackrequest != ''"
						            style="padding-left:30px;" 
						            for="trackselectwhereoption" 
						            class="control-label">Value
					          	</label>
						        <select 
						        	ng-if="current.trackrequest != '' && current.fieldstatus != 'input'"
						        	class="customSelect form-control" 
						        	ng-change="setSelectionCriteria('selectwherevalues')"
						        	ng-model="current.trackselectwherevalue" 
						        	id="trackselectwherevalue" 
						        	name="trackselectwherevalue">
						        		<option value="">No Selection</option>
				                		<option 
				                			ng-repeat="trackselectwherevalue in trackselectwherevalues" 
				                			value="{{trackselectwherevalue.trackselectwherevalue}}">{{trackselectwherevalue.trackselectwherevalue}}
				                		</option>
						        </select>
							
								<input 
									ng-if="current.trackrequest != '' && current.fieldstatus == 'input'"
									type="text" 
									class="form-control" 
									id="trackselectwherevalue" 
									name="trackselectwherevalue" 
									ng-model="current.trackselectwherevalue"
									value ="{{current.trackselectwherevalue}}"
									>
							
						        <label 
						        	ng-if="current.trackrequest != ''"
					            	style="padding-left:30px;" 
					            	for="screenname" class="control-label">Order
					          	</label>
						        <select 
						        	ng-if="current.trackrequest != ''"
						        	class="customSelect form-control" 
						        	ng-change="setSelectionCriteria('order')" 
						        	ng-model="current.trackorderby" 
						        	id="trackorderby" 
						        	name="trackorderby">
						        		<option value="">No Selection</option>
				                		<option ng-repeat="trackorderby in trackorderbys" value="{{trackorderby.trackorderby}}">{{trackorderby.trackorderby}}</option>
						        </select>

						        <label 
						        	ng-if="current.trackrequest != ''"
					            	style="padding-left:30px;" 
					            	for="screenname" 
					            	class="control-label">Sort
					          	</label>
						        <select 
						        	ng-if="current.trackrequest != ''"
						        	class="customSelect form-control" 
						        	ng-change="setSelectionCriteria('sort')" 
						        	ng-model="current.trackorderbysort" 
						        	id="trackorderbysort" 
						        	name="trackorderbysort">
						        		<option value="">No Selection</option>
				                		<option value="ASC">Ascending</option>
				                		<option value="DESC">Descending</option>
						        </select>
							</div> <!-- end of form-group -->
						</div>	

						<div>
							<div style="padding-top:30px;" class="form-group horizontalFieldOffset">
					        <div class="form-group horizontalFieldOffset">
			                <button  
				                style="font-weight:bold;" 
				                class="btn btn-danger btn-sm" 
				                ng-click="getTrackerReviewInfo()" 
				                id="getTrackerReviewInfo" 
				                name="getTrackerReviewInfo" >Get Tracker Records
			                </button>
									</div> <!-- end of form-group --> 

			            <label style="padding-left:35px;" for="reviewcount" class="control-label">Count</label>
			            <span class="customSelect form-control">
			                {{ requestcount }}
			            </span>
							</div> <!-- end of form-group -->
						</div>
				</form>

				</div> <!-- end of panel body -->		
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->
	</div> <!-- end of col 9 -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default panelOverride">
			<div class="panelBodyOverride">

				<table style="width:100%" ng-if="current.status == 'GO' && current.trackrequest == ''" class="table" >
					<tr class="tableTitleNoBorder">	
						<th class="center-column-text"> Select Review</th>
					</tr>

					<tr>
						<td class="center-column-text"> Nothing to show!</td>
					</tr>
				</table>

				<table style="width:100%;" ng-if="current.status == 'GO' && current.trackrequest == trackrequests[0].trackrequest" class="table table-scroll" >

					<thead>
						<tr class="tableTitleNoBorder">	
							<th style="width:5%;" class="center-column-text">id</th>
							<th style="width:5%;" class="center-column-text">memberid</th>
							<th style="width:12%;" class="center-column-text">screenname</th>
							<th style="width:8%;" class="center-column-text">season</th>
							<th style="width:5%;" class="center-column-text">week</th>
							<th style="width:13%;" class="center-column-text">trackaction</th>
							<th style="width:18%;" class="center-column-text">trackmodule</th>
							<th style="width:15%;" class="center-column-text">tracktext</th>
							<th style="width:15%;" class="center-column-text">trackdate</th>
							<th style="width:8%;" class="center-column-text">device</th>	
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="trackreview in trackreviews">
							<td style="width:5%;" class="center-column-text"> {{ trackreview.id }} </td>
							<td style="width:5%;" class="center-column-text"> {{ trackreview.memberid }} </td>
							<td style="width:12%;" class="left-column-text"> {{ trackreview.screenname }} </td>
							<td style="width:8%;" class="center-column-text"> {{ trackreview.season }} </td>
							<td style="width:5%;" class="center-column-text"> {{ trackreview.week }} </td>
							<td style="width:13%;" class="left-column-text"> {{ trackreview.trackaction }} </td>
							<td style="width:18%;" class="left-column-text"> {{ trackreview.trackmodule }} </td>
							<td style="width:15%;" class="left-column-text"> {{ trackreview.tracktext }} </td>
							<td style="width:15%;" class="left-column-text"> {{ trackreview.trackdate }} </td>
							<td style="width:8%;" class="center-column-text"> {{ trackreview.device }} </td>
						</tr>
					</tbody>

				</table>

				<table style="width:100%;" ng-if="current.status == 'GO' && current.trackrequest == trackrequests[1].trackrequest" class="table table-scroll" >

					<thead>
						<tr class="tableTitleNoBorder">	
							<th style="width:10%;" class="center-column-text">screenname</th>
							<th style="width:6%;" class="center-column-text">hits</th>
							<th style="width:6%;" class="center-column-text">viewPicks</th>
							<th style="width:6%;" class="center-column-text">pickList</th>
							<th style="width:6%;" class="center-column-text">pickGames</th>
							<th style="width:6%;" class="center-column-text">playerWeekly</th>
							<th style="width:6%;" class="center-column-text">playerTls</th>
							<th style="width:4%;" class="center-column-text">hof</th>
							<th style="width:4%;" class="center-column-text">hom</th>
							<th style="width:6%;" class="center-column-text">teamStatDia</th>
							<th style="width:9%;" class="center-column-text">teamScrsStat</th>
							<th style="width:6%;" class="center-column-text">teamStand</th>
							<th style="width:6%;" class="center-column-text">teamDisc</th>
							<th style="width:6%;" class="center-column-text">takeSurvey</th>
							<th style="width:6%;" class="center-column-text">nflnews</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="trackreview in trackreviews">
							<td style="width:10%;"class="left-column-text"> {{ trackreview.screenname }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.hits }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.viewPicks }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.pickList }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.pickGames }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.playerWeekly }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.playerTls }} </td>
							<td style="width:4%;" class="center-column-text"> {{ trackreview.hof }} </td>
							<td style="width:4%;" class="center-column-text"> {{ trackreview.hom }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.teamStatDia }} </td>
							<td style="width:9%;" class="center-column-text"> {{ trackreview.teamScrsStat }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.teamStand }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.teamDisc }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.takeSurvey }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.nflnews }} </td>
						</tr>
					</tbody>

				</table>
			
				<table ng-if="current.status == 'GO' && current.trackrequest == trackrequests[2].trackrequest" class="table table-scroll" >
					<thead>
						<tr class="tableTitleNoBorder">	
							<th style="width:9%;" class="center-column-text">screenname</th>
							<th style="width:10%;" class="center-column-text">tdate</th>
							<th style="width:4%;" class="center-column-text">hits</th>
							<th style="width:6%;" class="center-column-text">viewPicks</th>
							<th style="width:6%;" class="center-column-text">pickList</th>
							<th style="width:6%;" class="center-column-text">pickGames</th>
							<th style="width:8%;" class="center-column-text">playerWeekly</th>
							<th style="width:6%;" class="center-column-text">playerTls</th>
							<th style="width:4%;" class="center-column-text">hof</th>
							<th style="width:4%;" class="center-column-text">hom</th>
							<th style="width:6%;" class="center-column-text">teamStatDia</th>
							<th style="width:9%;" class="center-column-text">teamScrsStat</th>
							<th style="width:6%;" class="center-column-text">teamStand</th>
							<th style="width:6%;" class="center-column-text">teamDisc</th>
							<th style="width:6%;" class="center-column-text">takeSurvey</th>
							<th style="width:6%;" class="center-column-text">nflnews</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="trackreview in trackreviews">
							<td style="width:9%;"class="left-column-text"> {{ trackreview.screenname }} </td>
							<td style="width:10%;"class="center-column-text"> {{ trackreview.tdate }} </td>
							<td style="width:4%;" class="center-column-text"> {{ trackreview.hits }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.viewPicks }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.pickList }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.pickGames }} </td>
							<td style="width:8%;" class="center-column-text"> {{ trackreview.playerWeekly }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.playerTls }} </td>
							<td style="width:4%;" class="center-column-text"> {{ trackreview.hof }} </td>
							<td style="width:4%;" class="center-column-text"> {{ trackreview.hom }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.teamStatDia }} </td>
							<td style="width:9%;" class="center-column-text"> {{ trackreview.teamScrsStat }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.teamStand }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.teamDisc }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.takeSurvey }} </td>
							<td style="width:6%;" class="center-column-text"> {{ trackreview.nflnews }} </td>
						</tr>
					</tbody>

				</table>

			</div> <!-- end of panel body -->
		</div> 	<!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->
