<div class="pageCaption row">
     <div class="col-md-12">
      <h2 class="headerTitle">Manage Member Groups</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
    <div class="col-md-12">
      <div style="padding-left:5%;padding-right:5%;" style="width:90%;">

      <form id="updatemembergroupForm" name="updatemembergroupForm">

        <div class="panel panel-default">
          <div class="subpanelCaption panel-heading">Member Group Information</div>
          <div style="padding:10px;" class="form-horizontal">
              <div class="form-group" >
                <label for="membergroupname" class="col-md-2 control-label">Member Group</label>
                <div class="col-md-4">
                  <select class="form-control" ng-change="getAllMemberGroupsAndMembers(membergroup.membergroupid)" ng-model="membergroup.membergroupid" id="membergroupname" name="membergroupname">
                    <option ng-repeat="membergroup in membergroups" value="{{membergroup.membergroupid}}">{{membergroup.membergroupname}}</option>
                  </select>
                  </div> <!-- end of col -->

                  <div class="col-md-4">
                      <span >
                          <button class="btn btn-success btn-sm" ng-click="addNewMemberGroupMember()">Add Member
                          </button>
                      </span>
                  </div>
              </div> <!-- end of form-group -->

              <div ng-if="showMemberGroupMemberSelect(membergroupmember)"class="form-group" data-ng-repeat="membergroupmember in membergroupmembers">
                  <div ng-show="showMemberGroupMemberLabel(membergroupmember)" class="col-md-2"> 
                      <label for="membergroupmember" style="float:right;" class="control-label">Members</label>
                  </div>   
                  <div ng-hide="showMemberGroupMemberLabel(membergroupmember)" class="col-md-2"> 
                      <label for="member" class="control-label">&nbsp;</label>
                  </div> 
                  <div class="col-md-4">
                      <select class="form-control" ng-change="getAllMember(member.id,membergroupmember)" ng-model="member.id" id="memberid" name="memberid[]">
                    <option ng-selected="getMemberGroupMemberSelectedId($parent.$index, member.id)" ng-repeat="member in members" value="{{member.id}}">{{member.membername}}</option>
                  </select>
                  </div> <!-- end of col -->
        
                  <div class="col-md-4">
                      <span ng-show="showDeleteMemberGroupMember(membergroupmember)" ng-click="deleteMemberGroupMember(membergroupmember)" style="color:red;" class="btn glyphicon glyphicon-trash"></span>
                  </div>
              </div> <!-- end of form-group -->
          </div>
        </div> <!-- end of panel panel -->

        <div style="padding-top:25px;padding-bottom:50px;" class="form-group">
          <div class="col-md-offset-2 col-md-3">
            <button tabindex="18" id="updatemembergroupbutton" data-ng-click="updatemembergroup()" type="button" class="btn btn-primary">Update Member Group</button>
           </div>
       
          <div class="col-md-offset-2 col-md-3">
            <button tabindex="19" class="btn btn-danger" ng-click="deletemembergroup()" id="deletemembergroupbutton">Delete Member Group</button>
          </div>
        </div> <!-- end of form-group -->
        </form>
      </div> <!-- end of div style 90% -->
    </div> <!-- end of div col md 12 -->
</div> <!-- end of row -->    