<div class="pageCaption row">
	<div class="col-md-6">
		<h2 class="headerTitle">Total picks for week by Team</h2>
	</div> <!-- end of column -->
</div> <!-- end of row -->

<form id="pickweekForm" name="pickweekForm" style="padding:0px;" class="form-inline">
<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default panelOverride">
			<div class="panel-body">

				<div class="form-group horizontalFieldOffset">
			    	<label for="season" class="control-label">Season</label>
		            <select class="form-control" ng-change="getMemberWeekPicks()" ng-model="current.season"  id="season" name="season">
		                <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
		            </select>
				</div> <!-- end of form-group -->

				<div class="form-group horizontalFieldOffset">
			    	<label for="gametypeid" class="control-label">Week</label>
		            <select class="form-control" ng-change="getMemberWeekPicks()" ng-model="current.week" id="week" name="week">
			            <option ng-repeat="week in weeks" value="{{week.week}}">{{week.week}} = {{week.weekstart}} - {{week.weekend}}</option>
		            </select>
				</div> <!-- end of form-group --> 

			</div> <!-- end of panel body -->				
		</div> <!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-8">
		<div class="panel panel-default panelOverride">
			<div class="panel-body">
				<table class="pickGameTable" >
					<tr class="tableTitle">
						<th>Game Day</th>			
						<th>Home Team</th>
						<th>Picks</th>								
						<th>Away Team</th>
						<th>Picks</th>						
					</tr>

					<tr ng-repeat="game in games">
						<td class="left-column-text">
							{{game.gamedate}} &nbsp; {{game.gameday}}
							
						</td>

						<td class="left-column-text">
							<img height='25' ng-src='img/nflicons/{{game.hometeamiconname}}'> &nbsp; 
		                    {{game.hometeamlocation}} &nbsp; {{game.hometeamname}}
						</td>

						<td class="center-column-text" >{{game.teamcounthome}}</td>

						<td class="left-column-text">
							<img height='25' ng-src='img/nflicons/{{game.awayteamiconname}}'> &nbsp; 
		                    {{game.awayteamlocation}} &nbsp; {{game.awayteamname}}
						</td>

						<td class="center-column-text">{{game.teamcountaway}}</td>
					</tr>
				</table>
			</div> <!-- end of panel body -->
		</div> 	<!-- end of panel -->				
	</div> <!-- end of col 10 -->

	<div style="display:inline;" class="col-md-4">
		<div id="top-pic">
			<img style="height:225px;" class="center-block" ng-src="img/totalteampicksweek-top.png">
		</div> <!-- end of top-pic -->

		<div style="padding-top:175px;" id="bottom-pic">
			<img style="height:225px;" class="center-block img-rounded"  ng-src="img/totalteampicksweek-bot.png">
		</div> <!-- end of bottom-pic -->
	</div> <!-- end of column -->
</div> <!-- end of row -->
</form>
<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->