<div class="pageCaption row">
	<div class="col-md-12">
		<h2 class="headerTitle">Total Members Team picks for Week</h2>
	</div> <!-- end of column -->
</div> <!-- end of row -->	

<div class="row">
	<form id="pickweekForm" name="pickweekForm" style="padding:0px;" class="form-inline">
	<div class="col-md-12">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">
					<div class="form-group horizontalFieldOffset">
				    	<label for="season" class="control-label">Season</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks()" ng-model="current.season"  id="season" name="season">
			                <option ng-repeat="season in seasons" ng-selected="current.season == season.season" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="week" class="control-label">Week</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks()" ng-model="current.week" id="week" name="week">
				            <option ng-repeat="week in weeks" ng-selected="current.week == week.week" value="{{week.week}}">{{week.week}} = {{week.weekstart}} - {{week.weekend}}</option>
			            </select>
					</div> <!-- end of form-group -->   

					<div style="padding-left:30px;" class="form-group">    
						<div style="width:80px;text-align:center;padding:5px;font-weight:bold;" class="teamWon">
					        Winner
				        </div>
			        </div> <!-- end of form-group -->

				</div> <!-- end of panel body -->				
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->
	</div> <!-- end of col 8-->
</div> <!-- end of row -->


<div class="pageStandardOffset row">
	<div class="col-md-9">
		<div class="panel panel-default panelOverrideNoBorder">
			<div class="panel-body table-responsive">
				<table class="table pickGameTable" >
					<tr class="tableTitle">
						<th>Game Day</th>			
						<th colspan=2>Home Team</th>
						<th>Picks</th>								
						<th colspan=2>Away Team</th>
						<th>Picks</th>						
					</tr>

					<tr ng-repeat="game in games">
						<td class="center-column-text">
							<div>{{game.gameday}}</div>
							<div>{{game.gametime}}</div>
						</td>

						<td class="left-column-text">
							<img style="cursor:pointer;" ng-click="getTeamStats(game.hometeamname,game.hometeamid,game.awayteamname,game.awayteamid,game.gamenbr)" height="50" ng-src='img/nflicons/{{game.hometeamiconname}}'>
						</td>

						<td class="left-column-text">
							{{game.hometeamlocation}} &nbsp; {{game.hometeamname}}
						</td>

						<td class="center-column-text" style="cursor:pointer;" ng-click="getMemberPickList(game.hometeamid,game.gamenbr)"  ng-class="compareScores( 'home', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost' ">{{game.teamcounthome}}</td>

						<td class="left-column-text">
							<img style="cursor:pointer;" ng-click="getTeamStats(game.hometeamname,game.hometeamid,game.awayteamname,game.awayteamid,game.gamenbr)" height="50" ng-src='img/nflicons/{{game.awayteamiconname}}'>		
						</td>

						<td class="left-column-text">
							{{game.awayteamlocation}} &nbsp; {{game.awayteamname}}
						</td>

						<td class="center-column-text" style="cursor:pointer;" ng-click="getMemberPickList(game.awayteamid,game.gamenbr)"  ng-class="compareScores( 'away', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost' ">{{game.teamcountaway}}</td>
					</tr>
				</table>
			</div> <!-- end of panel body -->
		</div> 	<!-- end of panel -->				
	</div> <!-- end of col 10 -->

	<div style="display:inline;" class="col-md-3">
		<div style="position:fixed;padding-right:20px;" class="floatingImgDiv" id="top-pic">
			<img style="width:70%;" class="center-block" ng-src="img/ThanksgivingTotalMembersTeamPicksforWeek2018.png">
		</div> <!-- end of top-pic -->

		<!-- <div style="padding-top:190%;" id="bottom-pic">
			<img style="width:100%;" class="center-block img-rounded"  ng-src="img/xmas-lb-bottom-dd.png">
		</div> --> <!-- end of bottom-pic -->
	</div> <!-- end of column -->
</div> <!-- end of row -->
</form>

<!-- Dialogs  -->
<div class="modal fade" id="teamStatsDialogModal" tabindex="-1" role="dialog" aria-labelledby="teamStatsDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="teamStatsDialogModalTitle"></h4>
      </div>
      <div class="modal-body" id="teamStatsDialogModalBody">
      	<table style='width:100%;' class='table' >
			<tr >
				<td style='font-weight:bold;padding-top:20px;'>{{teamstats.hometeamname}} (H) VS {{teamstats.awayteamname}} (A)</td>			
				<td>
					<div style='text-align:center;'>
						<a href='{{teamstats.hometeamurl}}' target='_blank'>
							<img style='text-align:center;' height='50' src='img/nflicons/{{teamstats.hometeamiconname}}'> 
						</a> 
					</div>
				</td>
				<td>
					<div style='text-align:center;'>
						<a href='{{teamstats.awayteamurl}}' target='_blank'>
							<img style='text-align:center;' height='50' src='img/nflicons/{{teamstats.awayteamiconname}}'>
						</a> 
					</div>
				</td>											
			</tr>

			<tr style='background:green;color:white;font-weight:bold;' >
				<td colspan=3>Standings</td>											
			</tr>

			<tr >
				<td>Overall W-L-T</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamwins}} - {{teamstats.hometeamlosses}} - {{teamstats.hometeamties}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamwins}} - {{teamstats.awayteamlosses}} - {{teamstats.awayteamties}}
				</td>												
			</tr>

			<tr >
				<td>Home W-L-T</td>

				<td class='center-column-text'>
				   {{teamstats.homehomewins}} - {{teamstats.homehomelosses}} - {{teamstats.homehometies}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.homeawaywins}} - {{teamstats.homeawaylosses}} - {{teamstats.homeawayties}}
				</td>												
			</tr>

			<tr >
				<td>Away W-L-T</td>

				<td class='center-column-text'>
				   {{teamstats.awayhomewins}} - {{teamstats.awayhomelosses}} - {{teamstats.awayhometies}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayawaywins}}- {{teamstats.awayawaylosses}} - {{teamstats.awayawayties}}
				</td>												
			</tr>

			<tr >
				<td>Conference W-L-T</td>

				<td class='center-column-text'>
				   {{teamstats.confhometeamwins}} - {{teamstats.confhometeamlosses}} - {{teamstats.confhometeamties}}
				</td>
				
				<td class='center-column-text'>
				   {{teamstats.confawayteamwins}} - {{teamstats.confawayteamlosses}} - {{teamstats.confawayteamties}}
				</td>												
			</tr>

			<tr >
				<td>Division W-L-T</td>

				<td class='center-column-text'>
				   {{teamstats.divhometeamwins}} - {{teamstats.divhometeamlosses}} - {{teamstats.divhometeamties}}
				</td>
				
				<td class='center-column-text'>
				   {{teamstats.divawayteamwins}} - {{teamstats.divawayteamlosses}} - {{teamstats.divawayteamties}}
				</td>												
			</tr>

			<tr style='background:maroon;color:white;font-weight:bold;'>
				<td colspan=3>Compare Offence/Defence Ranking (Higher is better)</td> 	
			</tr>

			<tr>
				<td colspan=4 >
					<canvas id='bar' 
					class='chart chart-bar'
					chart-data='data' 
					chart-labels='labels' 
					chart-options='options'
					chart-series='series'>
					</canvas>
				</td>												
			</tr>

			<tr >
				<td style='font-weight:bold;padding-top:20px;'>
					&nbsp;		
				<td>
					<div style='text-align:center;'>
						<a href='{{teamstats.hometeamurl}}' target='_blank'>
							<img style='text-align:center;' height='50' src='img/nflicons/{{teamstats.hometeamiconname}}'> 
						</a> 
					</div>
				</td>
				<td>
					<div style='text-align:center;'>
						<a href='{{teamstats.awayteamurl}}' target='_blank'>
							<img style='text-align:center;' height='50' src='img/nflicons/{{teamstats.awayteamiconname}}'>
						</a> 
					</div>
				</td>											
			</tr>

			<tr style='background:#0ABEC7;color:white;font-weight:bold;'>
				<td colspan=3>Power Rankings (Lower number is better)</td>					
			</tr>

			<tr >
				<td>Overall</td>

				<td class='center-column-text'>
				   {{teamstats.hometeampowerranking}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteampowerranking}}
				</td>												
			</tr>

			<tr style='background:#006600;color:white;font-weight:bold;'>
				<td colspan=3>Offensive Rankings (Lower number is better)</td>			
			</tr>

			<tr >
				<td>Overall</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamoffencetotal}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamoffencetotal}}
				</td>												
			</tr>

			<tr >
				<td>Scoring</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamoffencescoring}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamoffencescoring}}
				</td>												
			</tr>

			<tr >
				<td>Passing</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamoffencepassing}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamoffencepassing}}
				</td>												
			</tr>

			<tr >
				<td>Rushing</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamoffencerushing}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamoffencerushing}}
				</td>												
			</tr>

			<tr style='background:#CC0000;color:white;font-weight:bold;'>
				<td colspan=3>Defensive Rankings (Lower number is better)</td>								
			</tr>

			<tr >
				<td>Overall</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamdefencetotal}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamdefencetotal}}
				</td>												
			</tr>

			<tr >
				<td>Scoring</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamdefencescoring}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamdefencescoring}}
				</td>												
			</tr>

			<tr >
				<td>Passing</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamdefencepassing}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamdefencepassing}}
				</td>												
			</tr>

			<tr >
				<td>Rushing</td>

				<td class='center-column-text'>
				   {{teamstats.hometeamdefencerushing}}
				</td>

				<td class='center-column-text'>
				   {{teamstats.awayteamdefencerushing}}
				</td>												
			</tr>

		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  

<div class="modal fade" id="memberListDialogModal" tabindex="-1" role="dialog" aria-labelledby="memberListDialogModalTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="memberListDialogModalTitle"></h4>
      </div>
      <div class="modal-body" id="memberListDialogModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>  
<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->