<div class="pageCaption row">
	<div class="col-md-4">
		<h2 class="headerTitle">Picks for Week by Team</h2>
	</div> <!-- end of column -->

	<form id="pickweekForm" name="pickweekForm" style="padding:0px;" class="form-inline">
	<div class="col-md-8">
		<div class="pageStandardOffset">
			<div class="panel panel-default panelOverrideNoBorder">
				<div class="panel-body">
					<div class="form-group horizontalFieldOffset">
				    	<label for="season" class="control-label">Season</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks()" ng-model="current.season"  id="season" name="season">
			                <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
			            </select>
					</div> <!-- end of form-group -->

					<div class="form-group horizontalFieldOffset">
				    	<label for="gametypeid" class="control-label">Week</label>
			            <select class="customSelect form-control" ng-change="getMemberWeekPicks()" ng-model="current.week" id="week" name="week">
				            <option ng-repeat="week in weeks" value="{{week.week}}">{{week.week}} = {{week.weekstart}} - {{week.weekend}}</option>
			            </select>
					</div> <!-- end of form-group -->   

					<div style="padding-left:30px;" class="form-group">    
						<div style="width:80px;text-align:center;padding:5px;font-weight:bold;" class="teamWon">
					        Winner
				        </div>
			        </div> <!-- end of form-group -->

				</div> <!-- end of panel body -->				
			</div> <!-- end of panel -->
		</div> <!-- end of panelOffset -->
	</div> <!-- end of col 8-->
</div> <!-- end of row -->


<div class="pageStandardOffset row">
	<div class="col-md-8">
		<div class="panel panel-default panelOverride">
			<div class="panel-body table-responsive">
				<table class="table pickGameTable" >
					<tr class="tableTitle">
						<th>Game Day</th>			
						<th colspan=2>Home Team</th>
						<th>Picks</th>								
						<th colspan=2>Away Team</th>
						<th>Picks</th>						
					</tr>

					<tr ng-repeat="game in games">
						<td class="left-column-text">
							{{game.gamedate}} &nbsp; {{game.gameday}}
						</td>

						<td class="left-column-text">
							<a ng-href="{{game.hometeamurl}}" target="_blank">
							<img height="50" ng-src='img/nflicons/{{game.hometeamiconname}}'>
							</a>
						</td>

						<td class="left-column-text">
							{{game.hometeamlocation}} &nbsp; {{game.hometeamname}}
						</td>

						<td class="center-column-text" ng-class="compareScores( 'home', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost' ">{{game.teamcounthome}}</td>

						<td class="left-column-text">
							<a ng-href="{{game.awayteamurl}}" target="_blank">
							<img height="50" ng-src='img/nflicons/{{game.awayteamiconname}}'>
							</a>
							
						</td>

						<td class="left-column-text">
							{{game.awayteamlocation}} &nbsp; {{game.awayteamname}}
						</td>

						<td class="center-column-text" ng-class="compareScores( 'away', game.hometeamscore, game.awayteamscore) ? 'teamWon' : 'teamLost' ">{{game.teamcountaway}}</td>
					</tr>
				</table>
			</div> <!-- end of panel body -->
		</div> 	<!-- end of panel -->				
	</div> <!-- end of col 10 -->

	<div style="display:inline;" class="col-md-4">
		<div  style="padding-top:20px;"id="top-pic">
			<img style="height:225px;" class="center-block" ng-src="img/totalteampicksweek-top.png">
		</div> <!-- end of top-pic -->

		<div style="padding-top:425px;" id="bottom-pic">
			<img style="height:225px;" class="center-block img-rounded"  ng-src="img/totalteampicksweek-bot.png">
		</div> <!-- end of bottom-pic -->
	</div> <!-- end of column -->
</div> <!-- end of row -->
</form>
<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->