<div class="pageCaption row">
	<div class="col-md-12">
		<h2>View Member Selected Games for Week</h2>
	</div> <!-- end of column -->
</div> <!-- end of row -->

<form id="pickweekForm" name="pickweekForm" style="padding:10px;" class="form-inline">
<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group horizontalFieldOffset">
					<label for="memberid" class="control-label">Screen Name</label>
			        <select class="form-control" ng-change="getMemberWeekPicks()" ng-model="current.memberid" id="memberid" name="memberid">
			            <option ng-repeat="member in members" value="{{member.id}}">{{member.screenname}}</option>
			        </select>
				</div> <!-- end of form-group -->

				<div class="form-group horizontalFieldOffset">
			    	<label for="season" class="control-label">Season</label>
		            <select class="form-control" ng-change="getMemberWeekPicks()" ng-model="current.season"  id="season" name="season">
		                <option ng-repeat="season in seasons" value="{{season.season}}">{{season.season}}</option>
		            </select>
				</div> <!-- end of form-group -->

				<div class="form-group horizontalFieldOffset">
			    	<label for="gametypeid" class="control-label">Week</label>
		            <select class="form-control" ng-change="getMemberWeekPicks()" ng-model="current.week" id="week" name="week">
		                <option ng-repeat="week in weeks" value="{{week.week}}">{{week.week}}</option>
		            </select>
				</div> <!-- end of form-group -->   

			</div> <!-- end of panel body -->				
		</div> <!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-12">
		<table class="pickGameTable" >
			<tr>
				<th>Game Day</th>			
				<th>Home Team</th>
				<th>W-L-T</th>
				<th>Score</th>			
				<th>Away Team</th>
				<th>W-L-T</th>
				<th>Score</th>
			</tr>

			<tr ng-repeat="game in games">
				<td class="left-column-text">
					{{game.gamedate}} &nbsp; {{game.gameday}} &nbsp; {{game.gametime}} &nbsp; 
					<img style='height:25px;padding-left:5px;' src='img/tvicons/{{game.networkiconname}}'>
				</td>

				<td class="left-column-text" ng-class="{{game.hometeamid == game.teamselected}} ? 'teamSelected' : 'teamNotSelected' ">
					<img height='25' src='img/nflicons/{{game.hometeamiconname}}'> &nbsp; 
                    {{game.hometeamlocation}} &nbsp; {{game.hometeamname}}
				</td>
				
				<td class="center-column-text">
					   {{game.homewins}}-
					   {{game.homelosses}}-
					   {{game.hometies}}
				</td>

				<td class="center-column-text">{{game.hometeamscore}}</td>

				<td class="left-column-text" ng-class="{{game.awayteamid == game.teamselected}} ? 'teamSelected' : 'teamNotSelected' ">
					<img height='25' src='img/nflicons/{{game.awayteamiconname}}'> &nbsp; 
                    {{game.awayteamlocation}} &nbsp; {{game.awayteamname}}
				</td>

				<td class="center-column-text">
					   {{game.homewins}}-
					   {{game.homelosses}}-
					   {{game.hometies}}
				</td>

				<td class="center-column-text">{{game.awayteamscore}}</td>
			</tr>

		</table>
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->
</form>
<!-- <div style="padding-bottom:350px;">&nbsp;</div> -->