<div class="pageCaption row">
  <div class="col-md-12">
    <h2>Weekly Builds</h2>
  </div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-6">
		<div class="panel panel-primary">

			<div class="panel-heading">
				<h3 class="panel-title">System Scripts</h3>
			</div>

			<div class="panel-body">
				<form style="padding-top:25px;" class="form-horizontal">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">Build Team Stats</h3>
						</div> <!-- end of panel header -->

						<div class="panel-body">
							<div class="form-group">
								<label class="col-md-4 control-label" for="buildteamstatseason">Season</label>
								<div class="col-md-5">
									<input type="text" class="form-control" id="buildteamstatseason" placeholder="2015">
								</div>
							</div> <!-- end of form group -->
							
							<div class="form-group">
								<div class="col-md-offset-4 col-md-5">
									<button type="button" id="buildteamstatbutton" class="btn btn-primary">Build Team Stats</button>
								</div>
							</div> <!-- end of form group -->
						</div> <!-- end of panel body -->
					</div> <!-- end of panel warning -->						
				</form> <!-- end of form horizontal -->

				<form style="padding-top:25px;" class="form-horizontal">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">Build Team Weekly Stats</h3>
						</div> <!-- end of panel header -->

						<div class="panel-body">
							<div class="form-group">
								<label class="col-md-4 control-label" for="buildteamweeklystatseason">Season</label>
								<div class="col-md-5">
									<input type="text" class="form-control" id="buildteamweeklystatseason" placeholder="2015">
								</div>
							</div> <!-- end of form group -->

							<div class="form-group">
								<label class="col-md-4 control-label" for="buildteamweeklystatweeks">Weeks in Season</label>
								<div class="col-md-5">
									<input type="text" class="form-control" id="buildteamweeklystatweeks" placeholder="17">
								</div>
							</div> <!-- end of form group -->
							
							<div class="form-group">
								<div class="col-md-offset-4 col-md-5">
									<button type="button" id="buildteamweeklystatbutton" class="btn btn-primary">Build Team Weekly Stats</button>
								</div>
							</div> <!-- end of form group -->
						</div> <!-- end of panel body -->
					</div> <!-- end of panel warning -->								
				</form> <!-- end of form horizontal -->

				<form style="padding-top:25px;" class="form-horizontal">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">Build Player Stats</h3>
						</div> <!-- end of panel header -->

						<div class="panel-body">
							<div class="form-group">
								<label class="col-md-4 control-label" for="buildmemberstatseason">Season</label>
								<div class="col-md-5">
									<input type="text" class="form-control" id="buildmemberstatseason" placeholder="2015">
								</div>
							</div> <!-- end of form group -->

							<div class="form-group">
								<label class="col-md-4 control-label" for="buildmembermemberstatgametype">Game Type</label>
								<div class="col-md-5">
									<input type="text" class="form-control" id="buildmembermemberstatgametype" placeholder="2">
								</div>
							</div> <!-- end of form group -->						
							
							<div class="form-group">
								<div class="col-md-offset-4 col-md-5">
									<button type="button" id="buildmemberstatbutton" class="btn btn-primary">Build Player Stats</button>
								</div>
							</div> <!-- end of form group -->
						</div> <!-- end of panel body -->
					</div> <!-- end of panel warning -->	
				</form> <!-- end of form horizontal -->

				<form style="padding-top:25px;" class="form-horizontal">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">Build Player Weekly Stats</h3>
						</div> <!-- end of panel header -->

						<div class="panel-body">
							<div class="form-group">
								<label class="col-md-4 control-label" for="buildmemberweekstatseason">Season</label>
								<div class="col-md-5">
									<input type="text" class="form-control" id="buildmemberweekstatseason" placeholder="2015">
								</div>
							</div> <!-- end of form group -->

							<div class="form-group">
								<label class="col-md-4 control-label" for="buildteamweeklyweekstatweeks">Weeks in Season</label>
								<div class="col-md-5">
									<input type="text" class="form-control" id="buildteamweeklyweekstatweeks" placeholder="17">
								</div>
							</div> <!-- end of form group -->

							<div class="form-group">
								<label class="col-md-4 control-label" for="buildmembermemberweekstatgametype">Game Type</label>
								<div class="col-md-5">
									<input type="text" class="form-control" id="buildmembermemberweekstatgametype" placeholder="2">
								</div>
							</div> <!-- end of form group -->						
							
							<div class="form-group">
								<div class="col-md-offset-4 col-md-5">
									<button type="button" id="buildmemberweekstatbutton" class="btn btn-primary">Build Player Week Stats</button>
								</div>
							</div> <!-- end of form group -->
						</div> <!-- end of panel body -->
					</div> <!-- end of panel warning -->	
				</form> <!-- end of form horizontal -->

				<form style="padding-top:25px;" class="form-horizontal">
					<div class="panel panel-warning">
						<div class="panel-heading">
							<h3 class="panel-title">Dump Data Base</h3>
						</div> <!-- end of panel header -->

						<div class="panel-body">
							<div class="form-group">
								<label class="col-md-4 control-label" for="dumpdatabaselabel">Label</label>
								<div class="col-md-5">
									<input type="text" class="form-control" id="dumpdatabaselabel" placeholder="Enter date and alpha">
								</div>
							</div> <!-- end of form group -->						
							
							<div class="form-group">
								<div class="col-md-offset-4 col-md-5">
									<button type="button" id="dumpdatabaselabelbutton" class="btn btn-primary">Dump Database</button>
								</div>
							</div> <!-- end of form group -->
						</div> <!-- end of panel body -->
					</div> <!-- end of panel warning -->	
				</form> <!-- end of form horizontal -->
			</div> <!-- end of panel body -->

		</div> <!-- end of panel -->
	</div> <!-- end of column 5 -->

	<div class="col-md-offset-1 col-md-5">
		<div class="panel panel-primary">

			<div class="panel-heading">
				<h3 class="panel-title">Run Results</h3>
			</div>

			<div style="height:400px;" class="panel-body">

			</div> <!-- end of panel body -->
			
		</div> <!-- end of panel -->
	</div> <!-- end of column 6 -->
</div> <!-- end of row -->