/*fonts*/
@font-face {
    font-family: 'aileronthin';
    src: url('fonts/aileron/Aileron-Thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronsemibold';
    src: url('fonts/aileron/Aileron-SemiBold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'aileronlight';
    src: url('Aileron-Light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'beyondWonderland';
  src: url('fonts/BeyondWonderland.ttf') format('truetype');
}

@font-face {
  font-family: 'ChopinScript';
  src: url('fonts/ChopinScript.ttf') format('truetype');
}

@font-face {
  font-family: 'Anton-Regular';
  src: url('fonts/Anton/Anton-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'metro-retro';
  src: url('fonts/metro-retro.regular.ttf') format('truetype');
}

@font-face {
  font-family: 'CoventryGardenNF';
  src: url('fonts/coventrygarden/CoventryGardenNF.ttf') format('truetype');
}

@font-face {
  font-family: 'RothenburgDecorative';
  src: url('fonts/RothenburgDecorative.ttf') format('truetype');
}

@font-face {
  font-family: 'Sentinel';
  src: url('fonts/Sentinel.ttf') format('truetype');
}

@font-face {
  font-family: 'GingerbreadHouse';
  src: url('fonts/GingerbreadHouse.ttf') format('truetype');
}

@font-face {
    font-family: 'cormorant';
    src: url('fonts/cormorant/cormorant/Cormorant-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'cormorantSemiBold';
    src: url('fonts/cormorant/cormorant/Cormorant-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cormorant-SemiBoldItalic';
    src: url('../../fonts/cormorant/cormorant/Cormorant-SemiBoldItalic.ttf') format('truetype');
}

/* create sticky menu bar */
.fixed { position: fixed; left: 0px; top: 0px; right: 0px; z-index: 999999; }

.customSelect {
   background: #d7fbfd;
   color:#000;
   /*text-shadow:0 1px 0 rgba(240, 255, 255, 0.4);*/
}

.customNavbar {
  /* background-color: transparent;
   background: transparent;
   border-color: transparent;*/
   opacity: .99;
   /*background: rgba(240, 255, 255, 0.2);*/
}

/*.sticky {
	 position: fixed;
	 width: 100%;
}*/

/*.pickGamesDiv {
	float:left;
	padding-left:5px;
	padding-right:5px;
	margin-top:5px;
	margin-bottom:5px;	
	text-align:center;
	height:50px;
}*/

.pickGameLine :hover {
	outline: 1px solid blue;
}

.oneMoreThing {
	color: #2F6C03;
	font-family: 'cormorant';
	font-weight:300;
	font-size: 18px;
}

.newsOpinion p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 17px;
}

.newsOpinionHeaders {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: #00BBC0;
}

.cursiveTangerine {
	font-family: 'Tangerine', cursive;
}
.floatLeftDiv {
	float:left;
	padding-left:5px;
	padding-right:5px;
	margin-top:5px;
	margin-bottom:5px;	
	text-align:center;
	height:50px;
}

.floatRightDiv {
	float:right;
	padding-left:5px;
	padding-right:5px;
	margin-top:5px;
	margin-bottom:5px;	
	text-align:center;
	height:50px;
}

.inlineDiv {
	display:inline-block;
	/*padding-left:5px;
	padding-right:5px;
	margin-top:5px;
	margin-bottom:5px;	*/
	text-align:center;
/*	height:50px;*/
}

.teamSelected2 {
	background-color: maroon;
	color:white; 
	padding-top:14px;
	padding-bottom:14px;	
	border:1px solid maroon;
}

.gameDateTime {
	background-color:white;
	color:black;
	border:0px solid teal;
}

.teamNotSelected  {
	background-color: white;
	color:black; 
	/*padding-top:14px;
	padding-bottom:14px;	*/
/*	border:1px solid white;*/
}

.teamSelectedImg {
	background-color: maroon;
	color:white; 	
	padding-top:0px;
	padding-bottom:0px;	
	border:1px solid maroon;
}

.teamNotSelectedImg  {
	background-color: white;
	color:black; 
}

.teamWon2  {
	background-color: #006600;
	color:white; 	
	padding-top:14px;
	padding-bottom:14px;	
	border:1px solid white;
}

.hrBreak {
width: 85%;
height: 5px;
margin-left: auto;
margin-right: auto;
background-color:#058689;
color:#058689;
border: 0 none;
}

.mainTitle {
	color:#6cc9a6;
/*	color:#094c4d;*/
	/*color:#6C0000;*/
	font-family: 'Lato', sans-serif;
/*	font-family: 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;	 */
	font-weight: 700;
}

.siteDownTitle {
	color:#6C0000;
	font-family: 'aileronthin', 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;
	font-weight: 900;
	font-size: 40px;
	font-style: italic;

	/*color:#6C0000;
	font-family: 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;
	font-weight: 700;
	text-align:center;*/
}

.siteDownText p {
	color:teal;
	font-family: 'aileronthin', 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;
	font-weight: 900;
	font-size: 20px;
	text-align:center;

	/*color:#6C0000;
	font-family: 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;
	font-weight: 700;
	text-align:center;
	font-size:18px;*/
}

.imgButtonNav {
	width:80%; 
	height:80%;
}

.imgButtonMobileNav {
	width:50%;
	height:50%;
	padding-left:10%;
}

.imgButtonNavSmall {
	width:100px; 

}

.imgAvatarNav {
	height:75px;
}

.imgAvatarNavMobile {
	height:45px;
}

.imgAvatarNavSmall {
	height:75px;
}

/*.headerTitle {
	color:#6C0000;
	color:#4d9e3a;
	font-size:32px;
	font-family: 'ChopinScript', sans-serif;
	font-family: 'Cormorant-SemiBoldItalic';
	font-style: italic, bold;
}
*/

/*.headerTitle {
	color:#6C0000;
	color:#4d9e3a;
	color:#ac8747;
	font-size:40px;
	font-size:25px;
	font-family: 'Cormorant-SemiBoldItalic';
	font-family: 'metro-retro';
	font-family: 'ChopinScript', sans-serif;
	font-style: normal;
}*/


.headerTitle {
	color:#e1adad;
	font-size: 23px;
	font-family: 'Lato', sans-serif;
/*	font-family: 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;*/
	font-weight: 700;
}


.tableTitle {
	background-color:#058689;
	border:2px solid #058689;
	color:white;
}

.tableTitleNoBorder {
	background-color:#058689;
	/*border-top:2px solid #055659;*/
	color:white;
}

.tableTitleHeader {
	background-color:white;
	border:2px solid #058689;
	color:red;
}

.dialogTable {
	padding:25px;
}

.dialogTable tr td {
	padding-top:15px;
	vertical-align:top;
	padding-left: 10px;
}

.divRankingTableRow {
	height:45px;
}

.powerRankingTitle {
	background-color:#0ABEC7;
	border:2px solid #0ABEC7;
	color:white;
}

.offenceTitle {
	background-color:#006600;
	border:2px solid #006600;
	color:white;
}

.defenceTitle {
	background-color:#CC0000;
	border:2px solid #CC0000;
	color:white;
}

.powerRankingText {
	color:#0ABEC7;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background-color:white;
	border:2px solid white;
}

.offenceText {
	color:#006600;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background-color:white;
	border:2px solid white;
}

.defenceText {
	color:#CC0000;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background-color:white;
	border:2px solid white;
}

.jumbotronOverride {
	background:white;
	border:2px solid #055659;
}

.jumbotronOverrideEditorial {
	background:white;
	border:1px solid grey;
}

.panelOverride {
	background:white;
	border:4px solid #055659;
}

.panelBodyOverride {
	padding:0px;
	margin:0px;
}

.panelOverrideNoBorder {
	background:white;
	border:0px solid white;
}

.panelTitleOverride {
	background-color:#058689;
	border:2px solid #055659;
	color:white;
	text-align:center;
}


.iconImage {
	height: 50px;
}

.loginLink {
	float:right;
	color: #F5F38E;
	font-size: 16px;
	padding-top:10px;
	padding-right:15%;
	cursor: pointer;
}

.systemInfo {
	padding-top:35px; 
	color: NavajoWhite;
	font-size: 12px;
}

.loginLink a {
	color: #F5F38E;
	font-size: 16px;
	cursor: pointer;
}

.emailLink {
	color:NavajoWhite;
	font-size:15px;
	cursor: pointer;
}

.center-column-text {
	text-align: center; 
	vertical-align:middle;
}

.left-column-text {
	text-align: left; 
	vertical-align:middle;
}

.right-column-text {
	text-align: right; 
	vertical-align:middle;
}

.pickGameTable  {
	width: 100%; 
}

.pickGameTable  th {
	text-align: center; 
	vertical-align: middle;
	/*color: #6C0000;*/
	font-size: 16px;
	font-weight: bold;
	/*border-top: 1px solid red;*/
	/*border-bottom: 2px solid #6C0000;*/
}

.pickGameTable td  {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.pickGameTable tr  {
	line-height: 35px;
}

.teamWeekRankTable  {
	width: 100%; 
}

.teamWeekRankTable  th {
	text-align: center; 
	vertical-align: middle;
	/*color: #6C0000;*/
	font-size: 12px;
	font-weight: bold;
	/*border-top: 1px solid red;*/
	/*border-bottom: 2px solid #6C0000;*/
}

.teamWeekRankTable td  {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.teamWeekRankTable td input {
	height:20px;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.teamWeekRankTable tr  {
	line-height: 25px;
}

.teamWeeklyRankings  {
	width: 100%; 
}

.teamWeeklyRankings  th {
	text-align: center; 
	vertical-align: middle;
	/*color: #6C0000;*/
	font-size: 14px;
	font-weight: bold;
	/*border-top: 1px solid red;*/
	/*border-bottom: 2px solid #6C0000;*/
}

.teamWeeklyRankings td  {
	font-size: 12px;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

.teamWeeklyRankings tr  {
	line-height: 35px;
}


.TeamWeeklyRankingsInfoTable  {
	width: 100%; 
	background-color:white;
	border:2px solid white;
	overflow-x: scroll;
}

.TeamWeeklyRankingsTableItemsCenter   {
	text-align: center; 
	vertical-align: middle;
	font-size: 16px;
	font-weight: bold;
}

.TeamWeeklyRankingsTable tr  {
	line-height: 35px;
}

.miscTitle {
	background-color:#058689;
	border:2px solid #058689;
	color:white;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.miscText {
	color:#058689;
	background-color:white;
	border:2px solid white;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}


.miscData {
	background-color:white;
	border:2px solid white;
	color:black;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.scrollClass {
	overflow: auto;
	height: 480px;
}

.ScriptscrollClass {
	overflow: auto;
	height: 480px;
	padding:15px;
	width:99%;
}

.MemberWeeklyTable {
	padding-top:20px;
	padding: 3px;  
	width:100%;
	font-size: 14px;
}

.MemberWeeklyTable img {
	padding:3px;
}

.MemberWeeklyTable th {
	text-align: center; 
}

.leaderBoardTable  {
	width: 100%; 
	font-size: 16px;
}

/* this is a hack fix to bootstrap table responsive issue */
.table-responsive {
	overflow-x: auto;
}

.leaderBoardTable img {
	padding:3px;
}

.leaderBoardTable th {
	text-align: center; 
}

.leaderBoardTable tr {
	border-top: none;
}

.leaderBoardPanelTitle {
	color:white;
	font-family: 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;	 
	font-weight: 700;
	text-align:center; 
	font-size: 26px;
}

.teamSelected  {
	background-color: maroon;
	color:white; 
	border:1px solid maroon;
}

.expertRole  {
	color:#8c072a;
	text-align: left;
	vertical-align:middle;
	background-color: #f7edef;
}

.expertRoleNoAlign  {
	color:#8c072a;
	background-color: #f7edef;
}

.expertRoleCenterAlign  {
	color:#8c072a;
	background-color: #f7edef;
	text-align: center;
}

.teamWon  {
	background-color: #006600;
	color:white; 	
	border:1px solid white;
}

.teamLost  {
	color:black; 
}

/*.teamNotSelected  {
	background-color: white;
	color:black; 
}*/

.menuItems {
	padding-top:10px;
	padding-right:20px;
	font-size: 17px;
}

.tableItems {
	width:100%;
}

/*.tableItems tr {
	border-bottom: 1px solid lightgrey;
}*/

.tableItems tr td {
	padding:3px;
	font-size: 16px;
}

.tableItems tr th {
	padding:3px;
	font-size: 18px;
	color:black;
	text-align: center;
	border-bottom: 1px solid lightgrey;
}

.teamTitleSpacing {
	height:10px;
	width:100%;
	background:white;
}

.teamTitleConf {
	color:white;
	padding-left:10px;
	font-size: 24px;
	font-style: italic;
	font-variant: small-caps;
	letter-spacing: 3px;
}

.pickTeamsList {

}

.pickTeamsList hr { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    color:teal;
    border-width: 1px;
}

.pickTeamsPickPair {
	font-size: 18px;
	font-weight: 700;
	font-variant: small-caps;
    padding-top: 5px;
    padding-bottom: 5px;
}

.pickTeamsPair {
	font-size: 12px;
	font-weight: 700;
	font-variant: small-caps;
    padding-top: 5px;
    padding-bottom: 5px;
}
.teamTitleDiv {
	color:white;
	padding-left:10px;
	font-size: 18px;
	font-style: italic;
	font-variant: small-caps;
	letter-spacing: 2px;
}

.afctitle  {
	background:maroon;
}

.nfctitle  {
	background:#000066;
}

/* teaminfoGrid grid */
.teaminfoGrid {
    width: 100%;
    height: 200px;
}

/* gameinfoGrid grid */
.gameinfoGrid {
    width: 100%;
    height: 200px;
}

.teamdetailTableFirstRow {
	width:20%;
}

.hallFameParagraph {
	text-align: left;
	font-size: 18px;
}

.hallFameParagraphCaptionHeader {
	text-align: center;
	font-size: 20px;
	font-weight:500;
	color:#00BBC0;
}

/*banner stuff*/
.bannerText  {
	font-size: 24px;
	font-family: "Balthazar", Arial, Helvetica, sans-serif;
}

.bannerTextSmall {
	font-size: 13px;
	font-family: "Balthazar", Arial, Helvetica, sans-serif;
}

/*imgae css*/
.centeredImage {
	text-align: center;
	/*clear: left;*/
    margin-right: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	width:'100%';
}

/* all page css */
.topPagePosition {
	padding-top:0px; 
}

.pageCaption {
	padding-left:15px;
	padding-bottom:15px;
	/*height: 35px;*/
/*	padding-top:50px;*/
	color:maroon;
	font-weight:600; 
}

.panelCaption {
	color:teal;
	font-weight:700; 
}

.panelTable {
	/*color:teal;*/
	/*font-weight:700; */
	line-height: 35px;
	border-color: white;
}

.subpanelCaption {	
	color:red;
	font-weight:600; 
}

.pageStandardOffset {
	padding-left:0px;
	padding-right:15px;
}

.pageNavbarOffset {
	/*padding-top:70px;*/
	padding-top:60px;
}

.horizontalFieldOffset {
	padding-left:15px;
	padding-right:15px;
}

.verticalFieldOffset {
	padding-left:15px;
	padding-top:5px;
	padding-bottom:5px;
}

.objectOffset {
	padding-top:15px;
	padding-bottom:15px;
}

.inboxTableFirstRow {
	width:20%;
}

.keyrequestsTableFirstRow {
	width:20%;
}

.keyrequestDetailTableFirstRow {
	width:35%;
}

/* inbox grid */
.inboxGrid {
    width: 100%;
    height: 250px;
}

/* keyRequestsGrid grid */
.keyRequestsGrid {
    width: 100%;
    height: 250px;
}

.header-filtered {
  color: blue;
}

/*panel images */
.panel-img {
    margin-left:auto;
    margin-right:auto;
    width:"100%" !important;
    /*height:350px !important;*/
}

/*drop down boostrap menus */
.dropdown :hover {
    cursor: pointer;
}

/*boostrap collabsable*/
.panel-title :hover {
    cursor: pointer;
}

.showPointer :hover {
    cursor: pointer;
}

#anchorMessage {
    text-decoration:none; 
    font-style:italic; 
    color:black;
    font-weight:bold;
}

#anchorMessage :hover {
    text-decoration:none; 
    font-style:italic; 
    color:red;
    font-weight:bold;
}


/*ddd footer*/
.ddd-footer {
	background:white;
	/*height:125px;*/
	color:red;
	font-size:15px;
	text-decoration: none;
	font-family:"Lusitana", Arial, Helvetica, sans-serif;
}

.ddd-footer-text-green {
	font-style:italic;
	font-weight:bold;
	font-size:18px;
	color:#74d680;  
}

/* ddd paragraph text large */
.ddd-paragraph {
	color:grey;
	font-size:18px;
	font-weight:300;
	/*font-family:"Lusitana", Arial, Helvetica, sans-serif;*/
	padding:15px;
}

.ddd-paragraph-header-large {
	color:black;
	font-size:18px;
	font-weight:600;
	/*font-family:"Lusitana", Arial, Helvetica, sans-serif;*/
}

.ddd-paragraph-large {
	color:black;
	font-size:20px;
	font-weight:300;
	/*font-family:Verdana, Arial, Helvetica, sans-serif;*/
}

.ddd-paragraph-large li {
	padding-top:10px;
}

/*Angular-ChartJS */
.chart-container {
    width: 100%;
    height: 100%;
}

.teamStatsChart {
    /*width: 500px;*/
    height: 300px;
}

.horizontalContainer {
	font-size: 0; /* Required because inline-block elements have space between them. Other possible solutions for the problem: http://css-tricks.com/fighting... */
	overflow: auto;
	overflow-y: hidden;
	white-space: nowrap; /* actually this line of code does the "magic" */
	width: 100%;
	height: 100%;
}

.horizontalContainer > article {
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.didyouknowHeaders {
	/*font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 20px;
	color: #b57f7f;*/
	color:#00BBC0;
	font-family: 'aileronthin', 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;
	font-weight: 700;
	font-size: 24px;
}

.didyouknowSubHeaders {
	padding-top:15px;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	color:#c2cddb;
}

.didyouknowSubHeadersText {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color:#c2cddb;
}

.didyouknowBody {
	/*font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 17px;
	color: #999999;*/
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 17px;
}

.surveyHomePage {
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 18px;
	color: #b57f7f;
}

.surveyQuestionResponeHomePage {
	font-family: 'Lato', sans-serif;
	font-weight: 800;
	font-size: 22px;
	color: #000080;
}

.surveyYesNo {
	color:#6C0000;
	font-family: 'aileronthin', 'Damion', 'Oleo Script Swash Caps', Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
}

.surveyPanelHeading  {
    color: white;
}

.surveyStandardOffset {
	padding-left:35px;
	padding-right:15px;
}

.nflObservationsHeaders {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #00BBC0;
}

.nflObservationsSubHeaders {
	padding-top:27px;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	color:#94eace;
}

.nflObservationsSubHeadersText {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 25px;
	color:#d68ca7;
}

.nflObservationsTableText tr {
	font-size:16px;
	font-weight:bold;
	padding-top:15px;
	color:#929999;
}

.nflObservationsTableText td {
	font-size:18px;
	font-weight:bold;
	padding:3px;
	color:#929999;
}

.nflObservationsTableText th {
	font-size:25px;
	font-weight:bold;
	padding:5px;
	color:#929999;
}

.nflBracketText {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 25px;
	color:#4ba0c2;
}
