<div class="pageNavbarOffset">&nbsp;</div>

<div class="pageCaption row">
     <div class="col-md-12">
     	<h2 class="headerTitle">Team Season Information</h2>
 	</div> <!-- end of column -->
</div> <!-- end of row -->

<div class="pageStandardOffset row">
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		        <h3 class="panel-title">Post Season Team Information</h3>
			</div>

			<div class="panel-body">
				<div class="pageStandardOffset">
				<form id="teamSeasonForm" name="teamSeasonForm">
					<div class="form-group">
		            	<label for="season" class="control-label">Season</label>
			            <select class="form-control" ng-model="current.season"  id="season" name="season">
		                    <option ng-repeat="season in seasons" ng-selected="current.season == season.season" value="{{season.season}}">{{season.season}}</option>
	                    </select>                 
		            </div> <!-- end of form-group -->

		            <div class="form-group">
		            	<label for="teamid" class="control-label">Team</label>
			            <select class="form-control" ng-model="current.teamid"  id="teamid" name="teamid">
		                    <option ng-repeat="team in teams" ng-selected="current.teamid == team.id" value="{{team.id}}">{{team.location}} {{team.name}}</option>
	                    </select>                 
		            </div> <!-- end of form-group -->

		            <div class="form-group">
		            	<label for="postseasonstatus" class="control-label">Post Season Status</label>
			            <select class="form-control" ng-model="current.postseasonstatus"  id="postseasonstatus" name="postseasonstatus">
		                    <option ng-repeat="postseasonstatus in postseasonstatuses" ng-selected="current.postseasonstatus == postseasonstatus.id" value="{{postseasonstatus.id}}">{{postseasonstatus.title}}</option>
	                    </select>                 
		            </div> <!-- end of form-group -->

		            <div style="padding-top:15px;" class="form-group">
		                <button style="width:20%;" class="btn btn-info btn-sm" ng-click="showTeamSeasonInfoRequest()" id="showTeamSeasonInfoRequestButton" name="showTeamSeasonInfoRequestButton" >Show</button>

		                <button style="width:20%;" class="btn btn-info btn-sm" ng-click="updateTeamSeasonInfoRequest()" id="updateTeamSeasonInfoRequestButton" name="updateTeamSeasonInfoRequestButton" >Update</button>
		            </div> <!-- end of form-group -->

		        </form> <!-- end of form -->
				</div> 	<!-- end of offset -->
			</div> <!-- end of panel body -->
		</div> <!-- end of panel -->
	</div> <!-- end of col 12 -->
</div> <!-- end of row -->
